<!--
  #############
  Alert Pages
  #############
-->
<section class="elements">
  <div class="container">
    <!--Default Alerts-->
    <div class="row ">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <div class="elements-header">
              <h2>Default Alerts</h2>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view3" data-bs-toggle="tab" data-bs-target="#tabs-view3" type="button" role="tab" >
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML3" data-bs-toggle="tab" data-bs-target="#tabs-HTML3" type="button" role="tab" >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>
              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view1" role="tabpanel" aria-labelledby="tabs-aria-view3">
                  <div class="tab-item ">
                    <div class="alert alert-primary" role="alert">
                      A simple primary alert—check it out!
                    </div>
                    <div class="alert alert-secondary" role="alert">
                      A simple secondary alert—check it out!
                    </div>
                    <div class="alert alert-success" role="alert">
                      A simple success alert—check it out!
                    </div>
                    <div class="alert alert-danger" role="alert">
                      A simple danger alert—check it out!
                    </div>
                    <div class="alert alert-warning" role="alert">
                      A simple warning alert—check it out!
                    </div>
                    <div class="alert alert-info" role="alert">
                      A simple info alert—check it out!
                    </div>
                    <div class="alert alert-white" role="alert">
                      A simple light alert—check it out!
                    </div>
                    <div class="alert alert-dark" role="alert">
                      A simple dark alert—check it out!
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML3" role="tabpanel" aria-labelledby="tabs-aria-HTML3">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Default Alerts--&gt;
                        &lt;div class=&quot;alert alert-primary&quot; role=&quot;alert&quot;&gt;
                          A simple primary alert&mdash;check it out!
                        &lt;/div&gt;
                        &lt;div class=&quot;alert alert-secondary&quot; role=&quot;alert&quot;&gt;
                          A simple secondary alert&mdash;check it out!
                        &lt;/div&gt;
                        &lt;div class=&quot;alert alert-success&quot; role=&quot;alert&quot;&gt;
                          A simple success alert&mdash;check it out!
                        &lt;/div&gt;
                        &lt;div class=&quot;alert alert-danger&quot; role=&quot;alert&quot;&gt;
                          A simple danger alert&mdash;check it out!
                        &lt;/div&gt;
                        &lt;div class=&quot;alert alert-warning&quot; role=&quot;alert&quot;&gt;
                          A simple warning alert&mdash;check it out!
                        &lt;/div&gt;
                        &lt;div class=&quot;alert alert-info&quot; role=&quot;alert&quot;&gt;
                          A simple info alert&mdash;check it out!
                        &lt;/div&gt;
                        &lt;div class=&quot;alert alert-white&quot; role=&quot;alert&quot;&gt;
                          A simple light alert&mdash;check it out!
                        &lt;/div&gt;
                        &lt;div class=&quot;alert alert-dark&quot; role=&quot;alert&quot;&gt;
                          A simple dark alert&mdash;check it out!
                        &lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
          </div>       
        </div>
      </div>
    </div>
    <!--Default Alert-->

    <!-- Alerts With Icons-->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Alerts with Icons and link Text</h2>
              <p class="my-3">To add a linkable text just add a link with <span class="highlight">.alert-link</span> class</p>
            </div>
          </div>
          <div class="col-12">

            <div class="elements-tabs">
              <nav>
                <div class="nav" role="tablist">
                  <button class="nav-link active" id="tabs-aria-view4" data-bs-toggle="tab" data-bs-target="#tabs-view4" type="button" role="tab" >
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML4" data-bs-toggle="tab" data-bs-target="#tabs-HTML4" type="button" role="tab" >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>
              
              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view4" role="tabpanel" aria-labelledby="tabs-aria-view4">
                  <div class="tab-item ">
                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                      <svg class="bi flex-shrink-0 me-3" width="24" height="24" role="img" aria-label="Info:" fill="currentColor" viewBox="0 0 16 16">
                          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
                      </svg>
                      <div>
                        An example alert with an icon and <a href="#" class="alert-link">link</a>
                      </div>
                    </div>
                    <div class="alert alert-secondary d-flex align-items-center" role="alert" >
                      <svg class="bi flex-shrink-0 me-3" width="24" height="24" role="img" aria-label="Success:" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                      </svg>
                      <div>
                        An example success alert with an icon and <a href="#" class="alert-link">link</a>
                      </div>
                    </div>
                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                      <svg class="bi flex-shrink-0 me-3" width="24" height="24" role="img" aria-label="Warning:"  fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg>
                      <div>
                        An example warning alert with an icon and <a href="#" class="alert-link">link</a>
                      </div>
                    </div>
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                      <svg class="bi flex-shrink-0 me-3" width="24" height="24" role="img" aria-label="Danger:"  fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg>
                      <div>
                        An example danger alert with an icon and <a href="#" class="alert-link">link</a>
                      </div>
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML4" role="tabpanel" aria-labelledby="tabs-aria-HTML4">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Alerts Icons and link--&gt;
                        &lt;div class=&quot;alert alert-primary d-flex align-items-center&quot; role=&quot;alert&quot;&gt;
                          &lt;svg class=&quot;bi flex-shrink-0 me-3&quot; width=&quot;24&quot; height=&quot;24&quot; role=&quot;img&quot; aria-label=&quot;Info:&quot; fill=&quot;currentColor&quot; viewBox=&quot;0 0 16 16&quot;&gt;
                              &lt;path d=&quot;M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z&quot;&gt;&lt;/path&gt;
                          &lt;/svg&gt;
                          &lt;div&gt;
                            An example alert with an icon and &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;link&lt;/a&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;alert alert-secondary d-flex align-items-center&quot; role=&quot;alert&quot; &gt;
                          &lt;svg class=&quot;bi flex-shrink-0 me-3&quot; width=&quot;24&quot; height=&quot;24&quot; role=&quot;img&quot; aria-label=&quot;Success:&quot; fill=&quot;currentColor&quot; viewBox=&quot;0 0 16 16&quot;&gt;
                            &lt;path d=&quot;M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z&quot;&gt;&lt;/path&gt;
                          &lt;/svg&gt;
                          &lt;div&gt;
                            An example success alert with an icon and &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;link&lt;/a&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;alert alert-warning d-flex align-items-center&quot; role=&quot;alert&quot;&gt;
                          &lt;svg class=&quot;bi flex-shrink-0 me-3&quot; width=&quot;24&quot; height=&quot;24&quot; role=&quot;img&quot; aria-label=&quot;Warning:&quot;  fill=&quot;currentColor&quot; viewBox=&quot;0 0 16 16&quot;&gt;
                            &lt;path d=&quot;M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z&quot;/&gt;
                          &lt;/svg&gt;
                          &lt;div&gt;
                            An example warning alert with an icon and &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;link&lt;/a&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;alert alert-danger d-flex align-items-center&quot; role=&quot;alert&quot;&gt;
                          &lt;svg class=&quot;bi flex-shrink-0 me-3&quot; width=&quot;24&quot; height=&quot;24&quot; role=&quot;img&quot; aria-label=&quot;Danger:&quot;  fill=&quot;currentColor&quot; viewBox=&quot;0 0 16 16&quot;&gt;
                            &lt;path d=&quot;M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z&quot;/&gt;
                          &lt;/svg&gt;
                          &lt;div&gt;
                            An example danger alert with an icon and &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;link&lt;/a&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>         
        </div>
      </div>
    </div>
    <!-- Alert Icons and link-->

    <!-- Alerts With Additional Content-->
    <div class="row">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <div class="elements-header">
              <h2>Alerts with Additional Content</h2>
            </div>
          </div>
          <div class="col-12">

            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view5" data-bs-toggle="tab" data-bs-target="#tabs-view5" type="button" role="tab" >
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML5" data-bs-toggle="tab" data-bs-target="#tabs-HTML5" type="button" role="tab" >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>        
              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view5" role="tabpanel" aria-labelledby="tabs-aria-view5">
                  <div class="tab-item ">
                    <div class="alert alert-primary" role="alert">
                      <h4 class="alert-heading">Well done!</h4>
                      <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                      <hr>
                      <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML5" role="tabpanel" aria-labelledby="tabs-aria-HTML5">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Alerts with Additional Content--&gt;
                        &lt;div class=&quot;alert alert-primary&quot; role=&quot;alert&quot;&gt;
                          &lt;h4 class=&quot;alert-heading&quot;&gt;Well done!&lt;/h4&gt;
                          &lt;p&gt;Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.&lt;/p&gt;
                          &lt;hr&gt;
                          &lt;p class=&quot;mb-0&quot;&gt;Whenever you need to, be sure to use margin utilities to keep things nice and tidy.&lt;/p&gt;
                        &lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>       
        </div>
      </div>
    </div>
    <!-- Alert with Additional Content-->

    <!-- Dismissible Alerts -->
    <div class="row">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <div class="elements-header">
              <h2>Dismissible Alerts</h2>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view6" data-bs-toggle="tab" data-bs-target="#tabs-view6" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML6" data-bs-toggle="tab" data-bs-target="#tabs-HTML6" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>  
              <div class="tab-content " >
                <div class="tab-pane fade show active " id="tabs-view6" role="tabpanel" aria-labelledby="tabs-aria-view6">
                  <div class="tab-item ">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <strong>Holy guacamole!</strong> You should check in on some of those fields below. 
                      <button type="button" class="btn-close ms-2 m-auto" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML6" role="tabpanel" aria-labelledby="tabs-aria-HTML6">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Dismissible Alerts--&gt;
                        &lt;div class=&quot;alert alert-danger alert-dismissible fade show&quot; role=&quot;alert&quot;&gt;
                          &lt;strong&gt;Holy guacamole!&lt;/strong&gt; You should check in on some of those fields below. 
                          &lt;button type=&quot;button&quot; class=&quot;btn-close ms-2 m-auto&quot; data-bs-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;
                        &lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>      
        </div>
      </div>
    </div>
    <!-- Dismissible Alerts-->
  </div>
</section>