<!--
  #############
  Badges Pages
  #############
-->
<section class=" elements">
  <div class="container">
    <!--Normal Badge-->
    <div class="row ">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <div class="elements-header">
              <h2>Badge Default</h2>
              <p>
                Use the <span class="highlight"> .badge  </span> class with <span class="highlight">  &lt;span&gt; </span> element inside main element.</p>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view7" data-bs-toggle="tab" data-bs-target="#tabs-view7" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML7" data-bs-toggle="tab" data-bs-target="#tabs-HTML7" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav> 
              <div class="tab-content p-4 shadow" >
                <div class="tab-pane fade show active " id="tabs-view7" role="tabpanel" aria-labelledby="tabs-aria-view7">
                  <div class="tab-item ">
                    <h1 class="mb-4">Example heading <span class="badge badge-default badge-lg ms-3">New</span></h1>
                    <h3 class="mb-4">Example heading <span class="badge badge-default ms-3">New</span></h3>
                    <h4 class="mb-4">Example heading <span class="badge badge-default  ms-3">New</span></h4>
                    <h6 class="mb-4">Example heading <span class="badge badge-default  ms-3">New</span></h6>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML7" role="tabpanel" aria-labelledby="tabs-aria-HTML7">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Badges Default--&gt;
                        &lt;h1&gt;Example heading &lt;span class=&quot;badge badge-default badge-lg ms-3&quot;&gt;New&lt;/span&gt;&lt;/h1&gt;
                        &lt;h3&gt;Example heading &lt;span class=&quot;badge badge-default ms-3&quot;&gt;New&lt;/span&gt;&lt;/h3&gt;
                        &lt;h4 &gt;Example heading &lt;span class=&quot;badge badge-default  ms-3&quot;&gt;New&lt;/span&gt;&lt;/h4&gt;
                        &lt;h6 &gt;Example heading &lt;span class=&quot;badge badge-default  ms-3&quot;&gt;New&lt;/span&gt;&lt;/h6&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </div>
    <!--Normal Badge-->
    <!-- Badge in Background-->
    <div class="row ">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <div class="elements-header">
              <h2>Badge with Background</h2>
              <p>
                Add the <span class="highlight"> .badge-primary  </span> class with <span class="highlight"> .badge-bg  </span> to add background.
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view8" data-bs-toggle="tab" data-bs-target="#tabs-view8" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML8" data-bs-toggle="tab" data-bs-target="#tabs-HTML8" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav> 
              <div class="tab-content " >
                <div class="tab-pane fade show active " id="tabs-view8" role="tabpanel" aria-labelledby="tabs-aria-view8">
                  <div class="tab-item ">
                    <span class="badge-bg badge-primary mb-3">Primary</span><p></p>
                    <span class="badge-bg badge-info mb-3">Secondary</span><p></p>
                    <span class="badge-bg badge-success mb-3">Success</span><p></p>
                    <span class="badge-bg badge-danger mb-3">Danger</span><p></p>
                    <span class="badge-bg badge-warning mb-3">Warning</span><p></p>
                    <span class="badge-bg badge-dark mb-3">Dark</span><p></p>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML8" role="tabpanel" aria-labelledby="tabs-aria-HTML8">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Badges Background--&gt;
                        &lt;span class=&quot;badge-bg badge-primary&quot;&gt;Primary&lt;/span&gt;&lt;p&gt;&lt;/p&gt;
                        &lt;span class=&quot;badge-bg badge-info &quot;&gt;Secondary&lt;/span&gt;&lt;p&gt;&lt;/p&gt;
                        &lt;span class=&quot;badge-bg badge-success &quot;&gt;Success&lt;/span&gt;&lt;p&gt;&lt;/p&gt;
                        &lt;span class=&quot;badge-bg badge-danger &quot;&gt;Danger&lt;/span&gt;&lt;p&gt;&lt;/p&gt;
                        &lt;span class=&quot;badge-bg badge-warning &quot;&gt;Warning&lt;/span&gt;&lt;p&gt;&lt;/p&gt;
                        &lt;span class=&quot;badge-bg badge-dark &quot;&gt;Dark&lt;/span&gt;&lt;p&gt;&lt;/p&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>       
        </div>
      </div>
    </div>
    <!--Badge in Background -->

    <!-- Badge Outline-->
    <div class="row">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <div class="elements-header">
              <h2>Badge  Outline</h2>
              <p>
              Add the <span class="highlight">  badge-soft-primary-light  </span> class with <span class="highlight"> .badge  </span> to add light background.</p>
            </div>
            
            <hr>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view9" data-bs-toggle="tab" data-bs-target="#tabs-view9" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML9" data-bs-toggle="tab" data-bs-target="#tabs-HTML9" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>
              <div class="tab-content " >
                <div class="tab-pane fade show active " id="tabs-view9" role="tabpanel" aria-labelledby="tabs-aria-view9">
                  <div class="tab-item ">
                    <span class="badge-outline badge-outline-primary mb-3">Primary</span><p></p>
                    <span class="badge-outline badge-outline-info mb-3">Secondary</span><p></p>
                    <span class="badge-outline badge-outline-success mb-3">Success</span><p></p>
                    <span class="badge-outline badge-outline-danger mb-3">Danger</span><p></p>
                    <span class="badge-outline badge-outline-warning mb-3">Warning</span><p></p>
                    <span class="badge-outline badge-outline-dark mb-3">Dark</span><p></p>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML9" role="tabpanel" aria-labelledby="tabs-aria-HTML9">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Badges Light--&gt;
                        &lt;span class=&quot;badge-outline badge-outline-outline-primary&quot;&gt;Primary&lt;/span&gt;&lt;p&gt;&lt;/p&gt;
                        &lt;span class=&quot;badge-outline badge-outline-outline-info &quot;&gt;Secondary&lt;/span&gt;&lt;p&gt;&lt;/p&gt;
                        &lt;span class=&quot;badge-outline badge-outline-outline-success &quot;&gt;Success&lt;/span&gt;&lt;p&gt;&lt;/p&gt;
                        &lt;span class=&quot;badge-outline badge-outline-outline-danger &quot;&gt;Danger&lt;/span&gt;&lt;p&gt;&lt;/p&gt;
                        &lt;span class=&quot;badge-outline badge-outline-outline-warning &quot;&gt;Warning&lt;/span&gt;&lt;p&gt;&lt;/p&gt;
                        &lt;span class=&quot;badge-outline badge-outline-outline-dark &quot;&gt;Dark&lt;/span&gt;&lt;p&gt;&lt;/p&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>         
        </div>
      </div>
    </div>
    <!--Badge in Badge Outline-->
  </div>
</section>
