<!--
  #############
  Button Pages
  #############
-->
<section class=" elements">
  <div class="container">
    <!--Normal Buttons-->
    <div class="row">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <div class="elements-header">
              <h2>Standard Buttons</h2>
              <p>
              The default button style for Consultant using the <span class="highlight">.btn  </span> class. Customize the size of the buttons using <span class="highlight">.btn-xl  </span>, <span class="highlight">.btn-lg  </span> and <span class="highlight">.btn-sm  </span></p>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view12" data-bs-toggle="tab" data-bs-target="#tabs-view12" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML12" data-bs-toggle="tab" data-bs-target="#tabs-HTML12" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>

              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view12" role="tabpanel" aria-labelledby="tabs-aria-view12">
                  <div class="tab-item ">
                    <button class="btn btn-primary btn-xl mb-4">Button large</button> <br>
                    <button  class="btn btn-links btn-lg mb-4 ">Button Default</button><br>
                    <button   class="btn  btn-primary btn-sm mb-4">Small</button><br>
                    <button  class="btn btn-primary btn-lg btn-icon  mb-4">
                        <i class="ph-arrow-right"></i>
                        <span> Large Icon </span>
                    </button>
                    <button  class="btn btn-link-icon mb-4">
                      <i class="ph-arrow-right"></i>
                      <span> Text + Icon </span>
                    </button>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML12" role="tabpanel" aria-labelledby="tabs-aria-HTML12">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Default Button--&gt;
                        &lt;button class=&quot;btn btn-primary btn-xl &quot;&gt;Button large&lt;/button&gt; 

                        &lt;button class=&quot;btn btn-links btn-lg &quot;&gt;Button Default&lt;/button&gt;

                        &lt;button class=&quot;btn  btn-primary btn-sm &quot;&gt;Small&lt;/button&gt;

                        &lt;button class=&quot;btn btn-primary btn-lg btn-icon &quot;&gt;
                            &lt;i class=&quot;ph-arrow-right&quot;&gt;&lt;/i&gt;
                            &lt;span&gt; Large Icon &lt;/span&gt;
                        &lt;/button&gt;

                        &lt;button class=&quot;btn btn-link-icon mb-4&quot;&gt;
                          &lt;i class=&quot;ph-arrow-right&quot;&gt;&lt;/i&gt;
                          &lt;span&gt; Text + Icon &lt;/span&gt;
                        &lt;/button&gt;

                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!--Normal Buttons-->

    <!-- Colors Buttons-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Colored Buttons</h2>
              <p>
              The default button style for Consultant using the <span class="highlight">.btn  </span> class. Customize the color of the buttons using <span class="highlight">.btn-primary  </span> , <span class="highlight">.btn-secondary  </span> and so on. </p>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view13" data-bs-toggle="tab" data-bs-target="#tabs-view13" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML13" data-bs-toggle="tab" data-bs-target="#tabs-HTML13" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>

              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view13" role="tabpanel" aria-labelledby="tabs-aria-view13">
                  <div class="tab-item ">
                    <button class="btn btn-xl btn-primary  mt-4">Button Primary</button><br>
                    <button class="btn btn-xl btn-secondary mt-4">Button Secondary</button><br>
                    <button class="btn btn-xl btn-success mt-4">Button Success</button><br>
                    <button class="btn btn-xl btn-danger mt-4">Button Danger</button><br>
                    <button class="btn btn-xl btn-warning mt-4">Button Warning</button><br>
                    <button class="btn btn-xl btn-dark mt-4">Button Dark</button><br>
                    <button class="btn btn-xl btn-light mt-4">Button Light </button><br>
                    <button class="btn btn-xl btn-disabled disabled mt-4 ">Button Disabled </button><br>
                    <button class="btn btn-xl btn-link mt-4">Button Link</button><br>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML13" role="tabpanel" aria-labelledby="tabs-aria-HTML13">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Button Primary--&gt;
                        &lt;button class=&quot;btn btn-xl btn-primary &quot;&gt;Button Primary&lt;/button&gt;
                        &lt;button class=&quot;btn btn-xl btn-secondary&quot;&gt;Button Secondary&lt;/button&gt;
                        &lt;button class=&quot;btn btn-xl btn-success&quot;&gt;Button Success&lt;/button&gt;
                        &lt;button class=&quot;btn btn-xl btn-danger&quot;&gt;Button Danger&lt;/button&gt;
                        &lt;button class=&quot;btn btn-xl btn-warning&quot;&gt;Button Warning&lt;/button&gt;
                        &lt;button class=&quot;btn btn-xl btn-dark&quot;&gt;Button Dark&lt;/button&gt;
                        &lt;button class=&quot;btn btn-xl btn-light&quot;&gt;Button Light &lt;/button&gt;
                        &lt;button class=&quot;btn btn-xl btn-disabled disabled &quot;&gt;Button Disabled &lt;/button&gt;
                        &lt;button class=&quot;btn btn-xl btn-link&quot;&gt;Button Link&lt;/button&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>      
        </div>
      </div>
    </div>
    <!--Color Buttons-->

    <!-- Outline Buttons-->
    <div class="row ">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <div class="elements-header">
              <h2>Outline Buttons</h2>
            <p>
              The default button style for Consultant using the <span class="highlight">.btn  </span> class. Customize the color of the buttons using <span class="highlight">.btn-primary  </span> , <span class="highlight">.btn-secondary  </span> and so on. </p>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view14" data-bs-toggle="tab" data-bs-target="#tabs-view14" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML14" data-bs-toggle="tab" data-bs-target="#tabs-HTML14" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>
              <div class="tab-content p-4 shadow" >
                <div class="tab-pane fade show active " id="tabs-view14" role="tabpanel" aria-labelledby="tabs-aria-view14">
                  <div class="tab-item ">
                    <button class="btn btn-xl btn-outline-primary mt-4">Button Primary</button><br>
                    <button class="btn btn-xl btn-outline-secondary mt-4">Button Secondary</button><br>
                    <button class="btn btn-xl btn-outline-success mt-4">Button Success</button><br>
                    <button class="btn btn-xl btn-outline-danger mt-4">Button Danger</button><br>
                    <button class="btn btn-xl btn-outline-warning mt-4">Button Warning</button><br>
                    <button class="btn btn-xl btn-outline-light mt-4">Button Light</button><br>
                    <button class="btn btn-xl btn-outline-dark mt-4">Button Dark</button><br>
                    <button class="btn btn-xl btn-outline-disabled disabled mt-4">Button Disabled</button><br>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML14" role="tabpanel" aria-labelledby="tabs-aria-HTML14">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Button Primary--&gt;
                        &lt;button class=&quot;btn btn-xl btn-outline-primary &quot;&gt;Button Primary&lt;/button&gt;

                        &lt;button class=&quot;btn btn-xl btn-outline-secondary&quot;&gt;Button Secondary&lt;/button&gt;

                        &lt;button class=&quot;btn btn-xl btn-outline-success&quot;&gt;Button Success&lt;/button&gt;

                        &lt;button class=&quot;btn btn-xl btn-outline-danger&quot;&gt;Button Danger&lt;/button&gt;

                        &lt;button class=&quot;btn btn-xl btn-outline-warning&quot;&gt;Button Warning&lt;/button&gt;

                        &lt;button class=&quot;btn btn-xl btn-outline-dark&quot;&gt;Button Dark&lt;/button&gt;

                        &lt;button class=&quot;btn btn-xl btn-outline-light&quot;&gt;Button Light &lt;/button&gt;

                        &lt;button class=&quot;btn btn-xl btn-outline-disabled disabled &quot;&gt;Button Disabled &lt;/button&gt;

                        &lt;button class=&quot;btn btn-xl btn-outline-link&quot;&gt;Button Link&lt;/button&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>

            </div>
            
          </div>      
        </div>
      </div>
    </div>
    <!--Outline Buttons-->
  </div>
</section>