<!--
  #############
  Card Pages
  #############
-->
<section class=" elements">
  <div class="container">
    <!--Card Items WIth No Image-->
    <div class="row ">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>No Image</h2>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view15" data-bs-toggle="tab" data-bs-target="#tabs-view15" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML15" data-bs-toggle="tab" data-bs-target="#tabs-HTML15" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav> 
              <div class="tab-content " >
                <div class="tab-pane fade show active " id="tabs-view15" role="tabpanel" aria-labelledby="tabs-aria-view15">
                  <div class="tab-item ">
                    <div class="card card-width">
                      <div class="card-body">
                        <h3 class="card-title">Cards</h3>
                        <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-primary btn-sm" href="card.html">Explore </a>
                      </div>
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML15" role="tabpanel" aria-labelledby="tabs-aria-HTML15">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Card Without Image--&gt;
                        &lt;div class=&quot;card&quot;&gt;
                          &lt;div class=&quot;card-body&quot; &gt;
                            &lt;h3 class=&quot;card-title&quot; &gt;Cards&lt;/h3&gt;
                            &lt;p class=&quot;card-text lh-lg&quot;&gt;
                              Some quick example text to build 
                              on the card title and make up the bulk 
                              of the card's content.
                            &lt;/p&gt;
                            &lt;a href=&quot;#&quot; class=&quot;btn btn-primary btn-sm&quot;&gt; Explore &lt;/a&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>     
        </div>
      </div>
    </div>
    <!--Card Items WIth No Image-->
    <!--Card Items WIth  Image-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <!--Card Items WIth No Image-->
          <div class="col-12">
            <div class="elements-header">
              <h2> Cards with Image</h2> 
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view16" data-bs-toggle="tab" data-bs-target="#tabs-view16" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML16" data-bs-toggle="tab" data-bs-target="#tabs-HTML16" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav> 
              <div class="tab-content " >
                <div class="tab-pane fade show active " id="tabs-view16" role="tabpanel" aria-labelledby="tabs-aria-view16">
                  <div class="tab-item ">
                    <div class="card w-lg-40 w-md-75">
                      <img src="images/blog/featured-thumb2.png" class="card-img-top" alt=".">
                      <div class="card-body">
                        <h3>Cards</h3>
                        <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-primary btn-sm" href="card.html">Explore </a>
                      </div>
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML16" role="tabpanel" aria-labelledby="tabs-aria-HTML16">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Card With Image--&gt;
                        &lt;div class=&quot;card &quot;&gt;
                          &lt;img src=&quot;images/blog/featured-thumb2.png&quot; class=&quot;card-img-top&quot; alt=&quot;Card Thumbnail&quot;&gt;
                          &lt;div class=&quot;card-body&quot;&gt;
                          &lt;h3 class=&quot;card-title&quot; &gt;Cards&lt;/h3&gt;
                            &lt;p class=&quot;card-text lh-lg&quot;&gt;
                            Some quick example text to build on 
                            the card title and make up the 
                            bulk of the card's content.&lt;/p&gt;
                            &lt;a href=&quot;#&quot; class=&quot;btn btn-primary btn-sm&quot;&gt; Explore &lt;/a&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>

            
          </div>   
        </div>
      </div>
    </div>
    <!--Card Items WIth  Image-->
    <!--Card Items WIth  Background-->
    <div class="row ">
      <div class="col-md-12">
        <div class="row ">
          <!--Card Items WIth No Image-->
          <div class="col-12">
            <h2> Card Items with  Background </h2>
            <p>For card background add <span class="highlight">.card-bg-**</span> with color name. Such as <span class="highlight">.card-bg-primary</span></p>
            <hr>
          </div>
          <!--Card bg Primary-->
          <div class="col-12">
            <div class="elements-tabs">

              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view17" data-bs-toggle="tab" data-bs-target="#tabs-view17" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML17" data-bs-toggle="tab" data-bs-target="#tabs-HTML17" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>
  
              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view17" role="tabpanel" aria-labelledby="tabs-aria-view17">
                  <div class="tab-item ">
                    <div class="row">
                      <!--Card bg Primary-->
                      <div class="col-md-4">
                        <div class="card card-bg-primary">
                          <div class="card-body">
                            <h3>Cards</h3>
                            <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-primary btn-sm" href="card.html">Explore </a>
                          </div>
                        </div>
                      </div>
                      <!--Card bg Primary-->
                      <!--Card bg Secondary-->
                      <div class="col-md-4">
                        <div class="card card-bg-secondary">
                          <div class="card-body">
                            <h3>Cards</h3>
                            <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-primary btn-sm" href="card.html">Explore </a>
                          </div>
                        </div>
                      </div>
                      <!--Card bg Secondary-->
                      <!--Card bg success-->
                      <div class="col-md-4">
                        <div class="card card-bg-success">
                          <div class="card-body">
                            <h3>Cards</h3>
                            <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-primary btn-sm" href="card.html">Explore </a>
                          </div>
                        </div>
                      </div>
                      <!--Card bg success-->
                      <!--Card bg Danger-->
                      <div class="col-md-4">
                        <div class="card card-bg-danger">
                          <div class="card-body">
                            <h3>Cards</h3>
                            <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-primary btn-sm" href="card.html">Explore </a>
                          </div>
                        </div>
                      </div>
                      <!--Card bg Danger-->
                      <!--Card bg warning-->
                      <div class="col-md-4">
                        <div class="card card-bg-warning">
                          <div class="card-body">
                            <h3>Cards</h3>
                            <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-primary btn-sm" href="card.html">Explore </a>
                          </div>
                        </div>
                      </div>
                      <!--Card bg warning-->
                      <!--Card bg dark-->
                      <div class="col-md-4">
                        <div class="card card-bg-dark">
                          <div class="card-body">
                            <h3>Cards</h3>
                            <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-primary btn-sm" href="card.html">Explore </a>
                          </div>
                        </div>
                      </div>
                      <!--Card bg dark-->
                      <!--Card bg white-->
                      <div class="col-md-4">
                        <div class="card card-bg-white">
                          <div class="card-body">
                            <h3>Cards</h3>
                            <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-primary btn-sm" href="card.html">Explore </a>
                          </div>
                        </div>
                      </div>
                      <!--Card bg white-->
                    </div>
                  </div>          
                </div>
  
                <div class="tab-pane fade" id="tabs-HTML17" role="tabpanel" aria-labelledby="tabs-aria-HTML17">
                  <div class="tab-item ">
                    <!--Card bg Primary-->
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Card with Background Primary--&gt;
                        &lt;div class=&quot;card card-bg-primary&quot;&gt;
                          &lt;div class=&quot;card-body&quot;&gt;
                            &lt;h3&gt;Cards&lt;/h3&gt;
                            &lt;p class=&quot;card-text lh-lg&quot;&gt;Some quick example text to 
                            build on the card title and make up the bulk of 
                            the card's content.&lt;/p&gt;
                            &lt;a class=&quot;btn btn-primary btn-sm&quot; href=&quot;card.html&quot;&gt;Explore &lt;/a&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      </code>
                    </pre>
                    <!--Card bg Primary-->
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!--Card Items WIth  Background-->
  </div>
</section>