<!--
  #############
  Elements Pages
  #############
-->
<section class=" elements  py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>ELements</h2>
        <hr>
        <div class="row position-relative">
          <!--Elements Item Accordion-->
          <div class="col-lg-4 col-md-6">
            <div class="card elements-card">
              <div class="card-body">
                <h6>Accordions</h6>
                <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of
                  the card's content.</p>
                <a href="accordion.html" class=" stretched-link">Explore <span class="fa fa-long-arrow-right"></span></a>
              </div>
            </div>
          </div>
          <!--Elements Item Accordion-->
          <!--Elements Item alerts-->
          <div class="col-lg-4 col-md-6">
            <div class="card elements-card">
              <div class="card-body">
                <h6>Alerts</h6>
                <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="alerts.html" class=" stretched-link">Explore <span class="fa fa-long-arrow-right"></span></a>
              </div>
            </div>
          </div>
          <!--Elements Item alerts-->
          <!--Elements Item Button-->
          <div class="col-lg-4 col-md-6">
            <div class="card elements-card">
              <div class="card-body">
                <h6>Badges</h6>
                <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of
                  the card's content.</p>
                <a href="badge.html" class=" stretched-link">Explore <span class="fa fa-long-arrow-right"></span></a>
              </div>
            </div>
          </div>
          <!--Elements Item Button-->
          <!--Elements Item Button-->
          <div class="col-lg-4 col-md-6">
            <div class="card elements-card">
              <div class="card-body">
                <h6>Buttons</h6>
                <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of
                  the card's content.</p>
                <a href="button.html" class=" stretched-link">Explore <span class="fa fa-long-arrow-right"></span></a>
              </div>
            </div>
          </div>
          <!--Elements Item Button-->
          
          <!--Elements Items Forms -->
          <div class="col-lg-4 col-md-6">
            <div class="card elements-card">
              <div class="card-body">
                <h6>Forms</h6>
                <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of
                  the card's content.</p>
                <a href="form.html" class=" stretched-link">Explore <span class="fa fa-long-arrow-right"></span></a>
              </div>
            </div>
          </div>
          <!--Elements Items Forms-->

          <!--Elements Items Modal-->
          <div class="col-lg-4 col-md-6">
            <div class="card elements-card">
              <div class="card-body">
                <h6>Modals</h6>
                <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="modal.html" class=" stretched-link">Explore <span class="fa fa-long-arrow-right"></span></a>
              </div>
            </div>
          </div>
          <!--Elements Items Modal-->

          <!--Elements Items Navabr-->
          <div class="col-lg-4 col-md-6">
            <div class="card elements-card">
              <div class="card-body">
                <h6>Navbar</h6>
                <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="navbar-style.html" class=" stretched-link">Explore <span class="fa fa-long-arrow-right"></span></a>
              </div>
            </div>
          </div>
          <!--Elements Items Navbar-->

          <!--Elements Items Pagination-->
          <div class="col-lg-4 col-md-6">
            <div class="card elements-card">
              <div class="card-body">
                <h6>Pagination</h6>
                <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of
                  the card's content.</p>
                <a href="pagination.html" class=" stretched-link">Explore <span class="fa fa-long-arrow-right"></span></a>
              </div>
            </div>
          </div>
          <!--Elements Items Pagination-->

          <!--Elements Items Tabs-->
          <div class="col-lg-4 col-md-6">
            <div class="card elements-card">
              <div class="card-body">
                <h6>Tabs</h6>
                <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="tabs.html" class=" stretched-link">Explore <span class="fa fa-long-arrow-right"></span></a>
              </div>
            </div>
          </div>
          <!--Elements Items Tabs-->

          <!--Elements Items Table-->
          <div class="col-lg-4 col-md-6">
            <div class="card elements-card">
              <div class="card-body">
                <h6>Tables</h6>
                <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of
                  the card's
                  content.</p>
                <a href="tables.html" class=" stretched-link">Explore <span class="fa fa-long-arrow-right"></span></a>
              </div>
            </div>
          </div>
          <!--Elements Items Table-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Theme Kits</h2>
        <hr>
        <div class="row position-relative">
          <!--Elements Item Card-->
          <div class="col-lg-4 col-md-6">
            <div class="card elements-card">
              <div class="card-body">
                <h6>Cards</h6>
                <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of
                  the card's content.</p>
                <a href="card.html" class=" stretched-link">Explore <span class="fa fa-long-arrow-right"></span></a>
              </div>
            </div>
          </div>
          <!--Elements Item Card-->
          <!--Elements Items Teams -->
          <div class="col-lg-4 col-md-6">
            <div class="card elements-card">
              <div class="card-body">
                <h6>Teams</h6>
                <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of
                  the card's
                  content.</p>
                <a href="teams.html" class=" stretched-link">Explore <span class="fa fa-long-arrow-right"></span></a>
              </div>
            </div>
          </div>
           <!--Elements Items Teams -->

          <!--Elements Items Testimonials -->
          <div class="col-lg-4 col-md-6">
            <div class="card elements-card">
              <div class="card-body">
                <h6>Testimonials</h6>
                <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of
                  the card's
                  content.</p>
                <a href="testimonials.html" class=" stretched-link">Explore <span class="fa fa-long-arrow-right"></span></a>
              </div>
            </div>
          </div>
          <!--Elements Items Testimonials -->
          <!--Elements Items Video-->
          <div class="col-lg-4 col-md-6">
            <div class="card elements-card">
              <div class="card-body">
                <h6>Video</h6>
                <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of
                  the card's content.</p>
                <a href="video.html" class=" stretched-link">Explore <span class="fa fa-long-arrow-right"></span></a>
              </div>
            </div>
          </div>
          <!--Elements Items Video-->
        </div>
      </div>
    </div>
  </div>
</section>