<!--
  #############
  End of Taxonomy hero section
  #############
-->
<section class="hero hero-blog  pt-7">

  <div class="hero-services-wraper bg-primary text-center mt-7 mt-xl-0  p-2 p-sm-5 p-md-5 pt-lg-7 px-xxl-12 pb-lg-8 position-relative">
    <div class="services-shape-left position-absolute top-0 start-0">
      <img src="../images/blog/blog-hero-shape1.svg" alt="shape">
    </div>
    <div class="position-relative">
      <h1 class="mb-3 text-capitalize">@@elementsHeading</h1>
      <p class="lh-lg px-4">@@elementsText</p>
    </div>
  </div>
 
</section>
<!--
  #############
  End of Taxonomy hero section
  #############
-->