<!--
  #############
  Forms Pages
  #############
-->
<section class=" elements">
  <div class="container">
    <!--Default Form Example-->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Basic Form Example</h2>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view18" data-bs-toggle="tab" data-bs-target="#tabs-view18" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML18" data-bs-toggle="tab" data-bs-target="#tabs-HTML18" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>

              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view18" role="tabpanel" aria-labelledby="tabs-aria-view18">
                  <div class="tab-item ">
                    <form class="row g-4">
                      <div class="col-md-12 col-lg-6">
                        <label for="inputEmail4" class="form-label">My name is</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Your Name ">
                      </div>
                      <div class="col-md-12 col-lg-6">
                        <label for="inputEmail42" class="form-label">I work with</label>
                        <input type="text" class="form-control" id="inputEmail42" placeholder="Company Name">
                      </div>
                      <div class="col-md-12 col-lg-6">
                        <label for="goal" class="form-label"> I’m looking for a partner to help
                          me with</label>
                        <input type="text" class="form-control" id="goal" placeholder="My Goal">
                      </div>
                      <div class="col-md-12 col-lg-6">
                        <label for="deadline" class="form-label">with an idea of having that
                          completed on</label>
                        <input type="date" class="form-control" id="deadline">
                      </div>
                      <div class="col-md-12 col-lg-6">
                        <label for="budget" class="form-label">I am hoping to
                          stay around a budget</label>
                        <select class="form-select" aria-label="Default select example" id="budget">
                          <option selected>Budget</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                      <div class="col-md-12 col-lg-6">
                        <label for="email" class="form-label">You can reach me at</label>
                        <input type="text" class="form-control" id="email" placeholder="Email Address">
                      </div>
                      <div class="col-12">
                        <label for="inputEmail4" class="form-label">to start the conversation.
                          Optionally, I’m sharing more</label>
                        <textarea class="form-control" id="floatingTextarea2" placeholder="Description" rows="10"
                          spellcheck="false"></textarea>
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary mb-3 mt-4 px-6 btn-lg w-100 w-md-25 w-lg-20 w-xl-20">Start
                          Talk</button>
                      </div>
                    </form>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML18" role="tabpanel" aria-labelledby="tabs-aria-HTML18">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Basic Form Example--&gt;
                        &lt;form class=&quot;row g-4&quot;&gt;
                          &lt;div class=&quot;col-md-12 col-lg-6&quot;&gt;
                            &lt;label for=&quot;inputEmail4&quot; class=&quot;form-label&quot;&gt;My name is&lt;/label&gt;
                            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputEmail4&quot; placeholder=&quot;Your Name &quot;&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;col-md-12 col-lg-6&quot;&gt;
                            &lt;label for=&quot;inputEmail42&quot; class=&quot;form-label&quot;&gt;I work with&lt;/label&gt;
                            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputEmail42&quot; placeholder=&quot;Company Name&quot;&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;col-md-12 col-lg-6&quot;&gt;
                            &lt;label for=&quot;goal&quot; class=&quot;form-label&quot;&gt; I&rsquo;m looking for a partner to help
                              me with&lt;/label&gt;
                            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;goal&quot; placeholder=&quot;My Goal&quot;&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;col-md-12 col-lg-6&quot;&gt;
                            &lt;label for=&quot;deadline&quot; class=&quot;form-label&quot;&gt;with an idea of having that
                              completed on&lt;/label&gt;
                            &lt;input type=&quot;date&quot; class=&quot;form-control&quot; id=&quot;deadline&quot;&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;col-md-12 col-lg-6&quot;&gt;
                            &lt;label for=&quot;budget&quot; class=&quot;form-label&quot;&gt;I am hoping to
                              stay around a budget&lt;/label&gt;
                            &lt;select class=&quot;form-select&quot; aria-label=&quot;Default select example&quot; id=&quot;budget&quot;&gt;
                              &lt;option selected&gt;Budget&lt;/option&gt;
                              &lt;option value=&quot;1&quot;&gt;One&lt;/option&gt;
                              &lt;option value=&quot;2&quot;&gt;Two&lt;/option&gt;
                              &lt;option value=&quot;3&quot;&gt;Three&lt;/option&gt;
                            &lt;/select&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;col-md-12 col-lg-6&quot;&gt;
                            &lt;label for=&quot;email&quot; class=&quot;form-label&quot;&gt;You can reach me at&lt;/label&gt;
                            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;email&quot; placeholder=&quot;Email Address&quot;&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;col-12&quot;&gt;
                            &lt;label for=&quot;inputEmail4&quot; class=&quot;form-label&quot;&gt;to start the conversation.
                              Optionally, I&rsquo;m sharing more&lt;/label&gt;
                            &lt;textarea class=&quot;form-control&quot; id=&quot;floatingTextarea2&quot; placeholder=&quot;Description&quot; rows=&quot;10&quot;
                              spellcheck=&quot;false&quot;&gt;&lt;/textarea&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;col-12&quot;&gt;
                            &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary mb-3 mt-4 px-6 btn-lg w-100 w-md-25 w-lg-20 w-xl-20&quot;&gt;Start
                              Talk&lt;/button&gt;
                          &lt;/div&gt;
                        &lt;/form&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>

          </div>     
        </div>
      </div>
    </div>
    <!--Default Form Example-->

    <!--Floating Form Example-->
    <div class="row ">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <div class="elements-header">
              <h2>Floating Form Example</h2>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view19" data-bs-toggle="tab" data-bs-target="#tabs-view19" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML19" data-bs-toggle="tab" data-bs-target="#tabs-HTML19" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>
              <div class="tab-content " >
                <div class="tab-pane fade show active " id="tabs-view19" role="tabpanel" aria-labelledby="tabs-aria-view19">
                  <div class="tab-item ">
                    <form class="row g-4 pe-4">
                      <div class="form-floating col-md-6">
                        <input type="text" class="form-control" id="floatingText" placeholder="Your Name">
                        <label for="floatingText">My name is</label>
                      </div>
                      <div class="form-floating col-md-6">
                        <input type="text" class="form-control" id="floatingText2" placeholder="Your Company">
                        <label for="floatingText2">I work With</label>
                      </div>
                      <div class="form-floating col-md-6">
                        <input type="text" class="form-control" id="floatingText3" placeholder="My Goal">
                        <label for="floatingText3">I’m looking for a partner to help me with</label>
                      </div>
                      <div class="form-floating  col-md-6">
                        <input type="email" class="form-control" id="floatingEmail" placeholder="You can reach at me">
                        <label for="floatingEmail">You can reach me at</label>
                      </div>

                      <div class="form-floating col-12">
                        <textarea class="form-control" id="floatingDesc" placeholder="Description" 
                          style="height: 200px;"></textarea>
                          <label for="floatingDesc">to start the conversation. Optionally, I’m sharing more</label> 
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary mb-3 mt-2 px-6 btn-lg">Submit</button>
                      </div>
                    </form>
                  </div>          
                </div>

                <div class="tab-pane fade" id="tabs-HTML19" role="tabpanel" aria-labelledby="tabs-aria-HTML19">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Floating Form Example--&gt;
                        &lt;form class=&quot;row g-4 pe-4&quot;&gt;
                          &lt;div class=&quot;form-floating col-md-6&quot;&gt;
                            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;floatingText&quot; placeholder=&quot;Your Name&quot;&gt;
                            &lt;label for=&quot;floatingText&quot;&gt;My name is&lt;/label&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;form-floating col-md-6&quot;&gt;
                            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;floatingText2&quot; placeholder=&quot;Your Company&quot;&gt;
                            &lt;label for=&quot;floatingText2&quot;&gt;I work With&lt;/label&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;form-floating col-md-6&quot;&gt;
                            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;floatingText3&quot; placeholder=&quot;My Goal&quot;&gt;
                            &lt;label for=&quot;floatingText3&quot;&gt;I&rsquo;m looking for a partner to help me with&lt;/label&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;form-floating  col-md-6&quot;&gt;
                            &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;floatingEmail&quot; placeholder=&quot;You can reach at me&quot;&gt;
                            &lt;label for=&quot;floatingEmail&quot;&gt;You can reach me at&lt;/label&gt;
                          &lt;/div&gt;

                          &lt;div class=&quot;form-floating col-12&quot;&gt;
                            &lt;textarea class=&quot;form-control&quot; id=&quot;floatingDesc&quot; placeholder=&quot;Description&quot; 
                              style=&quot;height: 200px;&quot;&gt;&lt;/textarea&gt;
                              &lt;label for=&quot;floatingDesc&quot;&gt;to start the conversation. Optionally, I&rsquo;m sharing more&lt;/label&gt; 
                          &lt;/div&gt;
                          &lt;div class=&quot;col-12&quot;&gt;
                            &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary mb-3 mt-2 px-6 btn-lg&quot;&gt;Submit&lt;/button&gt;
                          &lt;/div&gt;
                        &lt;/form&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>

            </div>
          </div>
     
        </div>
      </div>
    </div>
    <!--Floating Form Example-->
    <!--Select Example-->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Select</h2>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view20" data-bs-toggle="tab" data-bs-target="#tabs-view20" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML20" data-bs-toggle="tab" data-bs-target="#tabs-HTML20" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>
              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view20" role="tabpanel" aria-labelledby="tabs-aria-view20">
                  <div class="tab-item ">
                    <div class="row">
                      <!--Default Select--> 
                      <div class="col-md-6">
                        <h3>Default Select Option </h3>
                        <hr>
                        <form class="">
                          <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </form>
                      </div>
                      <!--Default Select--> 
                      <!--multiple Select--> 
                      <div class="col-md-6 ">
                        <h3>Multiple Select Option </h3>
                        <hr>
                        <form class="row g-3 pe-4">
                          <select class="form-select" multiple aria-label="multiple select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </form>
                      </div>
                      <!--multiple Select--> 
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML20" role="tabpanel" aria-labelledby="tabs-aria-HTML20">
                  <div class="tab-item ">
                      <div class="row">
                        <!--Default Select--> 
                        <div class="col-md-12">
                          <h3>Codes for Default Select Option </h3>
                          <hr>
                          <pre class="language-html">
                            <code class=" language-html">
                              &lt;!--Select Example--&gt;
                              &lt;select class=&quot;form-select&quot; aria-label=&quot;Default select example&quot;&gt;
                                &lt;option selected&gt;Open this select menu&lt;/option&gt;
                                &lt;option value=&quot;1&quot;&gt;One&lt;/option&gt;
                                &lt;option value=&quot;2&quot;&gt;Two&lt;/option&gt;
                                &lt;option value=&quot;3&quot;&gt;Three&lt;/option&gt;
                              &lt;/select&gt;
                            </code>
                          </pre>
                        </div>
                        <!--Default Select--> 
                        <!--multiple Select-->
                        <div class="col-md-12">
                          <h3 class="mt-4">Codes for Multiple Select Option </h3>
                          <hr>
                          <pre class="language-html">
                            <code class=" language-html">
                              &lt;!--Multiple item Select Example--&gt;
                              &lt;select class=&quot;form-select&quot; multiple aria-label=&quot;multiple select example&quot;&gt;
                                &lt;option selected&gt;Open this select menu&lt;/option&gt;
                                &lt;option value=&quot;1&quot;&gt;One&lt;/option&gt;
                                &lt;option value=&quot;2&quot;&gt;Two&lt;/option&gt;
                                &lt;option value=&quot;3&quot;&gt;Three&lt;/option&gt;
                              &lt;/select&gt;
                            </code>
                          </pre>
                        </div>
                        <!--multiple Select--> 
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Select Example-->
    <!--Checkbox Example-->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Checkboxes</h2>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view21" data-bs-toggle="tab" data-bs-target="#tabs-view21" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML21" data-bs-toggle="tab" data-bs-target="#tabs-HTML21" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>
              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view21" role="tabpanel" aria-labelledby="tabs-aria-view21">
                  <div class="tab-item ">
                    <div class="row">
                      <!--Default Checkbox-->
                      <div class="col-md-6 col-lg-4">
                        <h3>Default Checkboxes </h3>
                        <hr>
                        <form class="">
                          <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Javascript
                            </label>
                          </div>
                          <div class="form-check  mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                              Python
                            </label>
                          </div>
                          <div class="form-check  mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabeld" disabled>
                            <label class="form-check-label" for="flexCheckDisabeld">
                              Disabled 
                            </label>
                          </div>
                        </form>
                      </div>
                      <!--Default Checkbox-->
                      <!--Inline Checkboxes-->
                      <div class="col-md-6 col-lg-4">
                        <h3 class="mt-4 mt-md-0">Inline Checkboxes </h3>
                        <hr>
                        <form class="mt-2">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">1</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">2</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                            <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                          </div>
                        </form>
                      </div>
                      <!--Inline Checkboxes-->
                      <!--Switches Checkboxes-->  
                      <div class="col-md-6 col-lg-4">
                        <h3 class="mt-4 mt-md-0">Switches </h3>
                        <hr>
                        <form class="mt-2">
                          <div class="form-check form-switch mb-4">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault"> Switch Off</label>
                          </div>
                          <div class="form-check form-switch mb-4">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked"> Switch On </label>
                          </div>
                          <div class="form-check form-switch mb-4">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>
                            <label class="form-check-label" for="flexSwitchCheckDisabled"> Disabled switch </label>
                          </div>
                        </form>
                      </div>
                      <!--Switches Checkboxes-->
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML21" role="tabpanel" aria-labelledby="tabs-aria-HTML21">
                  <div class="tab-item ">
                    <div class="row">
                      <!--Default Checkbox-->
                      <div class="col-md-12">
                        <h3>Codes for Default Checkboxes </h3>
                        <hr>
                        <pre class="language-html">
                          <code class=" language-html">
                            &lt;!--Checkbox Example--&gt;
                            &lt;div class=&quot;form-check&quot;&gt;
                              &lt;input class=&quot;form-check-input&quot; type=&quot;checkbox&quot; value=&quot;&quot; id=&quot;flexCheckDefault&quot;&gt;
                              &lt;label class=&quot;form-check-label&quot; for=&quot;flexCheckDefault&quot;&gt;
                              Javascript
                              &lt;/label&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;form-check&quot;&gt;
                              &lt;input class=&quot;form-check-input&quot; type=&quot;checkbox&quot; value=&quot;&quot; id=&quot;flexCheckChecked&quot; checked&gt;
                              &lt;label class=&quot;form-check-label&quot; for=&quot;flexCheckChecked&quot;&gt;
                              Python
                              &lt;/label&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;form-check&quot;&gt;
                              &lt;input class=&quot;form-check-input&quot; type=&quot;checkbox&quot; value=&quot;&quot; id=&quot;flexCheckDisabeld&quot; disabled&gt;
                              &lt;label class=&quot;form-check-label&quot; for=&quot;flexCheckDisabeld&quot;&gt;
                                Disabled 
                              &lt;/label&gt;
                            &lt;/div&gt;
                          </code>
                        </pre>
                      </div>
                      <!--Default Checkbox-->
                      <!--Inline Checkboxes-->
                      <div class="col-md-12">
                        <h3 class="mt-4">Codes for Inline Checkboxes </h3>
                        <hr>
                        <pre class="language-html">
                          <code class=" language-html">
                            &lt;!--Inline Checkebox--&gt;
                            &lt;div class=&quot;form-check form-check-inline&quot;&gt;
                              &lt;input class=&quot;form-check-input&quot; type=&quot;checkbox&quot; id=&quot;inlineCheckbox1&quot; value=&quot;option1&quot;&gt;
                              &lt;label class=&quot;form-check-label&quot; for=&quot;inlineCheckbox1&quot;&gt;1&lt;/label&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;form-check form-check-inline&quot;&gt;
                              &lt;input class=&quot;form-check-input&quot; type=&quot;checkbox&quot; id=&quot;inlineCheckbox2&quot; value=&quot;option2&quot;&gt;
                              &lt;label class=&quot;form-check-label&quot; for=&quot;inlineCheckbox2&quot;&gt;2&lt;/label&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;form-check form-check-inline&quot;&gt;
                              &lt;input class=&quot;form-check-input&quot; type=&quot;checkbox&quot; id=&quot;inlineCheckbox3&quot; value=&quot;option3&quot; disabled&gt;
                              &lt;label class=&quot;form-check-label&quot; for=&quot;inlineCheckbox3&quot;&gt;3 (disabled)&lt;/label&gt;
                            &lt;/div&gt;
                          </code>
                        </pre>
                      </div>
                      <!--Inline Checkboxes-->
                      <div class="col-md-12">
                        <h3 class="mt-4">Codes for Switches</h3>
                        <hr>
                        <pre class="language-html">
                          <code class=" language-html">
                            &lt;!--Switches--&gt;
                            &lt;div class=&quot;form-check form-switch&quot;&gt;
                              &lt;input class=&quot;form-check-input&quot; type=&quot;checkbox&quot; id=&quot;flexSwitchCheckDefault&quot;&gt;
                              &lt;label class=&quot;form-check-label&quot; for=&quot;flexSwitchCheckDefault&quot;&gt;Switch Off&lt;/label&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;form-check form-switch&quot;&gt;
                              &lt;input class=&quot;form-check-input&quot; type=&quot;checkbox&quot; id=&quot;flexSwitchCheckChecked&quot; checked&gt;
                              &lt;label class=&quot;form-check-label&quot; for=&quot;flexSwitchCheckChecked&quot;&gt;Switch On&lt;/label&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;form-check form-switch&quot;&gt;
                              &lt;input class=&quot;form-check-input&quot; type=&quot;checkbox&quot; id=&quot;flexSwitchCheckDisabled&quot; disabled&gt;
                              &lt;label class=&quot;form-check-label&quot; for=&quot;flexSwitchCheckDisabled&quot;&gt;Disabled switch &lt;/label&gt;
                            &lt;/div&gt;
                          </code>
                        </pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!--Checkbox Example-->
    <!--Radio Example-->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Radios</h2>
            </div>  
          </div>

          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view22" data-bs-toggle="tab" data-bs-target="#tabs-view22" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML22" data-bs-toggle="tab" data-bs-target="#tabs-HTML22" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>

              <div class="tab-content " >
                <div class="tab-pane fade show active " id="tabs-view22" role="tabpanel" aria-labelledby="tabs-aria-view22">
                  <div class="tab-item ">
                    <div class="row">
                      <!--Default Radios-->
                      <div class="col-md-6">
                        <h3>Default Radios </h3>
                        <hr>
                        <form class="">
                          <div class="form-check  mb-4">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Male
                            </label>
                          </div>
                          <div class="form-check  mb-4">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                              Female
                            </label>
                          </div>
                          <div class="form-check  mb-4">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
                            <label class="form-check-label" for="exampleRadios3">
                              Disabled 
                            </label>
                          </div>
                        </form>
                      </div>
                      <!--Default Radios-->
                      <!--Inline Radios-->
                      <div class="col-md-6">
                        <h3 class="mt-4 mt-md-0">Default Radios </h3>
                        <hr>
                        <form class="mt-2">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                            <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
                          </div>
                        </form>
                      </div>
                      <!--Inline Radios-->
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML22" role="tabpanel" aria-labelledby="tabs-aria-HTML22">
                  <div class="tab-item ">
                    <div class="row">
                      <!--Default Radios-->
                      <div class="col-md-12">
                        <h3>Codes for Default Radios </h3>
                        <hr>
                        <pre class="language-html">
                          <code class=" language-html">
                            &lt;!--Radio Example--&gt;
                            &lt;div class=&quot;form-check&quot;&gt;
                              &lt;input class=&quot;form-check-input&quot; type=&quot;radio&quot; name=&quot;exampleRadios&quot; id=&quot;exampleRadios1&quot; value=&quot;option1&quot; checked&gt;
                              &lt;label class=&quot;form-check-label&quot; for=&quot;exampleRadios1&quot;&gt;
                                Male
                              &lt;/label&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;form-check&quot;&gt;
                              &lt;input class=&quot;form-check-input&quot; type=&quot;radio&quot; name=&quot;exampleRadios&quot; id=&quot;exampleRadios2&quot; value=&quot;option2&quot;&gt;
                              &lt;label class=&quot;form-check-label&quot; for=&quot;exampleRadios2&quot;&gt;
                                Female
                              &lt;/label&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;form-check&quot;&gt;
                              &lt;input class=&quot;form-check-input&quot; type=&quot;radio&quot; name=&quot;exampleRadios&quot; id=&quot;exampleRadios3&quot; value=&quot;option3&quot; disabled&gt;
                              &lt;label class=&quot;form-check-label&quot; for=&quot;exampleRadios3&quot;&gt;
                                Disabled 
                              &lt;/label&gt;
                            &lt;/div&gt;
                          </code>
                        </pre>
                      </div>
                      <!--Default Radios-->
                      <!--Inline Radios-->
                      <div class="col-md-12">
                        <h3 class="mt-4">Codes for Inline Radios </h3>
                        <hr>
                        <pre class="language-html">
                          <code class=" language-html">
                            &lt;!--Inline Radio--&gt;
                            &lt;div class=&quot;form-check form-check-inline&quot;&gt;
                              &lt;input class=&quot;form-check-input&quot; type=&quot;radio&quot; name=&quot;inlineRadioOptions&quot; id=&quot;inlineRadio1&quot; value=&quot;option1&quot;&gt;
                              &lt;label class=&quot;form-check-label&quot; for=&quot;inlineRadio1&quot;&gt;1&lt;/label&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;form-check form-check-inline&quot;&gt;
                              &lt;input class=&quot;form-check-input&quot; type=&quot;radio&quot; name=&quot;inlineRadioOptions&quot; id=&quot;inlineRadio2&quot; value=&quot;option2&quot;&gt;
                              &lt;label class=&quot;form-check-label&quot; for=&quot;inlineRadio2&quot;&gt;2&lt;/label&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;form-check form-check-inline&quot;&gt;
                              &lt;input class=&quot;form-check-input&quot; type=&quot;radio&quot; name=&quot;inlineRadioOptions&quot; id=&quot;inlineRadio3&quot; value=&quot;option3&quot; disabled&gt;
                              &lt;label class=&quot;form-check-label&quot; for=&quot;inlineRadio3&quot;&gt;3 (disabled)&lt;/label&gt;
                            &lt;/div&gt;
                          </code>
                        </pre>
                      </div>
                      <!--Inline Radios-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!--Radio Example-->

  </div>
</section>