<!--
  #############
  Modal Pages
  #############
-->
<section class=" elements">
  <div class="container">
    <!--Default Modal-->
    <div class="row ">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12 ">
            <div class="elements-header">
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <h2 class="d-inline-block">Default Modal</h2>
                </div>
                <!-- Button trigger modal -->
                <div class="modal-buttons flex-shrink-0">
                  <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#DefaultModal">
                    Default Modal
                  </button>
                  <button type="button" class="btn btn-secondary ms-0 ms-lg-3 mb-3" data-bs-toggle="modal" data-bs-target="#LargeModal">
                    large Modal
                  </button>
                  <button type="button" class="btn btn-success ms-0 ms-lg-3 mb-3" data-bs-toggle="modal" data-bs-target="#XtraLargeModal">
                    Extra large Modal
                  </button>
                </div>
              </div>
              <p class="lh-lg mt-3">Modals have three optional sizes, available via modifier classes to be placed on a <span class="highlight  mt-2">.modal-dialog</span>. 
                These are <span class="highlight mt-2">.modal-xl, .modal-lg, .modal-sm</span>. Add these class with <span class="highlight  mt-2">.modal-dialog</span> class.</p>
            </div>

          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav >
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view23" data-bs-toggle="tab" data-bs-target="#tabs-view23" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML23" data-bs-toggle="tab" data-bs-target="#tabs-HTML23" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>

              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view23" role="tabpanel" aria-labelledby="tabs-aria-view23">
                  <div class="tab-item ">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="" tabindex="-1">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                              <article class=" modal-items bg-white shadow-none rounded-4 w-100 ">
                                <div class="modal-item-thumb w-100">
                                  <img src="images/blog/featured-thumb3.png" alt="featured-thumb1" class="w-100" >
                                </div>
                                <div class="w-100 modal-item-container">
                                  <div class="modal-author d-flex align-items-center mb-4">
                                    <img class="modal-author-thumb rounded-circle " src="images/team/team-member1.png" alt="author">
                                    <h6 class="fw-medium ms-2 mb-0">Lara Croft</h6>
                                  </div>
                                  <div class="modal-meta">
                                    <ul class="list-inline list-unstyled">
                                      <li class="list-inline-item">
                                        <a href="taxonomy.html">
                                          <span class="badge ">SEO</span>
                                        </a>
                                      </li>
                                      <li class="list-inline-item">
                                        <span class="ms-2 modal-meta-date">13th March 2021</span>
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="modal-items-body">
                                    <div class="modal-body-title">
                                      <a href="blog-single.html">
                                        <h3 class="mb-2 fw-bold">
                                          How To Add and Style Free Animated Text – The Easy Way
                                        </h3>
                                      </a>
                                      <p>
                                        You may have seen the animated text on many other websites, haven’t you?If so, you know how amazing. When we just scroll down a well-structured website, we really like to go through the whole writing. And... 
                                      </p>
                                    </div>
                                  </div>
                                  <button  class="btn btn-link-icon ">
                                    <i class="ph-arrow-right"></i>
                                    <span> Read The Blog </span>
                                  </button>
                                </div>
                              </article>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML23" role="tabpanel" aria-labelledby="tabs-aria-HTML23">
                  <div class="tab-item ">
                    <div class="row">
                      <div class="col-md-12">
                        <pre class="language-html">
                          <code class=" language-html">
                            &lt;!--Default Modal--&gt;
                            &lt;div class=&quot;modal fade&quot; tabindex=&quot;-1&quot; id=&quot;DefaultModal&quot;&gt;
                              &lt;div class=&quot;modal-dialog&quot;&gt;
                                &lt;div class=&quot;modal-content&quot;&gt;
                                  &lt;button type=&quot;button&quot; class=&quot;btn-close ms-auto&quot; data-bs-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;
                                  &lt;article class=&quot; modal-items bg-white shadow-none rounded-4 w-100 &quot;&gt;
                                    &lt;div class=&quot;modal-item-thumb w-100&quot;&gt;
                                      &lt;img src=&quot;images/blog/featured-thumb3.png&quot; alt=&quot;featured-thumb1&quot; class=&quot;w-100&quot; &gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;w-100 modal-item-container&quot;&gt;
                                      &lt;div class=&quot;modal-author d-flex align-items-center mb-4&quot;&gt;
                                        &lt;img class=&quot;modal-author-thumb rounded-circle &quot; src=&quot;images/team/team-member1.png&quot; alt=&quot;author&quot;&gt;
                                        &lt;h6 class=&quot;fw-medium ms-2 mb-0&quot;&gt;Lara Croft&lt;/h6&gt;
                                      &lt;/div&gt;
                                      &lt;div class=&quot;modal-meta&quot;&gt;
                                        &lt;ul class=&quot;list-inline list-unstyled&quot;&gt;
                                          &lt;li class=&quot;list-inline-item&quot;&gt;
                                            &lt;a href=&quot;taxonomy.html&quot;&gt;
                                              &lt;span class=&quot;badge &quot;&gt;SEO&lt;/span&gt;
                                            &lt;/a&gt;
                                          &lt;/li&gt;
                                          &lt;li class=&quot;list-inline-item&quot;&gt;
                                            &lt;span class=&quot;ms-2 modal-meta-date&quot;&gt;13th March 2021&lt;/span&gt;
                                          &lt;/li&gt;
                                        &lt;/ul&gt;
                                      &lt;/div&gt;
                                      &lt;div class=&quot;modal-items-body&quot;&gt;
                                        &lt;div class=&quot;modal-body-title&quot;&gt;
                                          &lt;a href=&quot;blog-single.html&quot;&gt;
                                            &lt;h3 class=&quot;mb-2 fw-bold&quot;&gt;
                                              How To Add and Style Free Animated Text &ndash; The Easy Way
                                            &lt;/h3&gt;
                                          &lt;/a&gt;
                                          &lt;p&gt;
                                            You may have seen the animated text on many other websites, haven&rsquo;t you?If so, you know how amazing. When we just scroll down a well-structured website, we really like to go through the whole writing. And... 
                                          &lt;/p&gt;
                                        &lt;/div&gt;
                                      &lt;/div&gt;
                                      &lt;button  class=&quot;btn btn-link-icon &quot;&gt;
                                        &lt;i class=&quot;ph-arrow-right&quot;&gt;&lt;/i&gt;
                                        &lt;span&gt; Read The Blog &lt;/span&gt;
                                      &lt;/button&gt;
                                    &lt;/div&gt;
                                  &lt;/article&gt;
                                  
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                          </code>
                        </pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>   
        </div>
      </div>
    </div>
    <!--Default Modal-->

  </div>
</section>

<!--Default Modal-->
<div class="modal fade" tabindex="-1" id="DefaultModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
      <article class=" modal-items bg-white shadow-none rounded-4 w-100 ">
        <div class="modal-item-thumb w-100">
          <img src="images/blog/featured-thumb3.png" alt="featured-thumb1" class="w-100" >
        </div>
        <div class="w-100 modal-item-container">
          <div class="modal-author d-flex align-items-center mb-4">
            <img class="modal-author-thumb rounded-circle " src="images/team/team-member1.png" alt="author">
            <h6 class="fw-medium ms-2 mb-0">Lara Croft</h6>
          </div>
          <div class="modal-meta">
            <ul class="list-inline list-unstyled">
              <li class="list-inline-item">
                <a href="taxonomy.html">
                  <span class="badge ">SEO</span>
                </a>
              </li>
              <li class="list-inline-item">
                <span class="ms-2 modal-meta-date">13th March 2021</span>
              </li>
            </ul>
          </div>
          <div class="modal-items-body">
            <div class="modal-body-title">
              <a href="blog-single.html">
                <h3 class="mb-2 fw-bold">
                  How To Add and Style Free Animated Text – The Easy Way
                </h3>
              </a>
              <p>
                You may have seen the animated text on many other websites, haven’t you?If so, you know how amazing. When we just scroll down a well-structured website, we really like to go through the whole writing. And... 
              </p>
            </div>
          </div>
          <button  class="btn btn-link-icon ">
            <i class="ph-arrow-right"></i>
            <span> Read The Blog </span>
          </button>
        </div>
      </article>
      
    </div>
  </div>
</div>

<!--Large Modal-->
<div class="modal fade" tabindex="-1" id="LargeModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Fill the Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3 pe-4">
          <form class="row g-4">
            <div class="col-md-12 col-lg-6">
              <label for="inputEmail4" class="form-label">My name is</label>
              <input type="text" class="form-control" id="inputEmail4" placeholder="Your Name ">
            </div>
            <div class="col-md-12 col-lg-6">
              <label for="inputEmail42" class="form-label">I work with</label>
              <input type="text" class="form-control" id="inputEmail42" placeholder="Company Name">
            </div>
            <div class="col-md-12 col-lg-6">
              <label for="goal" class="form-label"> I’m looking for a partner to help
                me with</label>
              <input type="text" class="form-control" id="goal" placeholder="My Goal">
            </div>
            <div class="col-md-12 col-lg-6">
              <label for="deadline" class="form-label">with an idea of having that
                completed on</label>
              <input type="date" class="form-control" id="deadline">
            </div>
            <div class="col-md-12 col-lg-6">
              <label for="budget" class="form-label">I am hoping to
                stay around a budget</label>
              <select class="form-select" aria-label="Default select example" id="budget">
                <option selected>Budget</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-md-12 col-lg-6">
              <label for="email" class="form-label">You can reach me at</label>
              <input type="text" class="form-control" id="email" placeholder="Email Address">
            </div>
            <div class="col-12">
              <label for="inputEmail4" class="form-label">to start the conversation.
                Optionally, I’m sharing more</label>
              <textarea class="form-control" id="floatingTextarea2" placeholder="Description" rows="10"
                spellcheck="false"></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary mb-3 mt-4 px-6 btn-lg ">Start
                Talk</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

<!--Xtra Large Modal-->
<div class="modal fade" tabindex="-1" id="XtraLargeModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel2">Fill the Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-4">
          <div class="col-md-12 col-lg-6">
            <label for="inputEmail4" class="form-label">My name is</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Your Name ">
          </div>
          <div class="col-md-12 col-lg-6">
            <label for="inputEmail42" class="form-label">I work with</label>
            <input type="text" class="form-control" id="inputEmail42" placeholder="Company Name">
          </div>
          <div class="col-md-12 col-lg-6">
            <label for="goal" class="form-label"> I’m looking for a partner to help
              me with</label>
            <input type="text" class="form-control" id="goal" placeholder="My Goal">
          </div>
          <div class="col-md-12 col-lg-6">
            <label for="deadline" class="form-label">with an idea of having that
              completed on</label>
            <input type="date" class="form-control" id="deadline">
          </div>
          <div class="col-md-12 col-lg-6">
            <label for="budget" class="form-label">I am hoping to
              stay around a budget</label>
            <select class="form-select" aria-label="Default select example" id="budget">
              <option selected>Budget</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-md-12 col-lg-6">
            <label for="email" class="form-label">You can reach me at</label>
            <input type="text" class="form-control" id="email" placeholder="Email Address">
          </div>
          <div class="col-12">
            <label for="inputEmail4" class="form-label">to start the conversation.
              Optionally, I’m sharing more</label>
            <textarea class="form-control" id="floatingTextarea2" placeholder="Description" rows="10"
              spellcheck="false"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary mb-3 mt-4 px-6 btn-lg">Start
              Talk</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>