<!--
  #############
  Navbar Pages
  #############
-->
<section class=" elements ">
  <div class="container">
    <!--Navbar Light-->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Default Navbar</h2>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav >
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view24" data-bs-toggle="tab" data-bs-target="#tabs-view24" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML24" data-bs-toggle="tab" data-bs-target="#tabs-HTML24" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>

              <div class="tab-content " >
                <div class="tab-pane fade show active " id="tabs-view24" role="tabpanel" aria-labelledby="tabs-aria-view24">
                  <div class="tab-item ">
                    <!--Navbar-->
                    <nav class="navbar navbar-expand-lg bg-gray-dark border-0" >
                      <div class="d-flex w-100 align-items-center">
                        <!--Navbar Brand-->
                        <a class="navbar-brand" href="index.html">
                          <img src="images/logo.svg" alt="" class=" w-md-75">
                        </a>
                        <!--Navbar Toggler-->
                        <button class="navbar-toggler ms-auto p-3" type="button" data-bs-toggle="collapse"
                          data-bs-target="#navbarSupportedContent2" aria-expanded="false"
                          aria-label="Toggle navigation">
                          <span class="navbar-toggler-default">
                            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                              <path fill="white"
                                d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z">
                              </path>
                            </svg>
                          </span>
                          <span class="navbar-toggler-toggled">
                            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                              <path fill="white" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"></path>
                          </svg>
                          </span>
                        </button>
                        <!--Navbar Menus Collapse-->
                        <div class="collapse navbar-collapse" >
  
                          <ul class="navbar-nav ms-auto ">
  
                            <li class="nav-item">
                              <a class="nav-link "  href="index.html">Home</a>
                            </li>
  
                            <li class="nav-item ">
                              <a class="nav-link" href="about.html"  >About</a>
                            </li>
  
                            <li class="nav-item ">
                              <a class="nav-link" href="services.html">
                                Services
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="blog.html">Blog</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="elements.html">Elements</a>
                            </li>
  
                          </ul>
                        </div>
                      </div>
                    </nav>
                    <!--Navbar-->
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML24" role="tabpanel" aria-labelledby="tabs-aria-HTML24">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Navbar--&gt;
                        &lt;nav class=&quot;navbar navbar-expand-lg position-fixed w-100 zindex-dropdown&quot; id=&quot;navigationBar&quot;&gt;
                          &lt;div class=&quot;container-fluid&quot;&gt;
                            &lt;!--Navbar Brand--&gt;
                            &lt;a class=&quot;navbar-brand&quot; href=&quot;index.html&quot;&gt;
                              &lt;img src=&quot;images/logo.svg&quot; alt=&quot;&quot; class=&quot;w-md-100 w-75&quot;&gt;
                            &lt;/a&gt;
                            &lt;!--Navbar Toggler--&gt;
                            &lt;button class=&quot;navbar-toggler p-3&quot; type=&quot;button&quot; data-bs-toggle=&quot;collapse&quot;
                              data-bs-target=&quot;#navbarSupportedContent2&quot; aria-controls=&quot;navbarSupportedContent2&quot; aria-expanded=&quot;false&quot;
                              aria-label=&quot;Toggle navigation&quot;&gt;
                              &lt;span class=&quot;navbar-toggler-default&quot;&gt;
                                &lt;svg width=&quot;14&quot; height=&quot;14&quot; viewBox=&quot;0 0 18 18&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                  &lt;path fill=&quot;white&quot;
                                    d=&quot;M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z&quot;&gt;
                                  &lt;/path&gt;
                                &lt;/svg&gt;
                              &lt;/span&gt;
                              &lt;span class=&quot;navbar-toggler-toggled&quot;&gt;
                                &lt;svg width=&quot;14&quot; height=&quot;14&quot; viewBox=&quot;0 0 18 18&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                  &lt;path fill=&quot;white&quot; d=&quot;M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z&quot;&gt;&lt;/path&gt;
                              &lt;/svg&gt;
                              &lt;/span&gt;
                            &lt;/button&gt;
                            &lt;!--Navbar Menus Collapse--&gt;
                            &lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;navbarSupportedContent2&quot;&gt;
                              &lt;ul class=&quot;navbar-nav ms-auto &quot;&gt;
                                &lt;li class=&quot;nav-item&quot;&gt;
                                  &lt;a href=&quot;index.html&quot; class=&quot;nav-link &quot;&gt;Home&lt;/a&gt;
                                &lt;/li&gt;
                                &lt;li class=&quot;nav-item &quot;&gt;
                                  &lt;a href=&quot;about.html&quot; class=&quot;nav-link&quot; &gt;About&lt;/a&gt;
                                &lt;/li&gt;
                                &lt;li class=&quot;nav-item &quot;&gt;
                                  &lt;a href=&quot;services.html&quot; class=&quot;nav-link &quot; &gt;Services&lt;/a&gt;
                                &lt;/li&gt;
                                &lt;li class=&quot;nav-item&quot;&gt;
                                  &lt;a href=&quot;blog.html&quot; class=&quot;nav-link&quot; &gt;Blog&lt;/a&gt;
                                &lt;/li&gt;
                                &lt;li class=&quot;nav-item&quot;&gt;
                                  &lt;a href=&quot;contact.html&quot; class=&quot;nav-link &quot; &gt;Contact&lt;/a&gt;
                                &lt;/li&gt;
                                &lt;li class=&quot;nav-item&quot;&gt;
                                  &lt;a  href=&quot;elements.html&quot; class=&quot;nav-link &quot;&gt;Elements&lt;/a&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/nav&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>     
        </div>
      </div>
    </div>
    <!--Navbar Light-->

    <!--Navbar Dark-->
    <div class="row">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <div class="elements-header">
              <h2>Navbar Dark</h2>
            </div>
          </div>

          <div class="col-12">
            <div class="elements-tabs">
              <nav >
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view25" data-bs-toggle="tab" data-bs-target="#tabs-view25" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML25" data-bs-toggle="tab" data-bs-target="#tabs-HTML25" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>

              <div class="tab-content " >
                <div class="tab-pane fade show active " id="tabs-view25" role="tabpanel" aria-labelledby="tabs-aria-view25">
                  <div class="tab-item ">
                    <!--Navbar-->
                    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark  border-0">
                      <div class="d-flex w-100 align-items-center">
                        <!--Navbar Brand-->
                        <a class="navbar-brand" href="index.html">
                          <img src="images/logo2.svg" alt="" class=" w-md-75">
                        </a>
                        <!--Navbar Toggler-->
                        <button class="navbar-toggler  ms-auto p-3" type="button" data-bs-toggle="collapse"
                          data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                          aria-label="Toggle navigation">
                          <span class="navbar-toggler-default">
                            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                              <path fill="white"
                                d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z">
                              </path>
                            </svg>
                          </span>
                          <span class="navbar-toggler-toggled">
                            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                              <path fill="white" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"></path>
                          </svg>
                          </span>
                        </button>
                        <!--Navbar Menus Collapse-->
                        <div class="collapse navbar-collapse" id="navbarContent">
  
                          <ul class="navbar-nav ms-auto ">
  
                            <li class="nav-item">
                              <a class="nav-link "  href="index.html">Home</a>
                            </li>
  
                            <li class="nav-item ">
                              <a class="nav-link" href="about.html"  >About</a>
                            </li>
  
                            <li class="nav-item ">
                              <a class="nav-link" href="services.html">
                                Services
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="blog.html">Blog</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link " href="elements.html">Elements</a>
                            </li>
  
                          </ul>
                        </div>
                      </div>
                    </nav>
                    <!--Navbar-->
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML25" role="tabpanel" aria-labelledby="tabs-aria-HTML25">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Navbar--&gt;
                        &lt;nav class=&quot;navbar navbar-expand-lg navbar-dark bg-dark position-fixed w-100 zindex-dropdown&quot; id=&quot;navigationBar&quot;&gt;
                          &lt;div class=&quot;container-fluid&quot;&gt;
                            &lt;!--Navbar Brand--&gt;
                            &lt;a class=&quot;navbar-brand&quot; href=&quot;index.html&quot;&gt;
                              &lt;img src=&quot;images/footer-logo.svg&quot; alt=&quot;&quot; class=&quot;w-md-100 w-75&quot;&gt;
                            &lt;/a&gt;
                            &lt;!--Navbar Toggler--&gt;
                            &lt;button class=&quot;navbar-toggler p-3&quot; type=&quot;button&quot; data-bs-toggle=&quot;collapse&quot;
                              data-bs-target=&quot;#navbarSupportedContent1&quot; aria-controls=&quot;navbarSupportedContent1&quot; aria-expanded=&quot;false&quot;
                              aria-label=&quot;Toggle navigation&quot;&gt;
                              &lt;span class=&quot;navbar-toggler-default&quot;&gt;
                                &lt;svg width=&quot;14&quot; height=&quot;14&quot; viewBox=&quot;0 0 18 18&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                  &lt;path fill=&quot;white&quot;
                                    d=&quot;M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z&quot;&gt;
                                  &lt;/path&gt;
                                &lt;/svg&gt;
                              &lt;/span&gt;
                              &lt;span class=&quot;navbar-toggler-toggled&quot;&gt;
                                &lt;svg width=&quot;14&quot; height=&quot;14&quot; viewBox=&quot;0 0 18 18&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                  &lt;path fill=&quot;white&quot; d=&quot;M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z&quot;&gt;&lt;/path&gt;
                              &lt;/svg&gt;
                              &lt;/span&gt;
                            &lt;/button&gt;
                            &lt;!--Navbar Menus Collapse--&gt;
                            &lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;navbarSupportedContent1&quot;&gt;
                              &lt;ul class=&quot;navbar-nav ms-auto &quot;&gt;
                                &lt;li class=&quot;nav-item&quot;&gt;
                                  &lt;a href=&quot;index.html&quot; class=&quot;nav-link &quot;&gt;Home&lt;/a&gt;
                                &lt;/li&gt;
                                &lt;li class=&quot;nav-item &quot;&gt;
                                  &lt;a href=&quot;about.html&quot; class=&quot;nav-link&quot; &gt;About&lt;/a&gt;
                                &lt;/li&gt;
                                &lt;li class=&quot;nav-item &quot;&gt;
                                  &lt;a href=&quot;services.html&quot; class=&quot;nav-link &quot; &gt;Services&lt;/a&gt;
                                &lt;/li&gt;
                                &lt;li class=&quot;nav-item&quot;&gt;
                                  &lt;a href=&quot;blog.html&quot; class=&quot;nav-link&quot; &gt;Blog&lt;/a&gt;
                                &lt;/li&gt;
                                &lt;li class=&quot;nav-item&quot;&gt;
                                  &lt;a href=&quot;contact.html&quot; class=&quot;nav-link &quot; &gt;Contact&lt;/a&gt;
                                &lt;/li&gt;
                                &lt;li class=&quot;nav-item&quot;&gt;
                                  &lt;a  href=&quot;elements.html&quot; class=&quot;nav-link &quot;&gt;Elements&lt;/a&gt;
                                &lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/nav&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>       
        </div>
      </div>
    </div>
    <!--Navbar Dark-->
  </div>
</section>