<!--
  #############
  Pagination Pages
  #############
-->
<section class=" elements">
  <div class="container">
    <!--PAgination-->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Pagination</h2>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view26" data-bs-toggle="tab" data-bs-target="#tabs-view26" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML26" data-bs-toggle="tab" data-bs-target="#tabs-HTML26" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>
              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view26" role="tabpanel" aria-labelledby="tabs-aria-view26">
                  <div class="tab-item ">
                    <div class="pagination pt-4 d-lg-flex align-items-center justify-content-lg-start justify-content-center">
                      <nav class="border-0" aria-label="Page navigation example ">
                        <ul class="pagination d-lg-flex align-items-center mb-0">
                          <li class="page-item">
                            <a href="#" class="btn btn-links btn-lg ">
                              <span class=" position-relative">
                                <i class="ph-arrow-right"></i>
                                Next</span>
                            </a>
                          </li>
                          <li class="page-item ">
                            <span class="page-link">1</span>
                          </li>
                          <li class="page-item">
                            <span class="page-link">/ 3 Pages</span>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML26" role="tabpanel" aria-labelledby="tabs-aria-HTML26">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!-- Default Pagination--&gt;
                        &lt;div class=&quot;pagination pt-4 d-lg-flex align-items-center justify-content-lg-start justify-content-center&quot;&gt;
                          &lt;nav class=&quot;border-0&quot; aria-label=&quot;Page navigation example &quot;&gt;
                            &lt;ul class=&quot;pagination d-lg-flex align-items-center mb-0&quot;&gt;
                              &lt;li class=&quot;page-item&quot;&gt;
                                &lt;a href=&quot;#&quot; class=&quot;btn btn-links btn-lg &quot;&gt;
                                  &lt;span class=&quot; position-relative&quot;&gt;
                                    &lt;i class=&quot;ph-arrow-right&quot;&gt;&lt;/i&gt;
                                    Next&lt;/span&gt;
                                &lt;/a&gt;
                              &lt;/li&gt;
                              &lt;li class=&quot;page-item &quot;&gt;
                                &lt;span class=&quot;page-link&quot;&gt;1&lt;/span&gt;
                              &lt;/li&gt;
                              &lt;li class=&quot;page-item&quot;&gt;
                                &lt;span class=&quot;page-link&quot;&gt;/ 3 Pages&lt;/span&gt;
                              &lt;/li&gt;
                            &lt;/ul&gt;
                          &lt;/nav&gt;
                        &lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>    
        </div>
      </div>
    </div>
    <!--Pagination-->
    <!--Pagination on stat middle and End-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Pagination</h2>
              <p> 1. Use <span class="highlight">.justify-content-center</span> to center align Pagination</p>
              <p> 2. Use <span class="highlight">.justify-content-end</span> to Right align Paginationa. </p>
            </div>
          </div>

          <div class="col-12">
            <div class="elements-tabs">
              <nav >
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view27" data-bs-toggle="tab" data-bs-target="#tabs-view27" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML27" data-bs-toggle="tab" data-bs-target="#tabs-HTML27" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>
              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view27" role="tabpanel" aria-labelledby="tabs-aria-view27">
                  <div class="tab-item ">
                    <p class="pt-5">Left Align</p>
                    <div class="pagination pt-4 d-lg-flex align-items-center justify-content-start">
                      <nav class="border-0" aria-label="Page navigation example">
                        <ul class="pagination d-lg-flex align-items-center mb-0">
                          <li class="page-item">
                            <a href="#" class="btn btn-links btn-lg ">
                              <span class=" position-relative">
                                <i class="ph-arrow-right"></i>
                                Next</span>
                            </a>
                          </li>
                          <li class="page-item ">
                            <span class="page-link">1</span>
                          </li>
                          <li class="page-item">
                            <span class="page-link" >/ 3 Pages</span>
                          </li>
                        </ul>
                      </nav>
                    </div>
                    <p class="text-center pt-5">Center Align</p>
                    <div class="pagination pt-4 d-lg-flex align-items-center justify-content-center">
                      <nav class="border-0" aria-label="Page navigation example">
                        <ul class="pagination d-lg-flex align-items-center mb-0">
                          <li class="page-item">
                            <a href="#" class="btn btn-links btn-lg ">
                              <span class=" position-relative">
                                <i class="ph-arrow-right"></i>
                                Next</span>
                            </a>
                          </li>
                          <li class="page-item ">
                            <span class="page-link">1</span>
                          </li>
                          <li class="page-item">
                            <span class="page-link" >/ 3 Pages</span>
                          </li>
                        </ul>
                      </nav>
                    </div>
                    <p class="text-end pt-5">Right Align</p>
                    <div class="pagination pt-4 d-lg-flex align-items-center justify-content-end">
                      <nav class="border-0" aria-label="Page navigation example">
                        <ul class="pagination d-lg-flex align-items-center mb-0">
                          <li class="page-item">
                            <a href="#" class="btn btn-links btn-lg ">
                              <span class=" position-relative">
                                <i class="ph-arrow-right"></i>
                                Next</span>
                            </a>
                          </li>
                          <li class="page-item ">
                            <span class="page-link">1</span>
                          </li>
                          <li class="page-item">
                            <span class="page-link" >/ 3 Pages</span>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML27" role="tabpanel" aria-labelledby="tabs-aria-HTML27">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!-- Left Align Pagination--&gt;
                        &lt;div class=&quot;pagination pt-4 d-lg-flex align-items-center justify-content-start&quot;&gt;
                          &lt;nav class=&quot;border-0&quot; aria-label=&quot;Page navigation example&quot;&gt;
                            &lt;ul class=&quot;pagination d-lg-flex align-items-center mb-0&quot;&gt;
                              &lt;li class=&quot;page-item&quot;&gt;
                                &lt;a href=&quot;#&quot; class=&quot;btn btn-links btn-lg &quot;&gt;
                                  &lt;span class=&quot; position-relative&quot;&gt;
                                    &lt;i class=&quot;ph-arrow-right&quot;&gt;&lt;/i&gt;
                                    Next&lt;/span&gt;
                                &lt;/a&gt;
                              &lt;/li&gt;
                              &lt;li class=&quot;page-item &quot;&gt;
                                &lt;span class=&quot;page-link&quot;&gt;1&lt;/span&gt;
                              &lt;/li&gt;
                              &lt;li class=&quot;page-item&quot;&gt;
                                &lt;span class=&quot;page-link&quot; &gt;/ 3 Pages&lt;/span&gt;
                              &lt;/li&gt;
                            &lt;/ul&gt;
                          &lt;/nav&gt;
                        &lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>        
        </div>
      </div>
    </div>
    <!--Pagination-->
  </div>
</section>