<!--
  #############
  table Pages
  #############
-->
<section class=" elements">
  <div class="container">
    <!--Default Table Example-->
    <div class="row ">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Table Default</h2>
            <p>
              Use the <span class="highlight"> .table</span> class with
              element inside main element.</p>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav" role="tablist">
                  <button class="nav-link active" id="tabs-aria-view32" data-bs-toggle="tab" data-bs-target="#tabs-view32" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML32" data-bs-toggle="tab" data-bs-target="#tabs-HTML32" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>

              <div class="tab-content " >
                <div class="tab-pane fade show active " id="tabs-view32" role="tabpanel" aria-labelledby="tabs-aria-view32">
                  <div class="tab-item ">
                    <div class="table-container w-lg-80">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Full Name</th>
                            <th scope="col">Title</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Phone Number</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td >Zakir Hossen</td>
                            <td>UI, UX Designer</td>
                            <td>dezakir.uix@gmail.com</td>
                            <td>@+88 222 5554 444</td>
                          </tr>
                          <tr>
                            <td >Zakir Hossen</td>
                            <td>UI, UX Designer</td>
                            <td>dezakir.uix@gmail.com</td>
                            <td>@+88 222 5554 444</td>
                          </tr>
                          <tr>
                            <td >Zakir Hossen</td>
                            <td>UI, UX Designer</td>
                            <td>dezakir.uix@gmail.com</td>
                            <td>@+88 222 5554 444</td>
                          </tr>
                          <tr class="active">
                            <td >Zakir Hossen</td>
                            <td>UI, UX Designer</td>
                            <td>dezakir.uix@gmail.com</td>
                            <td>@+88 222 5554 444</td>
                          </tr>
                          <tr>
                            <td >Zakir Hossen</td>
                            <td>UI, UX Designer</td>
                            <td>dezakir.uix@gmail.com</td>
                            <td>@+88 222 5554 444</td>
                          </tr>
                          <tr>
                            <td >Zakir Hossen</td>
                            <td>UI, UX Designer</td>
                            <td>dezakir.uix@gmail.com</td>
                            <td>@+88 222 5554 444</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML32" role="tabpanel" aria-labelledby="tabs-aria-HTML32">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Default Table--&gt;
                        &lt;table class=&quot;table&quot;&gt;
                          &lt;thead&gt;
                            &lt;tr&gt;
                              &lt;th&gt;#&lt;/th&gt;
                              &lt;th&gt;First Name&lt;/th&gt;
                              &lt;th&gt;Last Name&lt;/th&gt;
                              &lt;th&gt;Username&lt;/th&gt;
                            &lt;/tr&gt;
                          &lt;/thead&gt;
                          &lt;tbody&gt;
                            &lt;tr&gt;
                              &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                              &lt;td&gt;Mark&lt;/td&gt;
                              &lt;td&gt;Otto&lt;/td&gt;
                              &lt;td&gt;@mdo&lt;/td&gt;
                            &lt;/tr&gt;
                            &lt;tr&gt;
                              &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                              &lt;td&gt;Jacob&lt;/td&gt;
                              &lt;td&gt;Thornton&lt;/td&gt;
                              &lt;td&gt;@fat&lt;/td&gt;
                            &lt;/tr&gt;
                            &lt;tr&gt;
                              &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                              &lt;td&gt;Larry&lt;/td&gt;
                              &lt;td&gt;the Bird&lt;/td&gt;
                              &lt;td&gt;@twitter&lt;/td&gt;
                            &lt;/tr&gt;
                          &lt;/tbody&gt;
                        &lt;/table&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Default Table Example-->
    <!-- Price Table Example-->
    <div class="row ">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Price  Table</h2>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav" role="tablist">
                  <button class="nav-link active" id="tabs-aria-view332" data-bs-toggle="tab" data-bs-target="#tabs-view332" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML333" data-bs-toggle="tab" data-bs-target="#tabs-HTML333" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>

              <div class="tab-content " >
                <div class="tab-pane fade show active " id="tabs-view332" role="tabpanel" aria-labelledby="tabs-aria-view332">
                  <div class="tab-item ">

                    <div class="price py-5 py-lg-5">
                      <div class="container">
                        <!-- start section header -->
                        <div class="row">
                          <div class="col-lg-8 mx-auto">
                            <div class="section-header">
                              <h2>Plans & Pricing</h2>
                              <p>Effortable Pricing Plans</p>
                            </div>
                          </div>
                        </div>
                        <!-- end section header -->
                        <!-- start Price Items -->
                        <div class="row">
                          <!--Start Price Item-->
                          <div class="col-md-4">
                            <div class="price-container">
                              <div class="price-header">
                                <h4 class="mb-4">Basic</h4>
                                <h2 class="mb-0">$500</h2>
                                <p class="mb-ms-5 fs-5 fw-bold">to start</p>
                              </div>
                              <div class="price-body">
                                <ul class="list-unstyled mb-4">
                                  <li class="mb-4 d-flex justify-content-start align-items-center">
                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                      
                                    <p class="ps-4 mb-0">1 Home Page Design</p>
                                  </li>
                                  <li class="mb-4 d-flex justify-content-start align-items-center">
                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                      
                                    <p class="ps-4 mb-0">Unlimited Meeting</p>
                                  </li>
                                  <li class="mb-4 d-flex justify-content-start align-items-center">
                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <p class="ps-4 mb-0">Figma, XD file</p>
                                  </li>
                                  <li class="mb-4 d-flex justify-content-start align-items-center">
                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <p class="ps-4 mb-0">Delivery Support</p>
                                  </li>
                                </ul>
                                <div class="mt-sm-8">
                                  <a href="#" class="btn btn-links btn-lg">Let's Start</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--End of Price Item -->
                    
                          <!--Start Price Item-->
                          <div class="col-md-4">
                            <div class="price-container featured">
                              <div class="price-header">
                                <h4 class="mb-4">Bussiness</h4>
                                <h2 class="mb-0">$800</h2>
                                <p class="mb-ms-5 fs-5 fw-bold">to start</p>
                              </div>
                              <div class="price-body">
                                <ul class="list-unstyled mb-4">
                                  <li class="mb-4 d-flex justify-content-start align-items-center">
                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                      
                                    <p class="ps-4 mb-0">2 Home Page Design</p>
                                  </li>
                                  <li class="mb-4 d-flex justify-content-start align-items-center">
                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                      
                                    <p class="ps-4 mb-0">Unlimited Meeting</p>
                                  </li>
                                  <li class="mb-4 d-flex justify-content-start align-items-center">
                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <p class="ps-4 mb-0">Figma, XD file</p>
                                  </li>
                                  <li class="mb-4 d-flex justify-content-start align-items-center">
                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <p class="ps-4 mb-0">Delivery Support</p>
                                  </li>
                                </ul>
                                <div class="mt-sm-8">
                                  <a href="#" class="btn btn-primary btn-lg">Let's Start</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--End of Price Item -->
                    
                          <!--Start Price Item-->
                          <div class="col-md-4">
                            <div class="price-container">
                              <div class="price-header">
                                <h4 class="mb-4">Enterprize</h4>
                                <h2 class="mb-0">$1400</h2>
                                <p class="mb-ms-5 fs-5 fw-bold">to start</p>
                              </div>
                              <div class="price-body">
                                <ul class="list-unstyled mb-4">
                                  <li class="mb-4 d-flex justify-content-start align-items-center">
                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                      
                                    <p class="ps-4 mb-0">5 Home Page Design</p>
                                  </li>
                                  <li class="mb-4 d-flex justify-content-start align-items-center">
                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                      
                                    <p class="ps-4 mb-0">Unlimited Meeting</p>
                                  </li>
                                  <li class="mb-4 d-flex justify-content-start align-items-center">
                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <p class="ps-4 mb-0">Figma, XD file</p>
                                  </li>
                                  <li class="mb-4 d-flex justify-content-start align-items-center">
                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <p class="ps-4 mb-0">Delivery Support</p>
                                  </li>
                                </ul>
                                <div class="mt-sm-8">
                                  <a href="#" class="btn btn-links btn-lg">Let's Start</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--End of Price Item -->
                        </div>
                        <!-- end Price Items -->
                      </div>
                    </div>

                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML333" role="tabpanel" aria-labelledby="tabs-aria-HTML333">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;section class=&quot;price py-8 py-lg-9&quot;&gt;
                          &lt;div class=&quot;container&quot;&gt;
                            &lt;!-- start section header --&gt;
                            &lt;div class=&quot;row&quot;&gt;
                              &lt;div class=&quot;col-lg-8 mx-auto&quot;&gt;
                                &lt;div class=&quot;section-header&quot;&gt;
                                  &lt;h2&gt;Plans &amp; Pricing&lt;/h2&gt;
                                  &lt;p&gt;Effortable Pricing Plans&lt;/p&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;!-- end section header --&gt;
                            &lt;!-- start Price Items --&gt;
                            &lt;div class=&quot;row&quot;&gt;
                              &lt;!--Start Price Item--&gt;
                              &lt;div class=&quot;col-md-4&quot;&gt;
                                &lt;div class=&quot;price-container&quot;&gt;
                                  &lt;div class=&quot;price-header&quot;&gt;
                                    &lt;h4 class=&quot;mb-4&quot;&gt;Basic&lt;/h4&gt;
                                    &lt;h2 class=&quot;mb-0&quot;&gt;$500&lt;/h2&gt;
                                    &lt;p class=&quot;mb-ms-5 fs-5 fw-bold&quot;&gt;to start&lt;/p&gt;
                                  &lt;/div&gt;
                                  &lt;div class=&quot;price-body&quot;&gt;
                                    &lt;ul class=&quot;list-unstyled mb-4&quot;&gt;
                                      &lt;li class=&quot;mb-4 d-flex justify-content-start align-items-center&quot;&gt;
                                        &lt;svg width=&quot;26&quot; height=&quot;26&quot; viewBox=&quot;0 0 26 26&quot; fill=&quot;none&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                          &lt;path d=&quot;M17.4688 10.5625L11.5104 16.25L8.53125 13.4062&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                          &lt;path d=&quot;M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                        &lt;/svg&gt;
                                          
                                        &lt;p class=&quot;ps-4 mb-0&quot;&gt;1 Home Page Design&lt;/p&gt;
                                      &lt;/li&gt;
                                      &lt;li class=&quot;mb-4 d-flex justify-content-start align-items-center&quot;&gt;
                                        &lt;svg width=&quot;26&quot; height=&quot;26&quot; viewBox=&quot;0 0 26 26&quot; fill=&quot;none&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                          &lt;path d=&quot;M17.4688 10.5625L11.5104 16.25L8.53125 13.4062&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                          &lt;path d=&quot;M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                        &lt;/svg&gt;
                                          
                                        &lt;p class=&quot;ps-4 mb-0&quot;&gt;Unlimited Meeting&lt;/p&gt;
                                      &lt;/li&gt;
                                      &lt;li class=&quot;mb-4 d-flex justify-content-start align-items-center&quot;&gt;
                                        &lt;svg width=&quot;26&quot; height=&quot;26&quot; viewBox=&quot;0 0 26 26&quot; fill=&quot;none&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                          &lt;path d=&quot;M17.4688 10.5625L11.5104 16.25L8.53125 13.4062&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                          &lt;path d=&quot;M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                        &lt;/svg&gt;
                                        &lt;p class=&quot;ps-4 mb-0&quot;&gt;Figma, XD file&lt;/p&gt;
                                      &lt;/li&gt;
                                      &lt;li class=&quot;mb-4 d-flex justify-content-start align-items-center&quot;&gt;
                                        &lt;svg width=&quot;26&quot; height=&quot;26&quot; viewBox=&quot;0 0 26 26&quot; fill=&quot;none&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                          &lt;path d=&quot;M17.4688 10.5625L11.5104 16.25L8.53125 13.4062&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                          &lt;path d=&quot;M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                        &lt;/svg&gt;
                                        &lt;p class=&quot;ps-4 mb-0&quot;&gt;Delivery Support&lt;/p&gt;
                                      &lt;/li&gt;
                                    &lt;/ul&gt;
                                    &lt;div class=&quot;mt-sm-8&quot;&gt;
                                      &lt;a href=&quot;#&quot; class=&quot;btn btn-links btn-lg&quot;&gt;Let's Start&lt;/a&gt;
                                    &lt;/div&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                              &lt;!--End of Price Item --&gt;

                              &lt;!--Start Price Item--&gt;
                              &lt;div class=&quot;col-md-4&quot;&gt;
                                &lt;div class=&quot;price-container featered&quot;&gt;
                                  &lt;div class=&quot;price-header&quot;&gt;
                                    &lt;h4 class=&quot;mb-4&quot;&gt;Bussiness&lt;/h4&gt;
                                    &lt;h2 class=&quot;mb-0&quot;&gt;$800&lt;/h2&gt;
                                    &lt;p class=&quot;mb-ms-5 fs-5 fw-bold&quot;&gt;to start&lt;/p&gt;
                                  &lt;/div&gt;
                                  &lt;div class=&quot;price-body&quot;&gt;
                                    &lt;ul class=&quot;list-unstyled mb-4&quot;&gt;
                                      &lt;li class=&quot;mb-4 d-flex justify-content-start align-items-center&quot;&gt;
                                        &lt;svg width=&quot;26&quot; height=&quot;26&quot; viewBox=&quot;0 0 26 26&quot; fill=&quot;none&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                          &lt;path d=&quot;M17.4688 10.5625L11.5104 16.25L8.53125 13.4062&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                          &lt;path d=&quot;M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                        &lt;/svg&gt;
                                          
                                        &lt;p class=&quot;ps-4 mb-0&quot;&gt;2 Home Page Design&lt;/p&gt;
                                      &lt;/li&gt;
                                      &lt;li class=&quot;mb-4 d-flex justify-content-start align-items-center&quot;&gt;
                                        &lt;svg width=&quot;26&quot; height=&quot;26&quot; viewBox=&quot;0 0 26 26&quot; fill=&quot;none&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                          &lt;path d=&quot;M17.4688 10.5625L11.5104 16.25L8.53125 13.4062&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                          &lt;path d=&quot;M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                        &lt;/svg&gt;
                                          
                                        &lt;p class=&quot;ps-4 mb-0&quot;&gt;Unlimited Meeting&lt;/p&gt;
                                      &lt;/li&gt;
                                      &lt;li class=&quot;mb-4 d-flex justify-content-start align-items-center&quot;&gt;
                                        &lt;svg width=&quot;26&quot; height=&quot;26&quot; viewBox=&quot;0 0 26 26&quot; fill=&quot;none&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                          &lt;path d=&quot;M17.4688 10.5625L11.5104 16.25L8.53125 13.4062&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                          &lt;path d=&quot;M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                        &lt;/svg&gt;
                                        &lt;p class=&quot;ps-4 mb-0&quot;&gt;Figma, XD file&lt;/p&gt;
                                      &lt;/li&gt;
                                      &lt;li class=&quot;mb-4 d-flex justify-content-start align-items-center&quot;&gt;
                                        &lt;svg width=&quot;26&quot; height=&quot;26&quot; viewBox=&quot;0 0 26 26&quot; fill=&quot;none&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                          &lt;path d=&quot;M17.4688 10.5625L11.5104 16.25L8.53125 13.4062&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                          &lt;path d=&quot;M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                        &lt;/svg&gt;
                                        &lt;p class=&quot;ps-4 mb-0&quot;&gt;Delivery Support&lt;/p&gt;
                                      &lt;/li&gt;
                                    &lt;/ul&gt;
                                    &lt;div class=&quot;mt-sm-8&quot;&gt;
                                      &lt;a href=&quot;#&quot; class=&quot;btn btn-primary  btn-lg&quot;&gt;Let's Start&lt;/a&gt;
                                    &lt;/div&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                              &lt;!--End of Price Item --&gt;

                              &lt;!--Start Price Item--&gt;
                              &lt;div class=&quot;col-md-4&quot;&gt;
                                &lt;div class=&quot;price-container&quot;&gt;
                                  &lt;div class=&quot;price-header&quot;&gt;
                                    &lt;h4 class=&quot;mb-4&quot;&gt;Enterprize&lt;/h4&gt;
                                    &lt;h2 class=&quot;mb-0&quot;&gt;$1400&lt;/h2&gt;
                                    &lt;p class=&quot;mb-ms-5 fs-5 fw-bold&quot;&gt;to start&lt;/p&gt;
                                  &lt;/div&gt;
                                  &lt;div class=&quot;price-body&quot;&gt;
                                    &lt;ul class=&quot;list-unstyled mb-4&quot;&gt;
                                      &lt;li class=&quot;mb-4 d-flex justify-content-start align-items-center&quot;&gt;
                                        &lt;svg width=&quot;26&quot; height=&quot;26&quot; viewBox=&quot;0 0 26 26&quot; fill=&quot;none&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                          &lt;path d=&quot;M17.4688 10.5625L11.5104 16.25L8.53125 13.4062&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                          &lt;path d=&quot;M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                        &lt;/svg&gt;
                                          
                                        &lt;p class=&quot;ps-4 mb-0&quot;&gt;5 Home Page Design&lt;/p&gt;
                                      &lt;/li&gt;
                                      &lt;li class=&quot;mb-4 d-flex justify-content-start align-items-center&quot;&gt;
                                        &lt;svg width=&quot;26&quot; height=&quot;26&quot; viewBox=&quot;0 0 26 26&quot; fill=&quot;none&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                          &lt;path d=&quot;M17.4688 10.5625L11.5104 16.25L8.53125 13.4062&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                          &lt;path d=&quot;M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                        &lt;/svg&gt;
                                          
                                        &lt;p class=&quot;ps-4 mb-0&quot;&gt;Unlimited Meeting&lt;/p&gt;
                                      &lt;/li&gt;
                                      &lt;li class=&quot;mb-4 d-flex justify-content-start align-items-center&quot;&gt;
                                        &lt;svg width=&quot;26&quot; height=&quot;26&quot; viewBox=&quot;0 0 26 26&quot; fill=&quot;none&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                          &lt;path d=&quot;M17.4688 10.5625L11.5104 16.25L8.53125 13.4062&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                          &lt;path d=&quot;M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                        &lt;/svg&gt;
                                        &lt;p class=&quot;ps-4 mb-0&quot;&gt;Figma, XD file&lt;/p&gt;
                                      &lt;/li&gt;
                                      &lt;li class=&quot;mb-4 d-flex justify-content-start align-items-center&quot;&gt;
                                        &lt;svg width=&quot;26&quot; height=&quot;26&quot; viewBox=&quot;0 0 26 26&quot; fill=&quot;none&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                          &lt;path d=&quot;M17.4688 10.5625L11.5104 16.25L8.53125 13.4062&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                          &lt;path d=&quot;M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z&quot; stroke=&quot;#455157&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;/&gt;
                                        &lt;/svg&gt;
                                        &lt;p class=&quot;ps-4 mb-0&quot;&gt;Delivery Support&lt;/p&gt;
                                      &lt;/li&gt;
                                    &lt;/ul&gt;
                                    &lt;div class=&quot;mt-sm-8&quot;&gt;
                                      &lt;a href=&quot;#&quot; class=&quot;btn btn-links btn-lg&quot;&gt;Let's Start&lt;/a&gt;
                                    &lt;/div&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                              &lt;!--End of Price Item --&gt;
                            &lt;/div&gt;
                            &lt;!-- end Price Items --&gt;
                          &lt;/div&gt;
                        &lt;/section&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!--Price Table Example-->


  </div>
</section>