<!--
  #############
  Tabs Pages
  #############
-->
<section class=" elements">
  <div class="container">
    <!--Default Tabs-->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Default Tabs</h2>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav >
                <div class="nav " role="tablist">
                  <button class="nav-link active" id="tabs-aria-view28" data-bs-toggle="tab" data-bs-target="#tabs-view28" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML28" data-bs-toggle="tab" data-bs-target="#tabs-HTML28" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>

              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view28" role="tabpanel" aria-labelledby="tabs-aria-view28">
                  <div class="tab-item w-lg-75">
                    <nav class="theme-tabs border-0">
                      <div class="nav nav-tabs"  role="tablist">
                        <button class="nav-link active" id="tabs-home-tab" data-bs-toggle="tab" data-bs-target="#tabs-home" type="button" role="tab" aria-controls="tabs-home" aria-selected="true">Home</button>
                        <button class="nav-link" id="tabs-profile-tab" data-bs-toggle="tab" data-bs-target="#tabs-profile" type="button" role="tab" aria-controls="tabs-profile" aria-selected="false">Profile</button>
                        <button class="nav-link" id="tabs-contact-tab" data-bs-toggle="tab" data-bs-target="#tabs-contact" type="button" role="tab" aria-controls="tabs-contact" aria-selected="false">Contact</button>
                      </div>
                    </nav>
                    <div class="tab-content theme-tab-content" >
                      <div class="tab-pane fade show active " id="tabs-home" role="tabpanel" aria-labelledby="tabs-home-tab">
                        <div class="tab-item ">
                          <h5>What is Lorem Ipsum?</h5>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>          
                      </div>
                      <div class="tab-pane fade" id="tabs-profile" role="tabpanel" aria-labelledby="tabs-profile-tab">
                        <div class="tab-item ">
                          <h5>What is Lorem Ipsum?</h5>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="tabs-contact" role="tabpanel" aria-labelledby="tabs-contact-tab">
                        <div class="tab-item ">
                          <h5>What is Lorem Ipsum?</h5>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                      </div>
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML28" role="tabpanel" aria-labelledby="tabs-aria-HTML28">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Default Tab--&gt;
                        &lt;nav&gt;
                          &lt;div class=&quot;nav nav-tabs&quot; id=&quot;nav-tab&quot; role=&quot;tablist&quot;&gt;
                            &lt;button class=&quot;nav-link active&quot; id=&quot;tabs-home-tab&quot; data-bs-toggle=&quot;tab&quot; 
                            data-bs-target=&quot;#tabs-home&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;tabs-home&quot; 
                            aria-selected=&quot;true&quot;&gt;Home&lt;/button&gt;
                            &lt;button class=&quot;nav-link&quot; id=&quot;tabs-profile-tab&quot; data-bs-toggle=&quot;tab&quot; 
                            data-bs-target=&quot;#tabs-profile&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;tabs-profile&quot; 
                            aria-selected=&quot;false&quot;&gt;Profile&lt;/button&gt;
                            &lt;button class=&quot;nav-link&quot; id=&quot;tabs-contact-tab&quot; data-bs-toggle=&quot;tab&quot; 
                            data-bs-target=&quot;#tabs-contact&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;tabs-contact&quot; 
                            aria-selected=&quot;false&quot;&gt;Contact&lt;/button&gt;
                          &lt;/div&gt;
                        &lt;/nav&gt;
                        &lt;div class=&quot;tab-content theme-tab-content&quot; id=&quot;nav-tabContent&quot;&gt;
                          &lt;div class=&quot;tab-pane fade show active &quot; id=&quot;tabs-home&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;tabs-home-tab&quot;&gt;
                          ...         
                          &lt;/div&gt;
                          &lt;div class=&quot;tab-pane fade&quot; id=&quot;tabs-profile&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;tabs-profile-tab&quot;&gt;
                          ...
                          &lt;/div&gt;
                          &lt;div class=&quot;tab-pane fade&quot; id=&quot;tabs-contact&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;tabs-contact-tab&quot;&gt;
                          ..
                          &lt;/div&gt;
                        &lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>      
        </div>
      </div>
    </div>
    <!--Default Tabs-->

    <!--Pill Tabs-->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Pill Tabs</h2>
              <p class="my-4">
                To add pill tabs, just replace <span class="highlight">.nav-tabs </span> class with <span class="highlight">.nav-pills  </span> class.
              </p>
            </div>
            
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav" role="tablist">
                  <button class="nav-link active" id="tabs-aria-view29" data-bs-toggle="tab" data-bs-target="#tabs-view29" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML29" data-bs-toggle="tab" data-bs-target="#tabs-HTML29" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>

              <div class="tab-content " >
                <div class="tab-pane fade show active " id="tabs-view29" role="tabpanel" aria-labelledby="tabs-aria-view29">
                  <div class="tab-item w-lg-75">
                    <nav class="theme-tabs border-0">
                      <div class="nav nav-pills" id="pills-tab" role="tablist">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="tab" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="tab" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="tab" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
                      </div>
                    </nav>
                    <div class="tab-content theme-tab-pills-contents" id="pills-tabContent">
                      <div class="tab-pane fade show active " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="tab-item ">
                          <h5>What is Lorem Ipsum?</h5>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        
                                        
                      </div>
                      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="tab-item">
                          <h5>What is Lorem Ipsum?</h5>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="tab-item">
                          <h5>What is Lorem Ipsum?</h5>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                      </div>
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML29" role="tabpanel" aria-labelledby="tabs-aria-HTML29">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Pill Tabs--&gt;
                        &lt;nav&gt;
                          &lt;div class=&quot;nav nav-pills&quot; id=&quot;pills-tab&quot; role=&quot;tablist&quot;&gt;
                            &lt;button class=&quot;nav-link active&quot; id=&quot;pills-home-tab&quot; data-bs-toggle=&quot;tab&quot; data-bs-target=&quot;#pills-home&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;pills-home&quot; aria-selected=&quot;true&quot;&gt;Home&lt;/button&gt;
                            &lt;button class=&quot;nav-link&quot; id=&quot;pills-profile-tab&quot; data-bs-toggle=&quot;tab&quot; data-bs-target=&quot;#pills-profile&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;pills-profile&quot; aria-selected=&quot;false&quot;&gt;Profile&lt;/button&gt;
                            &lt;button class=&quot;nav-link&quot; id=&quot;pills-contact-tab&quot; data-bs-toggle=&quot;tab&quot; data-bs-target=&quot;#pills-contact&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;pills-contact&quot; aria-selected=&quot;false&quot;&gt;Contact&lt;/button&gt;
                          &lt;/div&gt;
                        &lt;/nav&gt;
                        &lt;div class=&quot;tab-content theme-tab-pills-contents&quot; id=&quot;pills-tabContent&quot;&gt;
                          &lt;div class=&quot;tab-pane fade show active &quot; id=&quot;pills-home&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;pills-home-tab&quot;&gt;
                              ...            
                          &lt;/div&gt;
                          &lt;div class=&quot;tab-pane fade&quot; id=&quot;pills-profile&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;pills-profile-tab&quot;&gt;
                            ...
                          &lt;/div&gt;
                          &lt;div class=&quot;tab-pane fade&quot; id=&quot;pills-contact&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;pills-contact-tab&quot;&gt;
                            ...
                          &lt;/div&gt;
                        &lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>     
        </div>
      </div>
    </div>
    <!--Pill Tabs-->

    <!--Vertical Tabs-->
    <!-- <div class="row ">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Vertical Tabs</h2>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav >
                <div class="nav" role="tablist">
                  <button class="nav-link active" id="tabs-aria-view31" data-bs-toggle="tab" data-bs-target="#tabs-view31" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML31" data-bs-toggle="tab" data-bs-target="#tabs-HTML31" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>

              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view31" role="tabpanel" aria-labelledby="tabs-aria-view31">
                  <div class="tab-item ">
                    <div class="d-flex align-items-start">
                      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
                        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
                        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
                        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
                      </div>
                      <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                          <div class="tab-item ">
                            <h3>What is Lorem Ipsum?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                          <div class="tab-item ">
                            <h3>What is Lorem Ipsum?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><div class="tab-item ">
                          <h3>What is Lorem Ipsum?</h3>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div></div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"><div class="tab-item ">
                          <h3>What is Lorem Ipsum?</h3>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div></div>
                      </div>
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML31" role="tabpanel" aria-labelledby="tabs-aria-HTML31">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--Vertical Tabs--&gt;
                        &lt;div class=&quot;d-flex align-items-start&quot;&gt;
                          &lt;div class=&quot;nav flex-column nav-pills me-3&quot; id=&quot;v-pills-tab&quot; role=&quot;tablist&quot; aria-orientation=&quot;vertical&quot;&gt;
                            &lt;button class=&quot;nav-link active&quot; id=&quot;v-pills-home-tab&quot; data-bs-toggle=&quot;pill&quot; data-bs-target=&quot;#v-pills-home&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;v-pills-home&quot; aria-selected=&quot;true&quot;&gt;Home&lt;/button&gt;
                            &lt;button class=&quot;nav-link&quot; id=&quot;v-pills-profile-tab&quot; data-bs-toggle=&quot;pill&quot; data-bs-target=&quot;#v-pills-profile&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;v-pills-profile&quot; aria-selected=&quot;false&quot;&gt;Profile&lt;/button&gt;
                            &lt;button class=&quot;nav-link&quot; id=&quot;v-pills-messages-tab&quot; data-bs-toggle=&quot;pill&quot; data-bs-target=&quot;#v-pills-messages&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;v-pills-messages&quot; aria-selected=&quot;false&quot;&gt;Messages&lt;/button&gt;
                            &lt;button class=&quot;nav-link&quot; id=&quot;v-pills-settings-tab&quot; data-bs-toggle=&quot;pill&quot; data-bs-target=&quot;#v-pills-settings&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;v-pills-settings&quot; aria-selected=&quot;false&quot;&gt;Settings&lt;/button&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;tab-content&quot; id=&quot;v-pills-tabContent&quot;&gt;
                            &lt;div class=&quot;tab-pane fade show active&quot; id=&quot;v-pills-home&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;v-pills-home-tab&quot;&gt;...&lt;/div&gt;
                            &lt;div class=&quot;tab-pane fade&quot; id=&quot;v-pills-profile&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;v-pills-profile-tab&quot;&gt;...&lt;/div&gt;
                            &lt;div class=&quot;tab-pane fade&quot; id=&quot;v-pills-messages&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;v-pills-messages-tab&quot;&gt;...&lt;/div&gt;
                            &lt;div class=&quot;tab-pane fade&quot; id=&quot;v-pills-settings&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;v-pills-settings-tab&quot;&gt;...&lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>      
        </div>
      </div>
    </div> -->
    <!--Vertical Tabs-->

  </div>
</section>