<!--
  #############
  Teams Page
  #############
-->
<section class=" elements">
  <div class="container">
    <!--Default Team Example-->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2> Default Team</h2>
              <p>Use the element inside main element.</p>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav" role="tablist">
                  <button class="nav-link active" id="tabs-aria-view40" data-bs-toggle="tab" data-bs-target="#tabs-view40" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML40" data-bs-toggle="tab" data-bs-target="#tabs-HTML40" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>
              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view40" role="tabpanel" aria-labelledby="tabs-aria-view40">
                  <div class="tab-item ">
                    <div class="team-wrapper d-grid grid-template-3">
                      <!--Team Members-->
                      <div class="team-member">
                        <img src="images/team/team-member1.png" alt="team-member-thumb" class="team-member-thumb">
                        <div class="team-member-details">
                          <h4>Marvin McKinney</h4>
                          <p>Founder and CEO</p>
                          
                        </div>
                      </div>
                      <!--Team Members-->
                      <div class="team-member">
                        <img src="images/team/team-member2.png" alt="team-member-thumb" class="team-member-thumb">
                        <div class="team-member-details">
                          <h4>Floyd Miles McKinney</h4>
                          <p>Co-Founder and CTO</p>
                          
                        </div>
                      </div>
            
                      <!--Team Members-->
                      <div class="team-member">
                        <img src="images/team/team-member3.png" alt="team-member-thumb" class="team-member-thumb">
                        <div class="team-member-details">
                          <h4>Kristin Watson</h4>
                          <p>Co-Founder and CTO</p>
                          
                        </div>
                      </div>
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML40" role="tabpanel" aria-labelledby="tabs-aria-HTML40">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;div class=&quot;team-members d-grid grid-template-4 mb-5&quot;&gt;
                        &lt;!-- Team Member--&gt;
                          &lt;div class=&quot;team-member card shadow p-3 rounded-3 text-center&quot;&gt;
                            &lt;img src=&quot;images/team/team-member1.png&quot; alt=&quot;&quot;
                              class=&quot;team-member-thumb w-100 h-100 rounded-3 mx-auto &quot;&gt;
                            &lt;div class=&quot;team-member-details&quot;&gt;
                              &lt;h4 class=&quot;mt-3 mb-2 lh-sm fs-3&quot;&gt;Angelina Lina&lt;/h4&gt;
                              &lt;span&gt;CEO&lt;/span&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;!-- Team Member--&gt;
                          &lt;div class=&quot;team-member card shadow p-3 rounded-3 text-center&quot;&gt;
                            &lt;img src=&quot;images/team/team-member2.png&quot; alt=&quot;&quot;
                              class=&quot;team-member-thumb w-100 h-100 rounded-3 mx-auto &quot;&gt;
                            &lt;div class=&quot;team-member-details&quot;&gt;
                              &lt;h4 class=&quot;mt-3 mb-2 lh-sm fs-3&quot;&gt;Micthel Slattter&lt;/h4&gt;
                              &lt;span&gt;UX Designer&lt;/span&gt;
                            &lt;/div&gt;
      
                          &lt;/div&gt;
                          &lt;!-- Team Member--&gt;
                          &lt;div class=&quot;team-member card shadow p-3 rounded-3 text-center&quot;&gt;
                            &lt;img src=&quot;images/team/team-member3.png&quot; alt=&quot;&quot;
                              class=&quot;team-member-thumb w-100 h-100 rounded-3 mx-auto &quot;&gt;
                            &lt;div class=&quot;team-member-details&quot;&gt;
                              &lt;h4 class=&quot;mt-3 mb-2 lh-sm fs-3&quot;&gt;Johny Dane&lt;/h4&gt;
                              &lt;span&gt;Managing Director&lt;/span&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;!-- Team Member--&gt;
                          &lt;div class=&quot;team-member card shadow p-3 rounded-3 text-center&quot;&gt;
                            &lt;img src=&quot;images/team/team-member4.png&quot; alt=&quot;&quot;
                              class=&quot;team-member-thumb w-100 h-100 rounded-3 mx-auto &quot;&gt;
                            &lt;div class=&quot;team-member-details&quot;&gt;
                              &lt;h4 class=&quot;mt-3 mb-2 lh-sm fs-3&quot;&gt;Lara Latiniya&lt;/h4&gt;
                              &lt;span&gt;Graphics Designer&lt;/span&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;!-- Team Member--&gt;
                        &lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!--Default Team Example-->

    <!--Other Team Example-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Team View With rounded image</h2>
              <p>Use the element inside main element.</p>
            </div>
          </div>
          <div class="col-12">
            <div class="elements-tabs">
              <nav>
                <div class="nav" role="tablist">
                  <button class="nav-link active" id="tabs-aria-view41" data-bs-toggle="tab" data-bs-target="#tabs-view41" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML41" data-bs-toggle="tab" data-bs-target="#tabs-HTML41" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>

              <div class="tab-content " >
                <div class="tab-pane fade show active " id="tabs-view41" role="tabpanel" aria-labelledby="tabs-aria-view41">
                  <div class="tab-item ">
                    <div class="team-members d-grid grid-template-4 mb-5">
                      <!-- Team Member-->
                      <div class="team-member card cards shadow p-5 rounded-3 text-center">
                        <img src="images/team/team-member1.png" alt="" class="team-member-thumb rounded-circle mx-auto mb-3">
                        <div class="team-member-details">
                          <h4 class="mb-2">Angelina Lina</h4>
                          <span>CEO</span>
                        </div>
                      </div>
                      <!-- Team Member-->
                      <div class="team-member card cards shadow p-5 rounded-3 text-center">
                        <img src="images/team/team-member2.png" alt="" class="team-member-thumb rounded-circle mx-auto mb-3">
                        <div class="team-member-details">
                          <h4 class="mb-3">Micthel Slattter</h4>
                          <span>UX Designer</span>
                        </div>
                      </div>
                      <!-- Team Member-->
                      <div class="team-member card cards shadow p-5 rounded-3 text-center">
                        <img src="images/team/team-member4.png" alt="" class="team-member-thumb rounded-circle mx-auto mb-3">
                        <div class="team-member-details">
                          <h4 class="mb-3">Johny Dane</h4>
                          <span>Managing Director</span>
                        </div>
                      </div>
                      <!-- Team Member-->
                      <div class="team-member card cards shadow p-5 rounded-3 text-center">
                        <img src="images/team/team-member3.png" alt="" class="team-member-thumb rounded-circle mx-auto mb-3">
                        <div class="team-member-details">
                          <h4 class="mb-3">Lara Latiniya</h4>
                          <span>Graphics Designer</span>
                        </div>
                      </div>
                      <!-- Team Member-->
                    </div>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML41" role="tabpanel" aria-labelledby="tabs-aria-HTML41">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;div class=&quot;team-members d-grid grid-template-4 mb-5&quot;&gt;
                          &lt;!-- Team Member--&gt;
                          &lt;div class=&quot;team-member card cards shadow p-5 rounded-3 text-center&quot;&gt;
                            &lt;img src=&quot;images/team/team-member1.png&quot; alt=&quot;&quot; class=&quot;team-member-thumb rounded-circle mx-auto mb-3&quot;&gt;
                            &lt;div class=&quot;team-member-details&quot;&gt;
                              &lt;h4 class=&quot;mb-2&quot;&gt;Angelina Lina&lt;/h4&gt;
                              &lt;span&gt;CEO&lt;/span&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;!-- Team Member--&gt;
                          &lt;div class=&quot;team-member card cards shadow p-5 rounded-3 text-center&quot;&gt;
                            &lt;img src=&quot;images/team/team-member2.png&quot; alt=&quot;&quot; class=&quot;team-member-thumb rounded-circle mx-auto mb-3&quot;&gt;
                            &lt;div class=&quot;team-member-details&quot;&gt;
                              &lt;h4 class=&quot;mb-3&quot;&gt;Micthel Slattter&lt;/h4&gt;
                              &lt;span&gt;UX Designer&lt;/span&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;!-- Team Member--&gt;
                          &lt;div class=&quot;team-member card cards shadow p-5 rounded-3 text-center&quot;&gt;
                            &lt;img src=&quot;images/team/team-member4.png&quot; alt=&quot;&quot; class=&quot;team-member-thumb rounded-circle mx-auto mb-3&quot;&gt;
                            &lt;div class=&quot;team-member-details&quot;&gt;
                              &lt;h4 class=&quot;mb-3&quot;&gt;Johny Dane&lt;/h4&gt;
                              &lt;span&gt;Managing Director&lt;/span&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;!-- Team Member--&gt;
                          &lt;div class=&quot;team-member card cards shadow p-5 rounded-3 text-center&quot;&gt;
                            &lt;img src=&quot;images/team/team-member3.png&quot; alt=&quot;&quot; class=&quot;team-member-thumb rounded-circle mx-auto mb-3&quot;&gt;
                            &lt;div class=&quot;team-member-details&quot;&gt;
                              &lt;h4 class=&quot;mb-3&quot;&gt;Lara Latiniya&lt;/h4&gt;
                              &lt;span&gt;Graphics Designer&lt;/span&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;!-- Team Member--&gt;
                        &lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!--Other Team Example-->
  </div>
</section>