<!--
  #############
  Testimonials PAges
  #############
-->
<section class=" elements ">
  <div class="container">
    <!--Default Team Example-->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2> Default Testimonial</h2>
              <p>Use the element inside main element.</p>
            </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
            <div class="elements-tabs">
              <nav>
                <div class="nav" role="tablist">
                  <button class="nav-link active" id="tabs-aria-view42" data-bs-toggle="tab" data-bs-target="#tabs-view42" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML42" data-bs-toggle="tab" data-bs-target="#tabs-HTML42" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>
              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view42" role="tabpanel" aria-labelledby="tabs-aria-view42">
                  <div class="tab-item ">
                    <!--
                      ###########
                      Testimonial Section
                      ###########
                    -->
                    <section class="testimonials bg-gray-light py-8 pt-lg-11 pb-lg-5">
                      <div class="container-fluid">
                        <!-- section title -->
                        <div class="row">
                          <div class="col-lg-10 ms-auto overflow-hidden">
                            <h2>Testimonials</h2>
                            <!-- start off testimonials slider -->
                            <div class="slider-wrapper">
                              <div class="testimonials-slider position-relative">
                                <!-- start off testimonials slider item  one-->
                                <div class="card item ">
                                  <div class="profile">
                                    <img src="../images/testimonial/testimonial-thumb-2.png" alt="thumb">
                                    <img src="../images/testimonial/smiel-icon.svg" alt="icon">
                                  </div>
                                  <div class="card-body ">
                                    <div class="icon ">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                    </div>
                                    <h5>Suggests that the top planners spend most of their time engaged in analysis and are
                                      concerned with industry.</h5>
                                    <div class="content">
                                      <h6>Kausar Ahmed</h6>
                                      <p>Founder of Static Mania</p>
                                    </div>
                                  </div>
                                </div>
                                <!-- start off testimonials slider item  two-->
                                <div class="card item ">
                                  <div class="profile">
                                    <img src="../images/testimonial/testimonial-thumb-3.png" alt="thumb">
                                    <img src="../images/testimonial/icon-love.svg" alt="icon">
                                  </div>
                                  <div class="card-body ">
                                    <div class="icon ">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                    </div>
                                    <h5>Suggests that the top planners spend most of their time engaged in analysis and are
                                      concerned with industry.</h5>
                                    <div class="content">
                                      <h6>Jak Houman</h6>
                                      <p>UI Designer of Rono Pixel</p>
                                    </div>
                                  </div>
                                </div>
                                <!-- start off testimonials slider item  three-->
                                <div class="card item">
                                  <div class="profile ">
                                    <img src="../images/testimonial/testimonial-thumb-1.png" alt="thumb">
                                    <img src="../images/testimonial/icon-love.svg" alt="icon">
                                  </div>
                                  <div class="card-body">
                                    <div class="icon ">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                    </div>
                                    <h5>Suggests that the top planners spend most of their time engaged in analysis and are
                                      concerned with industry.</h5>
                                    <div class="content">
                                      <h6>Sabo Masties</h6>
                                      <p>Founder of Exclusive Addons</p>
                                    </div>
                                  </div>
                                </div>
                                <!-- start off testimonials slider item  four-->
                                <div class="card item">
                                  <div class="profile ">
                                    <img src="../images/testimonial/testimonial-thumb-1.png" alt="thumb">
                                    <img src="../images/testimonial/icon-love.svg" alt="icon">
                                  </div>
                                  <div class="card-body">
                                    <div class="icon ">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                      <img src="../images/testimonial/star.svg" alt="icon">
                                    </div>
                                    <h5>Suggests that the top planners spend most of their time engaged in analysis and are
                                      concerned with industry.</h5>
                                    <div class="content">
                                      <h6>Sabo Masties</h6>
                                      <p>Founder of Exclusive Addons</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end off testimonials slider -->
                    </section>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML42" role="tabpanel" aria-labelledby="tabs-aria-HTML42">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--
                          ###########
                          Testimonial Section
                          ###########
                        --&gt;
                        &lt;section class=&quot;testimonials bg-gray-light py-8 pt-lg-11 pb-lg-5&quot;&gt;
                          &lt;div class=&quot;container-fluid&quot;&gt;
                            &lt;!-- section title --&gt;
                            &lt;div class=&quot;row&quot;&gt;
                              &lt;div class=&quot;col-lg-10 ms-auto overflow-hidden&quot;&gt;
                                &lt;h2&gt;Testimonials&lt;/h2&gt;
                                &lt;!-- start off testimonials slider --&gt;
                                &lt;div class=&quot;slider-wrapper&quot;&gt;
                                  &lt;div class=&quot;testimonials-slider position-relative&quot;&gt;
                                    &lt;!-- start off testimonials slider item  one--&gt;
                                    &lt;div class=&quot;card item &quot;&gt;
                                      &lt;div class=&quot;profile&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/testimonial-thumb-2.png&quot; alt=&quot;thumb&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/smiel-icon.svg&quot; alt=&quot;icon&quot;&gt;
                                      &lt;/div&gt;
                                      &lt;div class=&quot;card-body &quot;&gt;
                                        &lt;div class=&quot;icon &quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;/div&gt;
                                        &lt;h5&gt;Suggests that the top planners spend most of their time engaged in analysis and are
                                          concerned with industry.&lt;/h5&gt;
                                        &lt;div class=&quot;content&quot;&gt;
                                          &lt;h6&gt;Kausar Ahmed&lt;/h6&gt;
                                          &lt;p&gt;Founder of Static Mania&lt;/p&gt;
                                        &lt;/div&gt;
                                      &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;!-- start off testimonials slider item  two--&gt;
                                    &lt;div class=&quot;card item &quot;&gt;
                                      &lt;div class=&quot;profile&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/testimonial-thumb-3.png&quot; alt=&quot;thumb&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/icon-love.svg&quot; alt=&quot;icon&quot;&gt;
                                      &lt;/div&gt;
                                      &lt;div class=&quot;card-body &quot;&gt;
                                        &lt;div class=&quot;icon &quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;/div&gt;
                                        &lt;h5&gt;Suggests that the top planners spend most of their time engaged in analysis and are
                                          concerned with industry.&lt;/h5&gt;
                                        &lt;div class=&quot;content&quot;&gt;
                                          &lt;h6&gt;Jak Houman&lt;/h6&gt;
                                          &lt;p&gt;UI Designer of Rono Pixel&lt;/p&gt;
                                        &lt;/div&gt;
                                      &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;!-- start off testimonials slider item  three--&gt;
                                    &lt;div class=&quot;card item&quot;&gt;
                                      &lt;div class=&quot;profile &quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/testimonial-thumb-1.png&quot; alt=&quot;thumb&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/icon-love.svg&quot; alt=&quot;icon&quot;&gt;
                                      &lt;/div&gt;
                                      &lt;div class=&quot;card-body&quot;&gt;
                                        &lt;div class=&quot;icon &quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;/div&gt;
                                        &lt;h5&gt;Suggests that the top planners spend most of their time engaged in analysis and are
                                          concerned with industry.&lt;/h5&gt;
                                        &lt;div class=&quot;content&quot;&gt;
                                          &lt;h6&gt;Sabo Masties&lt;/h6&gt;
                                          &lt;p&gt;Founder of Exclusive Addons&lt;/p&gt;
                                        &lt;/div&gt;
                                      &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;!-- start off testimonials slider item  four--&gt;
                                    &lt;div class=&quot;card item&quot;&gt;
                                      &lt;div class=&quot;profile &quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/testimonial-thumb-1.png&quot; alt=&quot;thumb&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/icon-love.svg&quot; alt=&quot;icon&quot;&gt;
                                      &lt;/div&gt;
                                      &lt;div class=&quot;card-body&quot;&gt;
                                        &lt;div class=&quot;icon &quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;/div&gt;
                                        &lt;h5&gt;Suggests that the top planners spend most of their time engaged in analysis and are
                                          concerned with industry.&lt;/h5&gt;
                                        &lt;div class=&quot;content&quot;&gt;
                                          &lt;h6&gt;Sabo Masties&lt;/h6&gt;
                                          &lt;p&gt;Founder of Exclusive Addons&lt;/p&gt;
                                        &lt;/div&gt;
                                      &lt;/div&gt;
                                    &lt;/div&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;!-- end off testimonials slider --&gt;
                        &lt;/section&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Default Team Example-->
    <!--Other Team Example-->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="elements-header">
              <h2>Secondary Testimonial</h2>
              <p>Use the element inside main element.</p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 mx-auto">
            <div class="elements-tabs">
              <nav>
                <div class="nav" role="tablist">
                  <button class="nav-link active" id="tabs-aria-view43" data-bs-toggle="tab" data-bs-target="#tabs-view43" type="button" role="tab">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 5.75C4.5 5.75 1.5 12.5007 1.5 12.5007C1.5 12.5007 4.5 19.25 12 19.25C19.5 19.25 22.5 12.5007 22.5 12.5007C22.5 12.5007 19.5 5.75 12 5.75Z" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.25C14.0711 16.25 15.75 14.5711 15.75 12.5C15.75 10.4289 14.0711 8.75 12 8.75C9.92893 8.75 8.25 10.4289 8.25 12.5C8.25 14.5711 9.92893 16.25 12 16.25Z" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                           
                    View
                  </button>
                  <button class="nav-link" id="tabs-aria-HTML43" data-bs-toggle="tab" data-bs-target="#tabs-HTML43" type="button" role="tab">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 8.25L1.5 12L6 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 8.25L22.5 12L18 15.75" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 3.75L9 20.25" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                    HTML Code
                  </button>
                </div>
              </nav>
              <div class="tab-content" >
                <div class="tab-pane fade show active " id="tabs-view43" role="tabpanel" aria-labelledby="tabs-aria-view43">
                  <div class="tab-item ">
                    <!--
                      ###########
                      Testimonial Section
                      ###########
                    -->
                    <section class="testimonials bg-gray-light pt-4 py-sm-6 pb-0">
                      <div class="container">
                        <!-- section title -->
                        <div class="row">
                          <div class="col-lg-6">
                            <h2>Testimonials </h2>
                          </div>
                        </div>
                        <!-- start off testimonials slider -->
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="testimonials-sliderTwo position-relative">
                              <!-- start off testimonials slider item  one-->
                              <div class="card item ">
                                <div class="profile">
                                  <img src="../images/testimonial/smiel-icon.svg" alt="icon">
                                </div>
                                <div class="card-body ">
                                  <div class="icon justify-content-center">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                  </div>
                                  <h5>Suggests that the top planners spend most of their time engaged in analysis and are
                                    concerned with industry.</h5>
                                  <div class="content d-flex align-items-center">
                                    <div class="content-author flex-shrink-0">
                                      <img src="../images/testimonial/testimonial-thumb-2.png" alt="thumb">
                                    </div>
                                    <div class="content-body flex-grow-1">
                                      <h6>Kausar Ahmed</h6>
                                    <p>Founder of Static Mania</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- start off testimonials slider item  two-->
                              <div class="card item ">
                                <div class="profile">
                                  <img src="../images/testimonial/icon-love.svg" alt="icon">
                                </div>
                                <div class="card-body ">
                                  <div class="icon justify-content-center">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                  </div>
                                  <h5>Suggests that the top planners spend most of their time engaged in analysis and are
                                    concerned with industry.</h5>
                                    <div class="content d-flex align-items-center">
                                      <div class="content-author flex-shrink-0">
                                        <img src="../images/testimonial/testimonial-thumb-3.png" alt="thumb">
                                      </div>
                                      <div class="content-body flex-grow-1">
                                        <h6>Kausar Ahmed</h6>
                                      <p>Founder of Static Mania</p>
                                      </div>
                                    </div>
                                </div>
                              </div>
                              <!-- start off testimonials slider item  three-->
                              <div class="card item">
                                <div class="profile ">
                                  <img src="../images/testimonial/icon-love.svg" alt="icon">
                                </div>
                                <div class="card-body">
                                  <div class="icon ">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                  </div>
                                  <h5>Suggests that the top planners spend most of their time engaged in analysis and are
                                    concerned with industry.</h5>
                                  <div class="content">
                                    <h6>Sabo Masties</h6>
                                    <p>Founder of Exclusive Addons</p>
                                  </div>
                                </div>
                              </div>
                              <!-- start off testimonials slider item  four-->
                              <div class="card item">
                                <div class="profile ">
                                  <img src="../images/testimonial/icon-love.svg" alt="icon">
                                </div>
                                <div class="card-body">
                                  <div class="icon justify-content-center">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                    <img src="../images/testimonial/star.svg" alt="icon">
                                  </div>
                                  <h5>Suggests that the top planners spend most of their time engaged in analysis and are
                                    concerned with industry.</h5>
                                    <div class="content d-flex align-items-center">
                                      <div class="content-author flex-shrink-0">
                                        <img src="../images/testimonial/testimonial-thumb-1.png" alt="thumb">
                                      </div>
                                      <div class="content-body flex-grow-1">
                                        <h6>Kausar Ahmed</h6>
                                      <p>Founder of Static Mania</p>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end off testimonials slider -->
                      </div>
                    </section>
                  </div>          
                </div>
                <div class="tab-pane fade" id="tabs-HTML43" role="tabpanel" aria-labelledby="tabs-aria-HTML43">
                  <div class="tab-item ">
                    <pre class="language-html">
                      <code class=" language-html">
                        &lt;!--
                          ###########
                          Testimonial Section
                          ###########
                        --&gt;
                        &lt;section class=&quot;testimonials bg-gray-light pt-4 py-sm-6 pb-0&quot;&gt;
                          &lt;div class=&quot;container&quot;&gt;
                            &lt;!-- section title --&gt;
                            &lt;div class=&quot;row&quot;&gt;
                              &lt;div class=&quot;col-lg-6&quot;&gt;
                                &lt;h2&gt;Testimonials &lt;/h2&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;!-- start off testimonials slider --&gt;
                            &lt;div class=&quot;row&quot;&gt;
                              &lt;div class=&quot;col-lg-12&quot;&gt;
                                &lt;div class=&quot;testimonials-sliderTwo position-relative&quot;&gt;
                                  &lt;!-- start off testimonials slider item  one--&gt;
                                  &lt;div class=&quot;card item &quot;&gt;
                                    &lt;div class=&quot;profile&quot;&gt;
                                      &lt;img src=&quot;../images/testimonial/smiel-icon.svg&quot; alt=&quot;icon&quot;&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-body &quot;&gt;
                                      &lt;div class=&quot;icon justify-content-center&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                      &lt;/div&gt;
                                      &lt;h5&gt;Suggests that the top planners spend most of their time engaged in analysis and are
                                        concerned with industry.&lt;/h5&gt;
                                      &lt;div class=&quot;content d-flex align-items-center&quot;&gt;
                                        &lt;div class=&quot;content-author flex-shrink-0&quot;&gt;
                                          &lt;img src=&quot;../images/testimonial/testimonial-thumb-2.png&quot; alt=&quot;thumb&quot;&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;content-body flex-grow-1&quot;&gt;
                                          &lt;h6&gt;Kausar Ahmed&lt;/h6&gt;
                                        &lt;p&gt;Founder of Static Mania&lt;/p&gt;
                                        &lt;/div&gt;
                                      &lt;/div&gt;
                                    &lt;/div&gt;
                                  &lt;/div&gt;
                                  &lt;!-- start off testimonials slider item  two--&gt;
                                  &lt;div class=&quot;card item &quot;&gt;
                                    &lt;div class=&quot;profile&quot;&gt;
                                      &lt;img src=&quot;../images/testimonial/icon-love.svg&quot; alt=&quot;icon&quot;&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-body &quot;&gt;
                                      &lt;div class=&quot;icon justify-content-center&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                      &lt;/div&gt;
                                      &lt;h5&gt;Suggests that the top planners spend most of their time engaged in analysis and are
                                        concerned with industry.&lt;/h5&gt;
                                        &lt;div class=&quot;content d-flex align-items-center&quot;&gt;
                                          &lt;div class=&quot;content-author flex-shrink-0&quot;&gt;
                                            &lt;img src=&quot;../images/testimonial/testimonial-thumb-3.png&quot; alt=&quot;thumb&quot;&gt;
                                          &lt;/div&gt;
                                          &lt;div class=&quot;content-body flex-grow-1&quot;&gt;
                                            &lt;h6&gt;Kausar Ahmed&lt;/h6&gt;
                                          &lt;p&gt;Founder of Static Mania&lt;/p&gt;
                                          &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                  &lt;/div&gt;
                                  &lt;!-- start off testimonials slider item  three--&gt;
                                  &lt;div class=&quot;card item&quot;&gt;
                                    &lt;div class=&quot;profile &quot;&gt;
                                      &lt;img src=&quot;../images/testimonial/icon-love.svg&quot; alt=&quot;icon&quot;&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-body&quot;&gt;
                                      &lt;div class=&quot;icon &quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                      &lt;/div&gt;
                                      &lt;h5&gt;Suggests that the top planners spend most of their time engaged in analysis and are
                                        concerned with industry.&lt;/h5&gt;
                                      &lt;div class=&quot;content&quot;&gt;
                                        &lt;h6&gt;Sabo Masties&lt;/h6&gt;
                                        &lt;p&gt;Founder of Exclusive Addons&lt;/p&gt;
                                      &lt;/div&gt;
                                    &lt;/div&gt;
                                  &lt;/div&gt;
                                  &lt;!-- start off testimonials slider item  four--&gt;
                                  &lt;div class=&quot;card item&quot;&gt;
                                    &lt;div class=&quot;profile &quot;&gt;
                                      &lt;img src=&quot;../images/testimonial/icon-love.svg&quot; alt=&quot;icon&quot;&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;card-body&quot;&gt;
                                      &lt;div class=&quot;icon justify-content-center&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                        &lt;img src=&quot;../images/testimonial/star.svg&quot; alt=&quot;icon&quot;&gt;
                                      &lt;/div&gt;
                                      &lt;h5&gt;Suggests that the top planners spend most of their time engaged in analysis and are
                                        concerned with industry.&lt;/h5&gt;
                                        &lt;div class=&quot;content d-flex align-items-center&quot;&gt;
                                          &lt;div class=&quot;content-author flex-shrink-0&quot;&gt;
                                            &lt;img src=&quot;../images/testimonial/testimonial-thumb-1.png&quot; alt=&quot;thumb&quot;&gt;
                                          &lt;/div&gt;
                                          &lt;div class=&quot;content-body flex-grow-1&quot;&gt;
                                            &lt;h6&gt;Kausar Ahmed&lt;/h6&gt;
                                          &lt;p&gt;Founder of Static Mania&lt;/p&gt;
                                          &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;!-- end off testimonials slider --&gt;
                          &lt;/div&gt;
                        &lt;/section&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!--Other Team Example-->
  </div>
</section>