<!--
  #############
  Video Pages
  #############
-->
<section class=" elements mt-5">
  <div class="container">
    <!--Video-->
    <div class="row mb-5">
      <div class="col-12">
        <h2>Default Video</h2>
        <hr>
      </div>
      <div class="col-12">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="tabs-aria-view44" data-bs-toggle="tab" data-bs-target="#tabs-view44" type="button" role="tab">View</button>
            <button class="nav-link" id="tabs-aria-HTML44" data-bs-toggle="tab" data-bs-target="#tabs-HTML44" type="button" role="tab">HTML Code</button>
          </div>
        </nav>
        <div class="tab-content p-4 shadow" >
          <div class="tab-pane fade show active " id="tabs-view44" role="tabpanel" aria-labelledby="tabs-aria-view44">
            <div class="tab-item ">
              <div class=" video w-100 h-100">
                <div class="position-relative">
                  <img
                    src="images/about/about-video-banner.png"
                    alt="video png"
                    class="w-100 h-100 rounded-3"
                  />
                  <div
                    class=" video-button position-absolute top-50 start-50 translate-middle bg-danger rounded-3"
                    data-video="https://www.youtube.com/embed/a6KGPBflhiM?autoplay=1&mute=1"
                  >
                    <svg class=" position-absolute top-50 start-50 translate-middle" width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16 10L0 0L1.90734e-07 20L16 10Z" fill=""/>
                    </svg>       
                  </div>
                </div>
              </div>
            </div>          
          </div>
          <div class="tab-pane fade" id="tabs-HTML44" role="tabpanel" aria-labelledby="tabs-aria-HTML44">
            <div class="tab-item ">
              <pre class="language-html">
                <code class=" language-html">
                  &lt;!--Video--&gt;
                  &lt;div class=&quot; video w-100 h-100&quot;&gt;
                    &lt;div class=&quot;position-relative&quot;&gt;
                      &lt;img
                        src=&quot;images/about/about-video-banner.png&quot;
                        alt=&quot;video png&quot;
                        class=&quot;w-100 h-100 rounded-3&quot;
                      /&gt;
                      &lt;div
                        class=&quot; video-button position-absolute top-50 start-50 translate-middle bg-danger rounded-3&quot;
                        data-video=&quot;https://www.youtube.com/embed/a6KGPBflhiM?autoplay=1&amp;mute=1&quot;
                      &gt;
                        &lt;svg class=&quot; position-absolute top-50 start-50 translate-middle&quot; width=&quot;16&quot; height=&quot;20&quot; viewBox=&quot;0 0 16 20&quot; fill=&quot;none&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                          &lt;path d=&quot;M16 10L0 0L1.90734e-07 20L16 10Z&quot; fill=&quot;&quot;/&gt;
                        &lt;/svg&gt;       
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <!--Video-->
  </div>
</section>