<!--
  ###########
  404 Page 
  ###########
-->
<section class="error py-12 bg-gray-dark">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="error-content text-center text-lg-start mb-lg-0 mb-6">
          <h1 class="text-primary">404</h1>
          <h2 class="mb-6">Page not found!</h2>
          <a href="index.html" class="btn btn-primary btn-lg">Go to Home</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-center">
          <img src="../images/404/error.png" class="w-100" alt="error-image">
        </div>
      </div>
    </div>
  </div>
</section>