<!--
  #############
  About Details Section for About  Page
  #############
-->
<section class="about-details py-8 py-lg-9">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <p class="mb-6">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable.If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
          <p class="mb-0">
            If you've got a publication that you don't want the world to see yet because it's not ready to launch, you can hide your Ghost site behind a basic shared pass-phrase.
            You can toggle this preference on at the bottom of Ghost's General Settings:
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
  #############
  About Details Section for About  Page
  #############
-->