<!--
  #############
  Hero Section for About  Page
  #############
-->
<section class="hero about-hero pt-14">
<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <div class="hero-content text-center">
        <h1 class="">
          We make strategies, development to grow your business
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="hero-thumbnail clearfix">
  <div class="hero-thumbnail-item" data-aos="fade-up" data-aos-duration="400"  data-aos-once="true">
    <img src="images/about/about-hero-3.jpg" alt="">
  </div>
  <div class="hero-thumbnail-item" data-aos="fade-up" data-aos-duration="600" data-aos-delay="200" data-aos-once="true">
    <img src="images/about/about-hero-4.jpg" alt="">
  </div>
  <div class="hero-thumbnail-item" data-aos="fade-up" data-aos-duration="600" data-aos-delay="400" data-aos-once="true">
    <img src="images/about/about-hero-1.jpg" alt="">
  </div>
  <div class="hero-thumbnail-item" data-aos="fade-up" data-aos-duration="600" data-aos-delay="600" data-aos-once="true">
    <img src="images/about/about-hero-2.jpg" alt="">
  </div>
  <div class="hero-thumbnail-item" data-aos="fade-up" data-aos-duration="600" data-aos-delay="800" data-aos-once="true">
    <img src="images/about/about-hero-5.jpg" alt="">
  </div>
</div>
</section>
<!--
  #############
  Hero Section for About  Page
  #############
-->