<!--
  #############
  Career Details Section for About  Page
  #############
-->
<section class="career-details py-7 py-lg-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="career-details-content">
          <h3>About the team</h3>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable.
            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
        </div>
        <div class="career-details-content">
          <h3>Job Description</h3>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable.</p>
          <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
          If you have experience selling to inbound prospects and you enjoy working in a start-up environment, this is a rare opportunity to join an early stage, self-funded, customer-centered, and 100% distributed team. You will manage a pipeline of inbound leads, whether that’s reactively offering your time and expertise, or reaching out to prospects to guide them through their purchasing process.</p>
        </div>
        <div class="career-details-content">
          <h3>You Will:</h3>
          <ul class="list-unstyled">
            <li>
              <span> - </span>
              <p>Manage a pipeline of opportunities at different stages in the sales funnel.</p>
            </li>
            <li>
              <span> - </span>
              <p>Understand the needs and challenges of prospective customers by taking a consultative approach to selling.</p>
            </li>
            <li>
              <span> - </span>
              <p>Conduct consultative demos and present webinars for both prospects and customers.</p>
            </li>
            <li>
              <span> - </span>
              <p>Assist prospects with the procurement process in particular with their legal and security requirements.</p>
            </li>
            <li>
              <span> - </span>
              <p>Work with technical members of the Hotjar team to ensure consistency, clarity, and accuracy in all recommendations provided to current and prospective customers.</p>
            </li>
            <li>
              <span> - </span>
              <p>Communicate prospective customer needs to product managers and product teams to close the feedback loop.</p>
            </li>
            <li>
              <span> - </span>
              <p>Help refine the self-service experience for leads that fall outside of the sales touch.</p>
            </li>
          </ul>
        </div>
        <div class="career-details-content">
          <h3>Requirments</h3>
          <ul class="list-unstyled">
            <li>
              <span> - </span>
              <p>3+ years of inbound sales experience, ideally SaaS and quota carrying.</p>
            </li>
            <li>
              <span> - </span>
              <p>You are technically-minded. You can develop a deep knowledge of how Hotjar works, allowing you to speak clearly to customers and communicate their needs to our team.</p>
            </li>
            <li>
              <span> - </span>
              <p>You are experienced with taking sales calls, diligently following up, and closing deals.</p>
            </li>
            <li>
              <span> - </span>
              <p>Enthusiasm to adapt, learn via coaching, and contribute to an evolving sales team’s strategy.</p>
            </li>
            <li>
              <span> - </span>
              <p>Experience with Salesforce or an equivalent tool.</p>
            </li>
            <li>
              <span> - </span>
              <p>Desire to work in a respectful, transparent, and collaborative work environment, following Hotjar’s company values, culture and ways of working.</p>
            </li>
            <li>
              <span> - </span>
              <p>Must submit to a background check confidentially processed by our third-party.</p>
            </li>
          </ul>
        </div>

        <div class="career-details-content mb-0">
          <h3>Compensation Range</h3>
          <p>The compensation range for this role is €50,000 to €85,000 annually. This was established after performing market research and is aligned with our approach to compensation. We encourage all candidates to read our Recruitment FAQs to further understand our approach to compensation and how we structure our contracts.</p>
        </div>
      </div>
    </div>
  </div>

</section>
<!--
  #############
  Career Details Section for About  Page
  #############
-->