<!--
  #############
  Hero Section for Career  Page
  #############
-->
<section class="hero career-hero pt-14">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="hero-content text-center">
          <h1 class="">
            We are looking for next talent! <br>
            are you ready?
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-7">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="career-hero-banner ">
          <img src="images/career/career-banner.png" alt="" class="w-100">
        </div>
      </div>
    </div>
  </div>

</section>
<!--
  #############
  Hero Section for About  Page
  #############
-->