<!-- 
  ########### 
  Career Openings Section
  ###########
  -->

<section class="client py-8 py-lg-9">
  <div class="container">
    <!-- start section header -->
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="section-header">
          <h2>Work for world #Top Organization</h2>
          <p>More than 45,000+ companies trust staticmania</p>
        </div>
      </div>
    </div>
    <!-- end section header -->
    <!-- start company logo -->
    <div class="row">
      <div class="col-md-12">
        <div class="client-item-wrapper d-flex justify-content-between align-items-center text-center">
          <div class="client-item ">
            <img src="../images/client/client-logo-1.svg" alt="company logo">
          </div>
          <div class="client-item ">
            <img src="../images/client/client-logo-2.svg" alt="company logo">
          </div>
          <div class="client-item">
            <img src="../images/client/client-logo-3.svg" alt="company logo">
          </div>
          <div class="client-item ">
            <img src="../images/client/client-logo-4.svg" alt="company logo">
          </div>
          <div class="client-item ">
            <img src="../images/client/client-logo-5.svg" alt="company logo">
          </div>
        </div>
      </div>
    </div>
    
    <!-- end company-logo -->
  </div>
</section>