<!--
  ###########
  Contact Details Section
  ###########
-->
<section class="service-item contact-details work pt-4 pb-8 bg-gray-light ">
  <div class="container">
    <!-- start 1st Service item -->
    <div class="row work-item-container align-items-center">
      <div class="col-lg-6">
        <!-- start 1st Service item banner section-->
        <div class="work-item">
          <div class="work-item-shape-wrapper">
            <div class="work-item-shape bg-primary-light ">
              <img src="../images/work/work-shap.svg"  alt="hero images">
            </div>
          </div>
          <div class="work-item-wraper ">
            <div class="work-item-wraper-banner">
              <img src="../images/contact/contact.png"  alt="work images">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- start 1st Service item content section-->
        <div class="work-item">
          <div class="work-content">
            <h2 class="">Office Address</h2>
            <!--Address-->
            <div class="contact-details-wrapper">
              <div class="contact-details-item">
                <div class="contact-details-item-icon ">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="svg-stroke-primary" d="M16 17C18.2091 17 20 15.2091 20 13C20 10.7909 18.2091 9 16 9C13.7909 9 12 10.7909 12 13C12 15.2091 13.7909 17 16 17Z" stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path class="svg-stroke-primary" d="M26 13C26 22 16 29 16 29C16 29 6 22 6 13C6 10.3478 7.05357 7.8043 8.92893 5.92893C10.8043 4.05357 13.3478 3 16 3C18.6522 3 21.1957 4.05357 23.0711 5.92893C24.9464 7.8043 26 10.3478 26 13V13Z" stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                    
                </div>
                <div class="contact-details-item-body ">
                  <h5>London:</h5>
                  <p>1421 San Pedro St, Los Angeles, CA 90015</p>
                  <h5>Japan:</h5>
                  <p>1421 San Pedro St, Los Angeles, CA 90015</p>
                </div>
              </div>
            </div>
            <!--Mail-->
            <div class="contact-details-wrapper">
              <div class="contact-details-item">
                <div class="contact-details-item-icon ">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="svg-stroke-primary"  d="M4 12V25C4 25.2652 4.10536 25.5196 4.29289 25.7071C4.48043 25.8946 4.73478 26 5 26H27C27.2652 26 27.5196 25.8946 27.7071 25.7071C27.8946 25.5196 28 25.2652 28 25V12L16 4L4 12Z" stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path class="svg-stroke-primary" d="M28 12L18.1819 19H13.8181L4 12" stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                                       
                </div>
                <div class="contact-details-item-body ">
                  <h5>Email:</h5>
                  <p>exclusivs@addons.com</p>
                </div>
              </div>
            </div>
            <!--Phone-->
            <div class="contact-details-wrapper">
              <div class="contact-details-item">
                <div class="contact-details-item-icon ">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="svg-stroke-primary"  d="M4 12V25C4 25.2652 4.10536 25.5196 4.29289 25.7071C4.48043 25.8946 4.73478 26 5 26H27C27.2652 26 27.5196 25.8946 27.7071 25.7071C27.8946 25.5196 28 25.2652 28 25V12L16 4L4 12Z" stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path class="svg-stroke-primary" d="M28 12L18.1819 19H13.8181L4 12" stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                                       
                </div>
                <div class="contact-details-item-body ">
                  <h5>Phone:</h5>
                  <p>+960 9996 9996</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
  ###########
  Contact Persons Section
  ###########
-->
<section class="team bg-gray-light pb-10">
  <div class="container">
    <!--Section Header-->
    <div class="row">
      <div class="col-lg-12">
        <div class="section-header text-start">
          <h2>Talk To the Experts</h2>
        </div>
      </div>
    </div>
    <!-- Team Leader section-->
    <div class="row">
      <div class="col-12">
        <div class="team-wrapper d-grid grid-template-3">
          <!--Team Members-->
          <div class="team-member">
            <img src="images/contact/contact-person1.png" alt="team-member-thumb" class="team-member-thumb">
            <div class="team-member-details">
              <h4>Marvin McKinney</h4>
              <p>Founder and CEO</p>
              <p class="fw-bold mb-0">
                <strong>Phone: </strong>
                <a href="tel:123-456-7890" class="text-primary">123-456-7890</a>
              </p>
              <p class="fw-bold mb-0">
                <strong>E-mail: </strong>
                <a href="mailto:infy.ny@example.com" class="text-primary">infy.ny@example.com</a>
              </p>
            </div>
          </div>
          <!--Team Members-->
          <div class="team-member">
            <img src="images/contact/contact-person2.png" alt="team-member-thumb" class="team-member-thumb">
            <div class="team-member-details">
              <h4>Floyd Miles McKinney</h4>
              <p>Co-Founder and CTO</p>
              <p class="fw-bold mb-0">
                <strong>Phone: </strong>
                <a href="tel:123-456-7890" class="text-primary">123-456-7890</a>
              </p>
              <p class="fw-bold mb-0">
                <strong>E-mail: </strong>
                <a href="mailto:infy.ny@example.com" class="text-primary">infy.ny@example.com</a>
              </p>
            </div>
          </div>

          <!--Team Members-->
          <div class="team-member">
            <img src="images/contact/contact-person3.png" alt="team-member-thumb" class="team-member-thumb">
            <div class="team-member-details">
              <h4>Kristin Watson</h4>
              <p>Co-Founder and CTO</p>
              <p class="fw-bold mb-0">
                <strong>Phone: </strong>
                <a href="tel:123-456-7890" class="text-primary">123-456-7890</a>
              </p>
              <p class="fw-bold mb-0">
                <strong>E-mail: </strong>
                <a href="mailto:infy.ny@example.com" class="text-primary">infy.ny@example.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Of Team Leadership-->
</section>