<!--
  #############
  Contact  Form
  #############
-->
<section class="contact-form py-8 py-lg-9">
  <div class="container">
    <div class="row">
      <!--Contact Form Area-->
      <div class="col-lg-10 mx-auto">
        <form class="row g-4">
          <div class="col-md-12 col-lg-6">
            <label for="inputEmail4" class="form-label">My name is</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Your Name ">
          </div>
          <div class="col-md-12 col-lg-6">
            <label for="inputEmail42" class="form-label">I work with</label>
            <input type="text" class="form-control" id="inputEmail42" placeholder="Company Name">
          </div>
          <div class="col-md-12 col-lg-6">
            <label for="goal" class="form-label"> I’m looking for a partner to help
              me with</label>
            <input type="text" class="form-control" id="goal" placeholder="My Goal">
          </div>
          <div class="col-md-12 col-lg-6">
            <label for="deadline" class="form-label">with an idea of having that
              completed on</label>
            <input type="date" class="form-control" id="deadline">
          </div>
          <div class="col-md-12 col-lg-6">
            <label for="budget" class="form-label">I am hoping to
              stay around a budget</label>
            <select class="form-select" aria-label="Default select example" id="budget">
              <option selected>Budget</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-md-12 col-lg-6">
            <label for="email" class="form-label">You can reach me at</label>
            <input type="text" class="form-control" id="email" placeholder="Email Address">
          </div>
          <div class="col-12">
            <label for="inputEmail4" class="form-label">to start the conversation.
              Optionally, I’m sharing more</label>
            <textarea class="form-control" id="floatingTextarea2" placeholder="Description" rows="10"
              spellcheck="false"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary mb-3 mt-4 px-6 btn-lg w-100 w-md-25 w-lg-20 w-xl-20">Start
              Talk</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>