<!--
  ###########
  Community Section
  ###########
-->
<section class="counter-up py-8 pb-lg-9">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="counter-wraper py-4 py-md-6 d-md-flex">
          <div class="counter-up-content mb-3 ">
            <div class="counter-up-content-item">
              <div class="counter-percent">
                <span class="counter">1200</span><span class="percent">+</span>
              </div>
              <h4>Project Done</h4>
            </div>
          </div>
          <div class="counter-up-content ">
            <div class="counter-up-content-item">
              <div class="counter-percent ">
                <span class="counter">45</span><span class="percent">+</span>
              </div>
              <h4>Happy Client</h4>
            </div>
          </div>
          <div class="counter-up-content ">
            <div class="counter-up-content-item">
              <div class="counter-percent ">
                <span class="counter">25</span><span class="percent">+</span>
              </div>
              <h4>Years Experiences</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>