<!--
  #############
  Navigation Footer Section
  #############
-->
<footer class="footer text-center text-md-start py-8 py-lg-9 bg-secondary-dark" id="footer">
  <div class="container">
    <!--Navigation Top Footer area-->
    <div class="row">
      <!-- Navigation Footer Logo -->
      <div class="col-12 col-lg-3 me-auto mt-4">
        <div class="footer-description text-center text-lg-start">
          <a href="index.html" class="mb-5"><img src="images/footer-logo.svg" alt="logo"></a>
          <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing .
          </p>
        </div>
        <div class="footer-description text-center text-lg-start pb-md-6">
          <p class="mb-3">Stay in touch</p>
          <form action="#" class="footer-submit-form">
            <div class="from-group">
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Your email address">
                <div class="submit">
                  <button class="" type="submit">
                    <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.00761904 14L16 7L0.00761904 0L0 5.44444L11.4286 7L0 8.55556L0.00761904 14Z" fill="white"/>
                    </svg>
                      
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--Navigation Footer Logo-->

      <!--Navigation Footer Cols-->
      <div class="col-12 col-md-4 col-lg-2">
        <div class="footer-widget pt-3">
          <h6 class="text-primary">Company</h6>
          <ul class="list-unstyled">
            <li>
              <a href="service.html" class="py-2">Services </a>
            </li>
            <li>
              <a href="career.html" class="py-2">Career</a>
            </li>
            <li>
              <a href="contact.html" class="py-2">Contact us</a>
            </li>
            
          </ul>

        </div>
        <div class="footer-widget pt-3">
          <h6 class="text-primary">Company</h6>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="py-2">Accessibility</a>
            </li>
            <li>
              <a href="privacy-policy.html" class="py-2"> Privacy Policy</a>
            </li>
            <li>
              <a href="terms-condition.html" class="py-2">Terms of Service</a>
            </li>
            <li>
              <a href="terms-condition.html" class="py-2">Business Policy</a>
            </li>
          </ul>

        </div>
      </div>
      <!--End of Navigation Footer Cols-->

      <!--Navigation Footer Cols-->
      <div class="col-12 col-md-4 col-lg-3">
        <div class="footer-widget pt-3">
          <h6 class="text-primary">Canada</h6>
          <p>1901 Thornridge Cir. Shiloh, <br> Hawaii 81063</p>
        </div>
        <div class="footer-widget pt-3">
          <h6 class="text-primary">United States</h6>
          <p>2118 Thornridge Cir. Syracuse,<br> Connecticut 35624</p>
        </div>
        <div class="footer-widget pt-3">
          <h6 class="text-primary">Work inquiries</h6>
          <ul class="list-unstyled">
            <li>
              <p class="mb-0">Interested in working with us?</p>
            </li>
            <li><a href="mailto:info@staticminia.com" class="mb-4">info@staticminia.com</a></li>
            <li><a href="tel:+3.230.705.5448">Ph: +3.230.705.5448</a></li>
          </ul>
        </div>
      </div>
      <!--End of Navigation Footer Cols-->
      <!--Navigation Footer Cols-->
      <div class="col-12 col-md-4 col-lg-2">
        <div class=" footer-widget pt-3">
          <h6 class="text-primary">Social Media</h6>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="py-2">Facebook</a>
            </li>
            <li>
              <a href="#" class="py-2">Twitter</a>
            </li>
            <li>
              <a href="#" class="py-2">Lindedin</a>
            </li>
          </ul>
        </div>
        <div class=" footer-widget pt-3">
          <h6 class="text-primary">Resources</h6>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="py-2">Help & Support</a>
            </li>
            <li>
              <a href="project.html" class="py-2">Customer Case Studies</a>
            </li>
          </ul>
        </div>
      </div>
      <!--End of Navigation Footer Cols-->
    </div>
    <!--End of Navigation Footer Top Area-->
    <!-- Footer Bottom Area -->
    <div class="row clearfix">
      <div class="col-md-12">
        <div class="text-center text-lg-start">
          <p class="text-secondary-light mb-0"> Copyright <span id="copyrightYear"></span> Static Mania, All rights reserved!</p>
        </div>
      </div>
    </div>
    <!-- End of Footer Bottom Area -->
  </div>
  <!--End of footer Items-->
</footer>
<!--
  #############
  End Navigation Footer Section
  #############
-->