<!-- 
  ########### 
  hero Area 
  ##########
-->
<section class="hero bg-gray-dark pt-10 position-relative">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="hero-content text-center text-lg-start " data-aos="fade-up"
          data-aos-duration="600" data-aos-once="true">
          <h1><span class="d-block">We Build Relations.</span>  Let’s
            Grow your
            Business.</h1>
          <p class="w-lg-75">
            Want to be on top of the world? Check out this magnificent and chic diamond collection!
          </p>
          <div class="d-lg-flex">
            <a href="#" class="btn btn-primary btn-lg me-sm-4 mb-4 mb-sm-0 ">Let’s Talk</a>
            <a href="project.html" class="btn btn-links btn-lg">Check Our Work</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hero-banner " data-aos="fade-up" data-aos-duration="600" data-aos-delay="200"
          data-aos-once="true">
          <div class="hero-shape-wrapper position-absolute w-100 h-100">
            <div class="hero-shape position-absolute bg-turquoise rounded-circle">
              <img src="../images/hero/hero-shap.svg" class="" alt="hero images">
            </div>
          </div>
          <div class="hero-banner-image text-lg-start text-md-center text-xxl-center">
            <img src="../images/hero/hero-image.png" class="z-100" alt="hero images">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>