<!-- 
  ########### 
  Career Openings Section
  ###########
  -->

<section class="price py-8 py-lg-9">
  <div class="container">
    <!-- start section header -->
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="section-header">
          <h2>Plans & Pricing</h2>
          <p>Effortable Pricing Plans</p>
        </div>
      </div>
    </div>
    <!-- end section header -->
    <!-- start Price Items -->
    <div class="row">
      <!--Start Price Item-->
      <div class="col-md-4">
        <div class="price-container">
          <div class="price-header">
            <h4 class="mb-4">Basic</h4>
            <h2 class="mb-0">$500</h2>
            <p class="mb-ms-5 fs-5 fw-bold">to start</p>
          </div>
          <div class="price-body">
            <ul class="list-unstyled mb-4">
              <li class="mb-4 d-flex justify-content-start align-items-center">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  
                <p class="ps-4 mb-0">1 Home Page Design</p>
              </li>
              <li class="mb-4 d-flex justify-content-start align-items-center">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  
                <p class="ps-4 mb-0">Unlimited Meeting</p>
              </li>
              <li class="mb-4 d-flex justify-content-start align-items-center">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p class="ps-4 mb-0">Figma, XD file</p>
              </li>
              <li class="mb-4 d-flex justify-content-start align-items-center">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p class="ps-4 mb-0">Delivery Support</p>
              </li>
            </ul>
            <div class="mt-sm-8">
              <a href="#" class="btn btn-links btn-lg">Let's Start</a>
            </div>
          </div>
        </div>
      </div>
      <!--End of Price Item -->

      <!--Start Price Item-->
      <div class="col-md-4">
        <div class="price-container featured">
          <div class="price-header">
            <h4 class="mb-4">Bussiness</h4>
            <h2 class="mb-0">$800</h2>
            <p class="mb-ms-5 fs-5 fw-bold">to start</p>
          </div>
          <div class="price-body">
            <ul class="list-unstyled mb-4">
              <li class="mb-4 d-flex justify-content-start align-items-center">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  
                <p class="ps-4 mb-0">2 Home Page Design</p>
              </li>
              <li class="mb-4 d-flex justify-content-start align-items-center">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  
                <p class="ps-4 mb-0">Unlimited Meeting</p>
              </li>
              <li class="mb-4 d-flex justify-content-start align-items-center">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p class="ps-4 mb-0">Figma, XD file</p>
              </li>
              <li class="mb-4 d-flex justify-content-start align-items-center">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p class="ps-4 mb-0">Delivery Support</p>
              </li>
            </ul>
            <div class="mt-sm-8">
              <a href="#" class="btn btn-primary btn-lg">Let's Start</a>
            </div>
          </div>
        </div>
      </div>
      <!--End of Price Item -->

      <!--Start Price Item-->
      <div class="col-md-4">
        <div class="price-container">
          <div class="price-header">
            <h4 class="mb-4">Enterprize</h4>
            <h2 class="mb-0">$1400</h2>
            <p class="mb-ms-5 fs-5 fw-bold">to start</p>
          </div>
          <div class="price-body">
            <ul class="list-unstyled mb-4">
              <li class="mb-4 d-flex justify-content-start align-items-center">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  
                <p class="ps-4 mb-0">5 Home Page Design</p>
              </li>
              <li class="mb-4 d-flex justify-content-start align-items-center">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  
                <p class="ps-4 mb-0">Unlimited Meeting</p>
              </li>
              <li class="mb-4 d-flex justify-content-start align-items-center">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p class="ps-4 mb-0">Figma, XD file</p>
              </li>
              <li class="mb-4 d-flex justify-content-start align-items-center">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.4688 10.5625L11.5104 16.25L8.53125 13.4062" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13 22.75C18.3848 22.75 22.75 18.3848 22.75 13C22.75 7.61522 18.3848 3.25 13 3.25C7.61522 3.25 3.25 7.61522 3.25 13C3.25 18.3848 7.61522 22.75 13 22.75Z" stroke="#455157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p class="ps-4 mb-0">Delivery Support</p>
              </li>
            </ul>
            <div class="mt-sm-8">
              <a href="#" class="btn btn-links btn-lg">Let's Start</a>
            </div>
          </div>
        </div>
      </div>
      <!--End of Price Item -->
    </div>
    <!-- end Price Items -->
  </div>
</section>