<!-- 
  ########### 
  Project  Releted Items Section
  ###########
-->
<section class="project bg-gray-light py-8 py-lg-9">
  <div class="container">
    <!--Section Header-->
    <div class="row">
      <div class="col-lg-12">
        <div class="section-header text-start">
          <h2>What Next?</h2>
        </div>
      </div>
    </div>
    <!--Project Work-->
    <div class="row">
      <!--Project Item-->
      <div class="col-md-6">
        <div class="project-item-wrapper">
          <div class="project-item">
          <div class="project-item-thumb">
            <img src="images/project/feature-image1.png" alt="" class="">
          </div>
            <div class="project-item-content">
              <h4>Ichhiba Redesign Concept</h4>
              <a href="project-details.html" class="stretched-link">Brand Identity</a>
            </div>
          </div>
        </div>
      </div>

      <!--Project Item-->
      <div class="col-md-6">
        <div class="project-item-wrapper">
          <div class="project-item">
          <div class="project-item-thumb">
            <img src="images/project/feature-image2.png" alt="" class="">
          </div>
            <div class="project-item-content">
              <h4>Exclusive New Site Look</h4>
              <a href="project-details.html" class="stretched-link">Website</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>