<!-- 
  ########### 
  Project Items  Section
  ###########
-->
<section class="project bg-gray-light py-8 py-lg-10">
  <div class="container">
    <!--Section Header-->
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="section-header">
          <h2>Feature Work & Case Study</h2>
          <p>These are the most unique and of course Chef’s favourite in Static Mania. Please click View More to explore all the mouth-watering variations.</p>
        </div>
      </div>
    </div>
    <!--Project Work-->
    <div class="row">
      <!--Project Item-->
      <div class="col-md-6 loading-item">
        <div class="project-item-wrapper">
          <div class="project-item">
          <div class="project-item-thumb">
            <img src="images/project/feature-image1.png" alt="" class="">
          </div>
            <div class="project-item-content">
              <h4>Ichhiba Redesign Concept</h4>
              <a href="project-details.html" class="stretched-link">Brand Identity</a>
            </div>
          </div>
        </div>
      </div>

      <!--Project Item-->
      <div class="col-md-6 loading-item">
        <div class="project-item-wrapper">
          <div class="project-item">
          <div class="project-item-thumb">
            <img src="images/project/feature-image2.png" alt="" class="">
          </div>
            <div class="project-item-content">
              <h4>Exclusive New Site Look</h4>
              <a href="project-details.html" class="stretched-link">Website</a>
            </div>
          </div>
        </div>
      </div>

      <!--Project Item-->
      <div class="col-md-6 loading-item">
        <div class="project-item-wrapper">
          <div class="project-item">
          <div class="project-item-thumb">
            <img src="images/project/feature-image3.png" alt="" class="">
          </div>
            <div class="project-item-content">
              <h4>Static Minia</h4>
              <a href="project-details.html" class="stretched-link">UX / UI Design</a>
            </div>
          </div>
        </div>
      </div>

      <!--Project Item-->
      <div class="col-md-6 loading-item">
        <div class="project-item-wrapper">
          <div class="project-item">
          <div class="project-item-thumb">
            <img src="images/project/feature-image4.png" alt="" class="">
          </div>
            <div class="project-item-content">
              <h4>Exclusive Into Video 2021</h4>
              <a href="project-details.html" class="stretched-link">Motion Graphic</a>
            </div>
          </div>
        </div>
      </div>

      <!--Project Item-->
      <div class="col-md-6 loading-item">
        <div class="project-item-wrapper">
          <div class="project-item">
          <div class="project-item-thumb">
            <img src="images/project/feature-image1.png" alt="" class="">
          </div>
            <div class="project-item-content">
              <h4>Static Minia Mobile Apps</h4>
              <a href="project-details.html" class="stretched-link">Mobile Apps</a>
            </div>
          </div>
        </div>
      </div>

      <!--Project Item-->
      <div class="col-md-6 loading-item">
        <div class="project-item-wrapper">
          <div class="project-item">
          <div class="project-item-thumb">
            <img src="images/project/feature-image2.png" alt="" class="">
          </div>
            <div class="project-item-content">
              <h4>Exclusive Themes 2021</h4>
              <a href="project-details.html" class="stretched-link">Themes</a>
            </div>
          </div>
        </div>
      </div>

      <!--Project Item-->
      <div class="col-md-6 loading-item">
        <div class="project-item-wrapper">
          <div class="project-item">
          <div class="project-item-thumb">
            <img src="images/project/feature-image3.png" alt="" class="">
          </div>
            <div class="project-item-content">
              <h4>Solve Data Related Problems</h4>
              <a href="project-details.html" class="stretched-link">Data SoLution</a>
            </div>
          </div>
        </div>
      </div>

      <!--Project Item-->
      <div class="col-md-6 loading-item">
        <div class="project-item-wrapper">
          <div class="project-item">
          <div class="project-item-thumb">
            <img src="images/project/feature-image4.png" alt="" class="">
          </div>
            <div class="project-item-content">
              <h4>Email Marketing 2021</h4>
              <a href="project-details.html" class="stretched-link">Email Marketing</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 text-center mt-8">
        <button  class="btn btn-links btn-lg load-more">
          <span class=" position-relative">
            <i class="ph-arrow-right"></i>
            See More
          </span>
        </button>
      </div>

    </div>
  </div>
</section>