<!--
  ###########
  Project PAge
  ###########
-->
<section class="project pt-lg-8 pt-4 pb-lg-10 pb-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- start isotop-menu -->
        <div class="isotop-menu button-group-home pt-2 mb-lg-6 mb-4">
          <button class="is-checked " data-filter="*">All project</button>
          <button data-filter=".ct1">Marketing</button>
          <button data-filter=".ct2">Design</button>
          <button data-filter=".ct3">Development</button>
        </div>
        <!-- end isotop-menu -->
      </div>
    </div>
    <div class="row  grid" id="grid">
      <div class="col-lg-6 grid-item ct1 ct3 element-item ">
        <!-- start project-item -->
        <div class="project-item">
          <div class="project-item-thumb">
            <img src="../images/project/project-1.png" class="w-100" alt="image">
          </div>
          <h4>Ichhiba Redesign Concept</h4>
          <a href="project-details.html" class="stretched-link">Brand Identity</a>
        </div>
        <!-- end project-item -->
      </div>
      <div class="col-lg-6 grid-item ct2 element-item ">
        <!-- start project-item -->
        <div class="project-item">
          <div class="project-item-thumb">
            <img src="../images/project/project-2.png" class="w-100" alt="image">
          </div>
          <h4>Exclusive New Site Look</h4>
          <a href="project-details.html" class="stretched-link">Software</a>
        </div>
        <!-- end project-item -->
      </div>
      <div class="col-lg-6 grid-item ct2 ct3 element-item ">
        <!-- start project-item -->
        <div class="project-item">
          <div class="project-item-thumb">
            <img src="../images/project/project-3.png" class="w-100" alt="image">
          </div>
          <h4>Exclusive Into Video 2021</h4>
          <a href="project-details.html" class="stretched-link">Motion Graphic</a>
        </div>
        <!-- end project-item -->
      </div>
      <div class="col-lg-6 grid-item ct1 ct2 element-item ">
        <!-- start project-item -->
        <div class="project-item">
          <div class="project-item-thumb">
            <img src="../images/project/project-4.png" class="w-100" alt="image">
          </div>
          <h4>Static Minia</h4>
          <a href="project-details.html" class="stretched-link">UX / UI Design</a>
        </div>
        <!-- end project-item -->
      </div>
      <div class="col-lg-6 grid-item ct3 element-item ">
        <!-- start project-item -->
        <div class="project-item">
          <div class="project-item-thumb">
            <img src="../images/project/project-5.png" class="w-100" alt="image">
          </div>
          <h4>EA Mobile App</h4>
          <a href="project-details.html" class="stretched-link">Website</a>
        </div>
        <!-- end project-item -->
      </div>
      <div class="col-lg-6 grid-item ct2 ct3 element-item ">
        <!-- start project-item -->
        <div class="project-item">
          <div class="project-item-thumb">
            <img src="../images/project/project-1.png" class="w-100" alt="image">
          </div>
          <h4>Exclusive Plugins</h4>
          <a href="project-details.html" class="stretched-link">plugins</a>
        </div>
        <!-- end project-item -->
      </div>
      <div class="col-lg-6 grid-item ct2 ct3 element-item ">
        <!-- start project-item -->
        <div class="project-item">
          <div class="project-item-thumb">
            <img src="../images/project/project-2.png" class="w-100" alt="image">
          </div>
          <h4>Exclusive Into Video 2021</h4>
          <a href="project-details.html" class="stretched-link">Video Edit</a>
        </div>
        <!-- end project-item -->
      </div>
      <div class="col-lg-6 grid-item ct2 ct4 element-item ">
        <!-- start project-item -->
        <div class="project-item">
          <div class="project-item-thumb">
            <img src="../images/project/project-3.png" class="w-100" alt="image">
          </div>
          <h4>Blog Generators</h4>
          <a href="project-details.html" class="stretched-link">Blogs Generator</a>
        </div>
        <!-- end project-item -->
      </div>
      <div class="col-lg-6 grid-item ct1 ct3 element-item ">
        <!-- start project-item -->
        <div class="project-item">
          <div class="project-item-thumb">
            <img src="../images/project/project-4.png" class="w-100" alt="image">
          </div>
          <h4>Exclusive Content Storage</h4>
          <a href="project-details.html" class="stretched-link">Content</a>
        </div>
        <!-- end project-item -->
      </div>
      <div class="col-lg-6 grid-item ct1 ct2 element-item ">
        <!-- start project-item -->
        <div class="project-item">
          <div class="project-item-thumb">
            <img src="../images/project/project-5.png" class="w-100" alt="image">
          </div>
          <h4>Awesome collection of widget</h4>
          <a href="project-details.html" class="stretched-link">Widgets</a>
        </div>
        <!-- end project-item -->
      </div>
    </div>


    <div class="row">
      <div class="col-xl-2 col-lg-3 col-md-3 mx-auto">
        <div class="mt-8">
          <a class="btn btn-links btn-lg showMore " id="showMore">
            <span class=" position-relative">
              <i class="ph-arrow-right"></i>
              See more</span>
            </a>
        </div>
      </div>
    </div>
  </div>
</section>