<!--
  ###########
  HEro Section For Projects
  ###########
-->
<section class="page-hero bg-gray-dark">
  <div class="container">
    <div class="row">
      <div class="@@collClass">
        <div class="page-heading">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page"><a href="@@breadcrumb-link">@@breadcrumb-item-1</a></li>
              <li class="breadcrumb-item active @@displayClass" aria-current="page">@@breadcrumb-item-2 </li>
            </ol>
          </nav>
          <div class="page-heading-content">
            <h1>@@breadcrumb-title</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>