<!-- 
  ########### 
  Project Details Section
  ###########
-->
<section class="project-desc py-8 py-lg-8">
  <div class="container">
    <!--Section Header-->
    <div class="row">
      <div class="col-md-12">
        <div class="prohect-feature-photo mb-9">
          <img src="images/project/feature-image.png" alt="Feature Image" class="w-100">
        </div>
      </div>
    </div>
    <div class="section-header text-start">
      <div class="row">
        <div class="col-md-6">
          <h2>Brand Overview</h2>
        </div>
        <div class="col-md-6">
          <p>If so, you know how amazing and attractive they look. Yes, it is a smart way to grow the reader’s attention, and the moving text inspires the users to concentrate on that specific part, especially.
            Don’t you apply this amazing thing on your website yet? Don’t worry; we are offering our helping hand, just hold.
            </p>
        </div>
      </div>
    </div>
    <div class="section-header text-start">
      <div class="row">
        <div class="col-md-6">
          <h2>Services</h2>
        </div>
        <div class="col-md-6">
          <ul class="list-unstyled service-item-list">
            <li>
              <span>Research & Discovery</span>
            </li>
            <li>
              <span>Prototyping & Interactions</span>
            </li>
            <li>
              <span>Competitive Analysis</span>
            </li>
            <li>
              <span>Motion Graphics</span>
            </li>
            <li>
              <span>Front-End Development</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row gy-4 mb-9">
      <div class="col-md-6">
        <div class="prohect-subfeature-photo ">
          <img src="images/project/feature-image-sub1.png" alt="Sub Feature Image" class="w-100">
        </div>
      </div>
      <div class="col-md-6">
        <div class="prohect-subfeature-photo ">
          <img src="images/project/feature-image-sub1.png" alt="Sub Feature Image" class="w-100">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="section-header text-start">
          <h2 class="mb-4">Visual identity</h2>
          <p class="mb-5">A lot of font generators are there. Definitely, they also offer their own features. But we recommend exclusive Addons animated text generator widgets. Don’t you want to know why? Well, numerous reasons are there for choosing this widget. However, the followings are the primary reasons.</p>
    
          <p> You may have seen the animated text on many other websites, haven’t you?</p>
          <p>If so, you know how amazing and attractive they look. Yes, it is a smart way to grow the reader’s attention, and the moving text inspires the users to concentrate on that specific part, especially.</p>
          <p>Don’t you apply this amazing thing on your website yet? Don’t worry; we are offering our helping hand, just hold.
          If you use the animated text widget of exclusive addons for elementor, it’s a matter of a while to animate your desired text anytime. The widget lets you add free animated text in different styles as you like. In a word, it gives you the option to configure text in your own preference. Can’t you believe it? Let’s see.</p>
        </div>
      </div>
    </div>

    <div class="row gy-4 mb-9">
      <div class="col-md-6">
        <div class="prohect-subfeature-photo ">
          <img src="images/project/feature-image-sub3.png" alt="Sub Feature Image" class="w-100">
        </div>
      </div>
      <div class="col-md-6">
        <div class="prohect-subfeature-photo ">
          <img src="images/project/feature-image-sub4.png" alt="Sub Feature Image" class="w-100">
        </div>
      </div>
      <div class="col-md-6">
        <div class="prohect-subfeature-photo ">
          <img src="images/project/feature-image-sub5.png" alt="Sub Feature Image" class="w-100">
        </div>
      </div>
      <div class="col-md-6">
        <div class="prohect-subfeature-photo ">
          <img src="images/project/feature-image-sub6.png" alt="Sub Feature Image" class="w-100">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="section-header text-start">
          <h2 class="mb-4">The result</h2>
          <p class="mb-5"> Within 30 days after the launch, A lot of font generators are there. Definitely, they also offer their own features. But we recommend exclusive Addons animated text generator widgets. Don’t you want to know why? Well, numerous reasons are there for choosing this widget. However, the followings are the primary reasons.
          </p>
    
          <p> You may have seen the animated text on many other websites, haven’t you?</p>
          <p>If so, you know how amazing and attractive they look. Yes, it is a smart way to grow the reader’s attention, and the moving text inspires the users to concentrate on that specific part, especially.</p>
          <p>If so, you know how amazing and attractive they look. Yes, it is a smart way to grow the reader’s attention, and the moving text inspires the users to concentrate on that specific part, especially.</p>
          <p>Don’t you apply this amazing thing on your website yet? Don’t worry; we are offering our helping hand, just hold/</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <blockquote class="bg-gray-light p-7 mb-9">
          <div class="comment">
            <h3>“Trust their process. They will provide a lot of different options, but generally, they’ve put a lot of thinking behind them.</h3>
            <h3>They’re very experienced and know what they’re doing as designers. If you listen to them, they will help elevate your brand and achieve your goals.” &#128525;</h3>
          </div>
          <div class="comment-author d-flex align-items-center">
            <div class="comment-author-thumb rounded-circle flex-shrink-0 me-5">
              <img src="images/project/profile-picture.png" alt="Profile Picture">
            </div>
            <div class="comment-author-desc flex-grow-1">
              <h4>Kristin Bale</h4>
              <p>Co-founder and CDO</p>
            </div>
          </div>
        </blockquote>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="section-header text-start">
          <h2 class="mb-4">Those who have worked <br>in this project</h2>
          <p class="mb-5"> Within 30 days after the launch, A lot of font generators are there. Definitely, they also offer their own features. But we recommend exclusive Addons animated text generator widgets. Don’t you want to know why? Well, numerous reasons are there for choosing this widget. However, the followings are the primary reasons.
          </p>
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <h3 class="mb-3">Project Management</h3>
        <ul class="list-unstyled service-item-list">
          <li>
            <span>Annette Black</span>
          </li>
          <li>
            <span>Devon Lane</span>
          </li>
          <li>
            <span>Floyd Miles</span>
          </li>
        </ul>
      </div>

      <div class="col-lg-5 offset-lg-2 col-md-6">
        <h3 class="mb-3">Design & Development</h3>
        <ul class="list-unstyled service-item-list">
          <li>
            <span>Courtney Harry</span>
          </li>
          <li>
            <span>Jerome Bell</span>
          </li>
          <li>
            <span>Davod lane</span>
          </li>
          <li>
            <span>Kristin Watson</span>
          </li>
          <li>
            <span>Michel Mason></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>