<!--
  ###########
  Hero Section for Service PAge
  ###########
-->
<section class="services @@padding-class">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="section-header">
          <h2>@@headerText</h2>
          <p>These are the most unique and of course Chef’s favourite in Static Mania. Please click View More to explore
            all the mouth-watering variations.</p>
        </div>
      </div>
    </div>
    <!--start services-item -->
    <div class="row">
      <div class="col-lg-4">
        <div class="services-item text-center ">

          <div class="services-item-icon">
            <img src="../images/service/services-icon-1.svg" alt="services-icon">
          </div>
          <div class="services-item-content">
            <h3>Strategies</h3>
            <p>Strategy formulation is built on "the match between all organisation resources and skills based
              program.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="services-item text-center">
          <div class="services-item-icon">
            <img src="../images/service/services-icon-2.svg" alt="services-icon">
          </div>
          <div class="services-item-content">
            <h3>Analysis</h3>
            <p>Strategy formulation is built on "the match between all organisation resources and skills based
              program.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="services-item text-center ">
          <div class="services-item-icon">
            <img src="../images/service/services-icon-3.svg" alt="services-icon">
          </div>
          <div class="services-item-content">
            <h3>Formula</h3>
            <p>Strategy formulation is built on "the match between all organisation resources and skills
              based program.
            </p>
          </div>
        </div>
        <!--end services-item -->
      </div>
    </div>
  </div>
</section>