<!--
  ###########
  Hero Section for Service Page
  ###########
-->
<section class="service-hero bg-gray-dark pt-9">
  <div class="container">
    <!-- start Service Section -->
    <div class="row work-item-container align-items-center">
      <div class="col-lg-6">
        <!-- start Service item banner section-->
        <div class="work-item">
          <div class="work-item-shape-wrapper">
            <div class="work-item-shape bg-primary-light ">
              <img src="../images/work/work-shap.svg"  alt="hero images">
            </div>
          </div>
          <div class="work-item-wraper ">
            <div class="work-item-wraper-banner">
              <img src="../images/service/service-header-banner.png"  alt="work images">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- start Service Item section-->
        <div class="work-item">
          <div class="work-content service-hero-content">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                  <a href="index.html">Home</a>
                </li>
              </ol>
            </nav>
            <h1 class="service-type text-primary mb-0">
              Services
            </h1>
            <h1 class="service-title">
              We provide for your Bussiness
            </h1>
            <p>Want to be on top of the world? Check out  this magnificent and chic diamond collection!</p>
            <a href="#service-item" class="service-topTobottom">
              <svg width="45" height="63" viewBox="0 0 45 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.4375 1.87695L22.4375 55.5361" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.81641 42.9922L22.4371 55.5359L35.0579 42.9922" stroke="#05AA77" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>