<!--
  ###########
  Service Items
  ###########
-->
<section class="service-item work pb-8" id="service-item">
  <div class="container">
    <!--start Service header section -->
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="section-header">
          <h2>Business Service</h2>
          <p>These are the most unique and of course Chef’s favourite in Static Mania. Please click View More to explore all the mouth-watering variations.</p>
        </div>
      </div>
    </div>
    <!--start Service item section-->
    <!-- start 1st Service item -->
    <div class="row work-item-container align-items-center">
      <div class="col-lg-6">
        <!-- start 1st Service item banner section-->
        <div class="work-item">
          <div class="work-item-shape-wrapper">
            <div class="work-item-shape bg-light-dark ">
              <img src="../images/work/work-shap.svg"  alt="hero images">
            </div>
          </div>
          <div class="work-item-wraper ">
            <div class="work-item-wraper-banner">
              <img src="../images/service/service-item1.png"  alt="work images">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- start 1st Service item content section-->
        <div class="work-item">
          <div class="work-content ">
            <h2 class="">Web Development</h2>
            <p class="">These are the most unique and of course Chef’s favourite in Static Mania. Please click View More to explore all the mouth-watering variations.</p>
            <ul class="list-unstyled service-item-list">
              <li>
                <span>Front-End Development</span>
              </li>
              <li>
                <span>Website Design</span>
              </li>
              <li>
                <span>Product Management</span>
              </li>
              <li>
                <span>Content Strategy</span>
              </li>
              <li>
                <span>Front-End Development</span>
              </li>
            </ul>
            <a href="service-single.html" class="btn btn-links btn-lg ">
              <span class=" position-relative">
                <i class="ph-arrow-right"></i>
                Learn More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- start 2nd Service item -->
    <div class="row work-item-container align-items-center">
      <div class="col-lg-6">
        <!-- start 2st Service item banner section-->
        <div class="work-item">
          <div class="work-item-shape-wrapper ">
            <div class="work-item-shape bg-orange-light">
              <img src="../images/work/work-shap.svg"  alt="hero images">
            </div>
          </div>
          <div class="work-item-wraper">
            <div class="work-item-wraper-banner ">
              <img src="../images/service/service-item2.png"  alt="work images">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ">
        <!-- start 2st Service item content section-->
        <div class="work-item">
          <div class="work-content ">
            <h2 class="">Search Engine Optimization</h2>
            <p class="">These are the most unique and of course Chef’s favourite in Static Mania. Please click View More to explore all the mouth-watering variations.</p>
            <ul class="list-unstyled service-item-list">
              <li>
                <span>Research & Discovery</span>
              </li>
              <li>
                <span>Prototyping & Interactions</span>
              </li>
              <li>
                <span>Competitive Analysis</span>
              </li>
              <li>
                <span>Motion Graphics</span>
              </li>
              <li>
                <span>Front-End Development</span>
              </li>
            </ul>
            <a href="service-single.html" class="btn btn-links btn-lg ">
              <span class=" position-relative">
                <i class="ph-arrow-right"></i>
                Learn More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- start 3st Service item -->
    <div class="row  work-item-container align-items-center">
      <div class="col-lg-6">
        <!-- start 3st Service item banner section-->
        <div class="work-item">
          <div class="work-item-shape-wrapper ">
            <div class="work-item-shape bg-primary-light ">
              <img src="../images/work/work-shap.svg"  alt="hero images">
            </div>
          </div>
          <div class="work-item-wraper ">
            <div class="work-item-wraper-banner">
              <img src="../images/service/service-item3.png"  alt="work images">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- start 3st Service item content section-->
        <div class="work-item">
          <div class="work-content ">
            <h2 class="">Design Service</h2>
            <p class="">These are the most unique and of course Chef’s favourite in Static Mania. Please click View More to explore all the mouth-watering variations.</p>
            <ul class="list-unstyled service-item-list">
              <li>
                <span>Digital Marketing</span>
              </li>
              <li>
                <span>Illustrations & Iconography</span>
              </li>
              <li>
                <span>Mobile App Design</span>
              </li>
              <li>
                <span>UI/UX Design</span>
              </li>
            </ul>
            <a href="service-single.html" class="btn btn-links btn-lg ">
              <span class=" position-relative">
                <i class="ph-arrow-right"></i>
                Learn More</span>
            </a>
          </div>
        </div>
      </div>

    </div>

    <!--End work item section-->
  </div>
</section>