<!--
  ###########
  Hero Section for Service PAge
  ###########
-->
<section class="service-hero bg-gray-dark pt-9">
  <div class="container">
    <!-- start Service Section -->
    <div class="row work-item-container align-items-center">
      <div class="col-lg-6">
        <!-- start Service item banner section-->
        <div class="work-item">
          <div class="work-item-shape-wrapper">
            <div class="work-item-shape bg-primary-light ">
              <img src="../images/work/work-shap.svg"  alt="hero images">
            </div>
          </div>
          <div class="work-item-wraper ">
            <div class="work-item-wraper-banner">
              <img src="../images/service/service-inner-banner.png"  alt="work images">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- start Service Item section-->
        <div class="work-item">
          <div class="work-content service-hero-content">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Web Development </li>
              </ol>
            </nav>
            <h1 class="service-type text-primary">
              Web Development
            </h1>
            <p>Want to be on top of the world? Check out  this magnificent and chic diamond collection!</p>
            <p>These are the most unique and of course Chef’s favourite in Static Mania. Please click View More to explore all the mouth-watering variations.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>