<!-- 
    ########### 
    Team Section On About Page
    ###########
-->
<section class="team bg-gray-light py-8 py-lg-9">
  <div class="container">
    <!--Section Header-->
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="section-header">
          <h2>Our leadership</h2>
          <p>These are the most unique and of course Chef’s favourite in Static Mania. Please click View More to explore all the mouth-watering variations.</p>
        </div>
      </div>
    </div>
    <!-- Team Leader section-->
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="team-wrapper d-grid grid-template-3">
          <!--Team Members-->
          <div class="team-member">
            <img src="images/team/team-member1.png" alt="team-member-thumb" class="team-member-thumb">
            <div class="team-member-details">
              <h4>Marvin McKinney</h4>
              <p>Founder and CEO</p>
              
            </div>
          </div>
          <!--Team Members-->
          <div class="team-member">
            <img src="images/team/team-member2.png" alt="team-member-thumb" class="team-member-thumb">
            <div class="team-member-details">
              <h4>Floyd Miles McKinney</h4>
              <p>Co-Founder and CTO</p>
              
            </div>
          </div>

          <!--Team Members-->
          <div class="team-member">
            <img src="images/team/team-member3.png" alt="team-member-thumb" class="team-member-thumb">
            <div class="team-member-details">
              <h4>Kristin Watson</h4>
              <p>Co-Founder and CTO</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Of Team Leadership-->
  <!--Start Of Team Members-->
  <div class="container pt-9">
    <!--Section Header-->
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="section-header">
          <h2>Team Members</h2>
        </div>
      </div>
    </div>
    <!-- Team Leader section-->
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="team-wrapper d-grid grid-template-3">
          <!--Team Members-->
          <div class="team-member">
            <img src="images/team/team-member4.png" alt="team-member-thumb" class="team-member-thumb">
            <div class="team-member-details">
              <h4>Ammete Black</h4>
              <p>Head of Sales</p>
              
            </div>
          </div>
          <!--Team Members-->
          <div class="team-member">
            <img src="images/team/team-member5.png" alt="team-member-thumb" class="team-member-thumb">
            <div class="team-member-details">
              <h4>Arthor Conan</h4>
              <p>Marketing officer</p>
              
            </div>
          </div>

          <!--Team Members-->
          <div class="team-member">
            <img src="images/team/team-member6.png" alt="team-member-thumb" class="team-member-thumb">
            <div class="team-member-details">
              <h4>Tom Willson</h4>
              <p>Trainer</p>
              
            </div>
          </div>

          <!--Team Members-->
          <div class="team-member">
            <img src="images/team/team-member7.png" alt="team-member-thumb" class="team-member-thumb">
            <div class="team-member-details">
              <h4>Jeromy Bell</h4>
              <p>Designer</p>
              
            </div>
          </div>

          <!--Team Members-->
          <div class="team-member">
            <img src="images/team/team-member8.png" alt="team-member-thumb" class="team-member-thumb">
            <div class="team-member-details">
              <h4>Theressa mac</h4>
              <p>Marketing Cordinator</p>
              
            </div>
          </div>

          <!--Team Members-->
          <div class="team-member">
            <img src="images/team/team-member9.png" alt="team-member-thumb" class="team-member-thumb">
            <div class="team-member-details">
              <h4>Ronald Watson</h4>
              <p>Advisor</p>
              
            </div>
          </div>

        </div>
      </div>
    </div>
    
  </div>
  <!--End Of Team Members-->

</section>