<!-- 
    ########### 
    Team Join Section On About Page
    ###########
-->
<section class="team bg-gray-light pb-lg-9 ">
  <div class="container team-join">
    <!-- start 1st work item -->
    <div class="row work-item-container align-items-center">
      <div class="col-lg-6">
        <!-- start 1st work item banner section-->
        <div class="work-item">
          <div class="work-item-shape-wrapper">
            <div class="work-item-shape bg-light-dark ">
              <img src="../images/work/work-shap.svg"  alt="hero images">
            </div>
          </div>
          <div class="work-item-wraper ">
            <div class="work-item-wraper-banner">
              <img src="../images/about/story2.png"  alt="work images">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- start 1st work item content section-->
        <div class="work-item">
          <div class="work-content">
            <h2 class="">Join Our Team</h2>
            <p class="">These are the most unique and of course Chef’s favourite in Static Mania. Please click View More to explore all the mouth-watering variations.<br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eius mod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="career-details.html" class="btn btn-links btn-lg " >                 
              Join Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>