<!--
  ###########
  Terms And Condition PAges
  ###########
-->
<section class="terms-condition py-8 pt-lg-9 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <article class="">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Static Mania Terms and Conditions</h3>
              <p class="card-text">You may have seen the animated text on many other websites
                Static Mania <a href="#" class="text-primary">https://staticmania.com</a>
                haven’t you?
                If so, you know how amazing and attractive they look. Yes, it is a smart way to grow the reader’s
                attention, and the <span class="text-primary">Privacy Policy</span> moving text inspires the users to
                concentrate on that specific part,
                especially.
                Don’t you apply this amazing thing on your website yet? Don’t worry; we are offering our helping hand,
                just hold.
              </p>
              <p class="card-text">
                If you use the animated text widget of exclusive addons for elementor, it’s a matter of a while to
                animate your desired text anytime. The widget lets you add free animated text in different styles as you
                like. In <span class="text-primary">Privacy Policy</span> a word, it gives you the option to configure
                text in your own preference. Can’t
                you believe it? Let’s see.
              </p>
              <p class="card-text">
                A lot of font generators are there. Definitely, they also offer their own features. But we recommend
                exclusive Addons animated text generator widgets. Don’t you want to know why? Well, numerous reasons are
                there for choosing this widget. However, the followings are the primary reasons.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Our Service</h3>
              <p class="card-text">You may have seen the animated text on many other websites
                Static Mania <a href="#" class="text-primary">https://staticmania.com</a>
                haven’t you?
                If so, you know how amazing and attractive they look. Yes, it is a smart way to grow the reader’s
                attention, and the Privacy Policy moving text inspires the users to concentrate on that specific part,
                especially.
                Don’t you apply this amazing thing on your website yet? Don’t worry; we are offering our helping hand,
                just hold.
              </p>
              <p class="card-text">
                If you use the animated text widget of exclusive addons for elementor, it’s a matter of a while to
                animate your desired text anytime. The widget lets you add free animated text in different styles as you
                like. In <span class="text-primary">Privacy Policy</span> a word, it gives you the option to configure
                text in your own preference. Can’t
                you believe it? Let’s see.
              </p>
              <p class="card-text">
                A lot of font generators are there. Definitely, they also offer their own features. But we recommend
                exclusive Addons animated text generator widgets. Don’t you want to know why? Well, numerous reasons are
                there for choosing this widget. However, the followings are the primary reasons.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Registration</h3>
              <ol class="">
                <li>To use our Service you will need to create an account and complete the registration process at
                  <a href="#" class="text-primary"> https://staticmania.com/signup</a> (Registration).
                </li>
                <li>At Registration, you will select logon credentials for each user of the Service, which may be an
                  employee of the Subscriber or other individuals authorised by the Subscriber to use the Service
                  (Authorised User). Logon details should only be used by the Authorised User to whom they are assigned
                  and cannot be shared with any third parties (including another Authorised User). You are solely
                  responsible for the confidentiality and use of all logon details for your account and those assigned
                  to Authorised Users, as well as for any use or misuse of the Service using Subscriber’s or any
                  Authorised Users’ logon details. You shall notify us immediately if you become aware of any loss,
                  theft or unauthorised use of any logon details, and we reserve the right to delete or change them at
                  any time and for any reason.</li>
                <li>You warrant and represent to us that the details you provide to us during Registration are accurate,
                  complete and up-to-date. We will hold and treat such information in accordance with the terms of our
                  Privacy Policy.
                </li>
                <li>
                  If you or your Participants use a mobile telephone to access our Service, we may need to send SMS
                  messages. You may opt out of this service by replying STOP to the SMS message or by contacting us at
                  <a href="#" class="text-primary">support@staticmania.com</a>.
                </li>
                <li>To ensure that your contact information is accurate and up to date, you agree to immediately notify
                  us of any changes to the information that you provided to us at Registration.</li>
                <li>By applying to register and/or completing Registration, you warrant and represent to us that:</li>
                <li>where you are acting on behalf of a business, you are authorised to act on behalf of that business
                  for the purposes of Registration and use of our Service;</li>
                <li>you are eighteen (18) years of age or older.</li>
              </ol>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>