<!--
  ###########
  Testimonial Section
  ###########
-->
<section class="testimonials bg-gray-light py-8 pt-lg-11 pb-lg-5">
  <div class="container-fluid">
    <!-- section title -->
    <div class="row">
      <div class="col-lg-10 ms-auto overflow-hidden">
        <h2>Testimonials</h2>
        <!-- start off testimonials slider -->
        <div class="slider-wrapper">
          <div class="testimonials-slider position-relative">
            <!-- start off testimonials slider item  one-->
            <div class="card item ">
              <div class="profile">
                <img src="../images/testimonial/testimonial-thumb-2.png" alt="thumb">
                <img src="../images/testimonial/smiel-icon.svg" alt="icon">
              </div>
              <div class="card-body ">
                <div class="icon ">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                </div>
                <h5>Suggests that the top planners spend most of their time engaged in analysis and are
                  concerned with industry.</h5>
                <div class="content">
                  <h6>Kausar Ahmed</h6>
                  <p>Founder of Static Mania</p>
                </div>
              </div>
            </div>
            <!-- start off testimonials slider item  two-->
            <div class="card item ">
              <div class="profile">
                <img src="../images/testimonial/testimonial-thumb-3.png" alt="thumb">
                <img src="../images/testimonial/icon-love.svg" alt="icon">
              </div>
              <div class="card-body ">
                <div class="icon ">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                </div>
                <h5>Suggests that the top planners spend most of their time engaged in analysis and are
                  concerned with industry.</h5>
                <div class="content">
                  <h6>Jak Houman</h6>
                  <p>UI Designer of Rono Pixel</p>
                </div>
              </div>
            </div>
            <!-- start off testimonials slider item  three-->
            <div class="card item">
              <div class="profile ">
                <img src="../images/testimonial/testimonial-thumb-1.png" alt="thumb">
                <img src="../images/testimonial/icon-love.svg" alt="icon">
              </div>
              <div class="card-body">
                <div class="icon ">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                </div>
                <h5>Suggests that the top planners spend most of their time engaged in analysis and are
                  concerned with industry.</h5>
                <div class="content">
                  <h6>Sabo Masties</h6>
                  <p>Founder of Exclusive Addons</p>
                </div>
              </div>
            </div>
            <!-- start off testimonials slider item  four-->
            <div class="card item">
              <div class="profile ">
                <img src="../images/testimonial/testimonial-thumb-1.png" alt="thumb">
                <img src="../images/testimonial/icon-love.svg" alt="icon">
              </div>
              <div class="card-body">
                <div class="icon ">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                  <img src="../images/testimonial/star.svg" alt="icon">
                </div>
                <h5>Suggests that the top planners spend most of their time engaged in analysis and are
                  concerned with industry.</h5>
                <div class="content">
                  <h6>Sabo Masties</h6>
                  <p>Founder of Exclusive Addons</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end off testimonials slider -->
</section>