<!--
  ###########
  Our Works  Section
  ###########
-->
<section class="work bg-gray-light py-8 py-lg-10">
  <div class="container">
    <!-- start work header section-->
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="section-header">
          <h2>Our Work Process</h2>
          <p>These are the most unique and of course Chef’s favourite in Static Mania. Please click View More to explore
            all the mouth-watering variations.</p>
        </div>
      </div>
    </div>
    <!--start work item section -->
    <!-- start 1st work item -->
    <div class="row work-item-container align-items-center">
      <div class="col-lg-6">
        <!-- start 1st work item banner section-->
        <div class="work-item">
          <div class="work-item-shape-wrapper">
            <div class="work-item-shape bg-light-dark ">
              <img src="../images/work/work-shap.svg"  alt="hero images">
            </div>
          </div>
          <div class="work-item-wraper ">
            <div class="work-item-wraper-banner">
              <img src="../images/work/work-bg-1.png"  alt="work images">
            </div>
            <div class="work-shap-one">
              <img src="../images/work/work-shap-1.svg" alt="shape">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- start 1st work item content section-->
        <div class="work-item">
          <div class="work-content ">
            <h2 class="">Create your web masterpiece</h2>
            <p class="">These are the most unique and of course Chef’s favourite in Static Mania. Please click View
              More to explore all the mouth-watering variations.<br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eius mod tempor incididunt ut labore et
              dolore magna aliqua.</p>
            <a href="project.html" class="btn btn-links btn-lg ">
              <span class=" position-relative">
                <i class="ph-arrow-right"></i>
                Learn More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- start 2nd work item -->
    <div class="row work-item-container align-items-center">
      <div class="col-lg-6 order-2 order-lg-1">
        <!-- start 2st work item content section-->
        <div class="work-item">
          <div class="work-content work-left-content">
            <h2 class="">Analysis for your business & create the solution</h2>
            <p class="">These are the most unique and of course Chef’s favourite in Static Mania. Please click View
              More to explore all the mouth-watering variations.<br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eius mod tempor incididunt ut labore et
              dolore magna aliqua.</p>
            <a href="project.html" class="btn btn-links btn-lg ">
              <span class=" position-relative">
                <i class="ph-arrow-right"></i>
                Learn More</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <!-- start 2st work item banner section-->
        <div class="work-item">
          <div class="work-item-shape-wrapper ">
            <div class="work-item-shape right-shape  bg-orange-light">
              <img src="../images/work/work-shap.svg"  alt="hero images">
            </div>
          </div>
          <div class="work-item-wraper">
            <div class="work-item-wraper-banner ">
              <img src="../images/work/work-bg-2.png"  alt="work images">
            </div>
            <div class="work-shap-two">
              <img src="../images/work/work-shap-2.svg" alt="shape">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- start 3st work item -->
    <div class="row  work-item-container align-items-center">
      <div class="col-lg-6">
        <!-- start 3st work item banner section-->
        <div class="work-item">
          <div class="work-item-shape-wrapper ">
            <div class="work-item-shape bg-primary-light ">
              <img src="../images/work/work-shap.svg"  alt="hero images">
            </div>
          </div>
          <div class="work-item-wraper ">
            <div class="work-item-wraper-banner">
              <img src="../images/work/work-bg-3.png"  alt="work images">
            </div>
            <div class="work-shap-three">
              <img src="../images/work/work-shap-3.svg" alt="shape">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- start 3st work item content section-->
        <div class="work-item">
          <div class="work-content ">
            <h2 class="">Handover the final good result.</h2>
            <p class="">These are the most unique and of course Chef’s favourite in Static Mania. Please click View
              More to explore all the mouth-watering variations.<br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eius mod tempor incididunt ut labore et
              dolore magna aliqua.</p>
            <a  href="project.html" class="btn btn-links btn-lg">
              <span class=" position-relative">
                <i class="ph-arrow-right"></i>
                Learn More</span>
            </a>
          </div>
        </div>
      </div>

    </div>

    <!-- 
    ########### 
   End work item section
    ###########
  -->
  </div>
</section>