<!--
  #############
  Footer Area
  #############
-->
<!-- Mark up for Script Section-->
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9rV6yesIygoVKTD6QLf_iCa9eiIIHqZ0&libraries=geometry"></script>
<script src="vendor/jQuery/jquery.min.js"></script>
<script src="vendor/bootstrap/bootstrap.bundle.min.js"></script>
<script src="vendor/prism/prism.js"></script>
<script src="vendor/slick/slick.min.js"></script>
<script src="vendor/aos/aos.js"></script>
<script src="vendor/tweenmax/TweenMax.min.js"></script>
<script src="vendor/parallax/parallax.min.js"></script>
<script src="vendor/g-map/gmap.js"></script>
<script src="vendor/isotop/isotop-package.js"></script>
<script src="vendor/waypoints/waypoints.min.js"></script>
<script src="vendor/counter-up/countup.js"></script>
<script src="js/script.js"></script>
</body>

</html>